[2020-11-04 18:40] mattcary commented on #639
Yeah, that makes sense. I think we should make the noauth method the default one and nudge everyone towards a streamlined setup. So maybe have SA_KEY_CREATE = false by default

[2020-11-05 17:40] mattcary commented on #522
/remote-lifecycle stale

[2020-11-05 17:41] mattcary commented on #519
/close

This issue will be revisited when the various ephemeral proposals sort out.

[2020-11-05 17:41] #519 closed

[2020-11-05 21:45] mattcary commented on #573
/remove-lifecycle stale
/lifecycle frozen

[2020-11-10 03:50] saikat-royc opened #663 "Support VolumeContentSource.VolumeSource for CreateVolume calls"
PD supports creation of disks from source disks.
https://cloud.google.com/sdk/gcloud/reference/compute/disks/create#--source-disk

PD CSI driver should support this capability

CSI spec for CreateVolume request: https://github.com/container-storage-interface/spec/blob/master/csi.proto#L332

[2020-11-10 03:51] saikat-royc commented on #663
/cc @mattcary

[2020-11-10 03:59] msau42 commented on #663
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/161

[2020-11-10 18:24] jingxu97 opened #664 "Windows disk offline when attaching to Windows node due to signature collision"
a disk with same disk signature (if MBR disk) or same partition GUID (if GPT) of another already attached disk, Windows doesn't online automatically the second disk (even if SAN policy is online all). This makes the disk inaccessible.
This is a common case when cloning disks and using them at the same time in the same node (for example in testing, when tests use the same basic snapshot, etc.).

[2020-11-10 18:25] jingxu97 commented on #664
cc @saad-ali @msau42 @mattcary

[2020-11-13 23:45] saad-ali opened #668 "do we need to set default fstype"
Jing left a comment on a PR (https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/658#discussion_r523124224), copying here to ensure it does not get missed:

[2020-11-18 18:09] #469 closed

[2020-11-19 17:23] mattcary commented on #585
/remove-lifecycle stale
/lifecycle frozen

[2020-12-01 21:30] verult opened #680 "Refactor k8s-integration to use GKE go client SDK"

[2020-12-04 13:17] rgarcia89 opened #681 "How to update from an earlier version?"
Hi devs,
I can only find information about how to install or delete the driver.

I remember that last time, that I updated I deleted the old deployment before installing the new one.
Is this still the way to go? If so, should I do this using the delete-driver.sh or what is the preferred method?

It would be nice, if this process could be added to the documentation.
thanks

[2020-12-07 21:34] verult commented on #522
/remove-lifecycle rotten

[2020-12-07 23:41] #525 closed

[2020-12-09 09:13] #545 closed

[2020-12-10 22:36] mattcary commented on #617
Fixed in #582

[2020-12-10 22:36] mattcary commented on #617
/close

[2020-12-10 22:37] #617 closed

[2020-12-21 20:05] #560 closed

[2020-12-22 17:17] mattcary opened #687 "XFS tests failing in 0.7 testgrid"
https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Release%200.7

It seems to be because the v0.6.2 driver image used in this release does not contain the xfs tools.

That's a little weird, because it appears the v0.6.2 release was cut after the xfs tools were added to the docker image. Inspecting the v0.6.2 image shows the tools are definitely n

[2020-12-23 18:33] mattcary commented on #591
/remove-lifecycle rotten
/lifecycle frozen

[2020-12-23 18:58] mattcary commented on #615
/lifecycle frozen
/remove-lifecycle stale

On Wed, Dec 23, 2020 at 10:51 AM fejta-bot <notifications@github.com> wrote:

[2021-01-04 19:34] #523 closed

[2021-01-04 19:34] #524 closed

[2021-01-05 17:03] ialidzhikov commented on #581
/remove-lifecycle stale

[2021-01-05 20:02] mattcary commented on #625
/remove-lifecycle stale

[2021-01-06 01:32] jeremyje opened #690 "Add Support for Windows 2004 and 20H2."
Windows 1909 will be EOL soon so we should add support for Windows Server 2004 and 20H2.

[2021-01-06 17:53] rgarcia89 commented on #681
Any update on that?

[2021-01-06 18:14] mattcary commented on #681
Hi @rgarcia89, sorry for missing this issue.

Using delete-driver and then redeploying should work. It may also work to just rerun deploy-driver which should update everything appropriately, but that would have to be tested. So delete-driver may be safer even if it's overkill.

Have you tested either method? We'd be interested in hearing in problems you ran into.

Thx

[2021-01-06 18:26] rgarcia89 commented on #681
hi @mattcary thanks for the update.
I have not tested it so far as I wasn't sure if running delete-driver could not be causing issues.
However, if this is the way to go, I will try my luck.

Maybe still nice to add this to the official documentation ;)
Thanks

[2021-01-06 18:38] mattcary commented on #681
Thanks!

Yes, I'll keep this issue open so we can update the docs.

On Wed, Jan 6, 2021 at 10:26 AM Raúl Garcia Sanchez <
notifications@github.com> wrote:

[2021-01-07 01:19] #690 closed

[2021-01-13 22:33] vpnachev commented on #581
@msau42 @Jiawei0227 is there any progress on this?
Could you refer an issue or pull request about the CSI spec change?

[2021-01-14 00:06] Jiawei0227 commented on #581
Hey @vpnachev , this is the PR. It is still waiting for some reply. I am expecting to get it submitted after next CSI community meeting which is next week.
https://github.com/container-storage-interface/spec/pull/464

[2021-01-14 16:14] arianitu opened #694 "Behaviour of controller.CreateVolume when a Snapshot is Not Ready?"
I'm having a lot of trouble discovering the behaviour of CSI when it comes to Snapshots that have a `readyToUse` set to false.

Specifically, I have two basic questions:

1. In the case where a PVC is being created from a VolumeSnapshot and that VolumeSnapshot is currently not `readyToUse`, what is the behaviour of the CSI driver? From what I have looked at, it seems like https://github.com/kubern

[2021-01-14 16:52] arianitu commented on #694
Diving into the code [here](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/95ffc203e9aabb8d11f3d7d1572d82ea5e5d3b71/pkg/gce-pd-csi-driver/controller.go#L85).

We see snapshots are assigned like so:

[code]

This snapshotID eventually gets passed to:

[code]

which calls:

[code]

and eventually calls:

[code]

So at the end of the day, the snapshotId gets passed to

[2021-01-14 21:49] arianitu commented on #694
It looks like the behaviour, generally, from looking at https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/482, https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/541 and https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/527 is that the csi-sidecar like I discussed in 1) has a default timeout and `controller.C

[2021-01-15 00:59] annapendleton commented on #694
The csi external provisioner has a check for the snapshot content being ready before calling the pd specific csi-sidecar - so the call does not reach the pd controller.CreateVolume logic linked above.

For code-path, see [controller.go](https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go) lines:
- "getSnapshotSource" call [1053](https://github.com/kubern

[2021-01-15 01:14] annapendleton commented on #694
TLDR; you should not have to do anything extra to get your desired behavior, the csi driver should cover your use case.

[2021-01-15 01:19] msau42 commented on #694
Here's the line in csi that sets the threshold to 0: https://github.com/kubernetes-csi/external-provisioner/blob/41af8a3920bf305cfa2da19f87d62d954c37fc98/cmd/csi-provisioner/csi-provisioner.go#L320

So it retries indefinitely.

[2021-01-15 01:25] #694 closed

[2021-01-15 01:26] arianitu commented on #694
@annapendleton @msau42 Thank you so much for the detailed response, that's great news!

[2021-01-16 02:20] verult opened #695 "Implement extra-create-metadata in CreateSnapshot"
`--extra-create-metadata` was introduced in external-snapshotter 4.0.0.

[2021-01-25 18:44] #574 closed

[2021-02-02 20:12] mattcary commented on #639
/lifecycle frozen

We should add the SKIP_SA_GENERATION as you suggest.

We can do this in the upcoming fixit.

On Tue, Feb 2, 2021 at 10:53 AM fejta-bot <notifications@github.com> wrote:

[2021-02-02 20:15] mattcary commented on #568
/lifecycle frozen

On Tue, Feb 2, 2021 at 9:52 AM fejta-bot <notifications@github.com> wrote:

[2021-02-04 06:18] jingxu97 commented on #664
for PD csi driver, we added disk onlin/offline logic during nodePublish and unpublish. So this issue should be fixed. Waiting for snapshot test case added to confirm.

[2021-02-05 01:47] Jiawei0227 commented on #34
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/449 fixed it.
/close

[2021-02-05 01:47] #34 closed

[2021-02-05 01:49] mattcary commented on #34
/open

Shouldn't we actually use this flag as well to not run the controller on the node pods?

[2021-02-05 03:04] Jiawei0227 commented on #34
Yep. I thought this issue is about adding the flag. We can use the issue to track changing the deployment for sure.

[2021-02-05 05:18] mattcary commented on #34
SG, I started #702.

On Thu, Feb 4, 2021 at 7:04 PM Jiawei Wang <notifications@github.com> wrote:

[2021-02-06 08:53] apit commented on #581
We're using csi-powerscale on Tanzu. the driver tried to register 199 chars-long NodeID,  with workers node FQDN is 139 chars of it. event with the new csiNodeIDMaxLength of 192, we're out of luck :sweat_smile:

[2021-02-06 20:50] Jiawei0227 commented on #581
Hmm, if its FQDN is 139, could you help to check why it is so long? Kubernetes has an object length limit of 253 https://www.google.com/search?q=kubernetes+object+name+length+limit&oq=kubernetes+object+lengt&aqs=chrome.2.69i57j0i22i30l2.5623j1j7&sourceid=chrome&ie=UTF-8

With the CSINode length 192 and some potential prefix/suffix we may or may not add to it. We think 192 is a safe length unless t

[2021-02-07 03:14] apit commented on #581
This is from the registrar container of our Vmware TKGI (aka Enterprise Pivotal K8s Service):

Registration process failed with error: RegisterPlugin error -- plugin registration failed with err: error updating CSINode object with CSI driver node info: error updating CSINode: timed out waiting for the condition; caused by: CSINode.storage.k8s.io "791b277c-3834-450e-9d89-2368f3d8dbb9" is invalid: s

[2021-02-08 19:44] msau42 commented on #504
/reopen
/remove-lifecycle rotten

[2021-02-11 02:17] verult commented on #622
/remove-lifecycle rotten

[2021-02-12 18:48] TeweiLuo opened #709 "Existing cluster check is not correct for GKE"
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/be9a453aa7f6aff194d180d6ae67a67633f76e6b/test/k8s-integration/cluster.go#L148

If there's no cluster in the project/location, the output of "gcloud container clusters list" is

WARNING: The following filter keys were not present in any resource : name

which would mean there's no cluster, but the code treats it as an ex

[2021-02-17 08:56] anemade commented on #608
I am facing the same issue I believe.
I am using server with
[code]

[code]

[2021-02-17 18:37] mattcary commented on #608
/lifecycle frozen

[2021-02-24 18:22] mattcary commented on #340
I've taken over #469 and will submit a new PR shortly.

[2021-02-24 19:28] mattcary commented on #340
/remove-help

[2021-03-07 18:49] #626 closed

[2021-03-08 18:08] verult commented on #680
/remove-lifecycle stale

[2021-03-14 06:50] mattcary opened #721 "GCE cluster up is failing for k8s-integration tests on k/k master."
The symptom is that the e2e-up called from the k8s-integration test on k/k master will hang on waiting for nodes to be ready. Node kubelet logs contain an error like the following.

[code]

And there are additional errors in the kube-addon-manager.log as well.

It appears that the 888.888 git version used in test/k8s-integration/.dockerized-kube-version-defs causes something critical to get remove

[2021-03-14 20:14] mattcary commented on #721
It appears to be due to 3cf9bc547fcd9d3e93bf7ccdbf989fa7d8c32221, which AFAICT makes the handling of api versions more strict when they are removed.

After poking around, I think it will be difficult to get the correct version information from the source archive, and it will probably be easiest to just git clone instead, at least when testing k8s master.

[2021-03-14 21:37] mattcary commented on #721
/cc @saikat-royc
/cc @verult

[2021-03-15 17:57] #721 closed

[2021-03-15 21:36] #340 closed

[2021-03-18 19:38] mattcary opened #727 "Make real e2e test for labels"
Currently we just add labels to the standard storageclass in test/k8s-integration/configs/. This causes problems for test environments that are testing against master.

/assign

[2021-03-19 18:22] gnufied opened #729 "GCP CSI driver does not emit cloudprovider metrics"
The GCP CSI driver does not emit cloudprovider metrics which are emitted by intree cloudprovider.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/gce/metrics.go

[2021-03-19 18:31] mattcary commented on #729
Is this necessary? Especially since the intree cloud provider is changing, it might be nicer if we allow ourselves to figure out the best way to report k8s vs CSI vs cloud provider latencies based on the current state of the world, rather than replicating obsolete metrics.

Even with migration I'm not sure we should continue supporting those metrics from PD CSI as they probably shouldn't be interp

[2021-03-27 00:20] #640 closed

[2021-04-07 05:15] rgarcia89 commented on #681
@mattcary reminder 😉

[2021-04-07 15:36] halradaideh commented on #663
any updates here ?

[2021-04-08 10:30] nsteinmetz opened #739 "Pods can't mount PVC as disk seems not recreated from restore, despite pvc is up."
On a GKE cluster with new csi driver enabled and version `v1.18.16-gke.2100`, I evaluate velero (v1.5 and latest CSI plugin for velero) and volume snapshots.

For snapshots creation, it works well:
* I can see volumesnapshots objects on kubernetes side
* I can see snapshots in the GCP console

When trying to restore content:
* I first delete deployments, pv and pvc from k8s
* then I deleted disks

[2021-04-12 17:47] mattcary commented on #739
I think this may because velero is trying to restore the disk via cloning, which is not supported yet: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/161

[2021-04-12 19:08] mattcary commented on #681
Fair play :-)

/lifecycle frozen
/assign @mattcary

[2021-04-13 01:50] #668 closed

[2021-04-13 08:10] nsteinmetz commented on #739
Thanks, I'll recheck this later as I made a quick POC and will do the final implementation and a more complete bunch of tests in the coming days.

I also noticed that some disks named `restore-*` appeared but I don't know if it was with this driver or the in-tree one. I think the latter.

[2021-04-13 15:49] mattcary commented on #739
If restore-* disks appeared under the in-tree driver then perhaps velero is
using the default storage class somewhere? Unfortunately I'm not familiar
with velero so don't have any constructive advice.

On Tue, Apr 13, 2021 at 1:10 AM Nicolas Steinmetz ***@***.***>
wrote:

[2021-04-13 15:54] nsteinmetz commented on #739
Just tried with CSI again:
* no disk restored as mentionned previously - should be due to the missing cloning support
* if I recreate manually the disk from snapshots and restore via velero pv/pvc, seems I missed something as some content were not restored. But at least deployments are up and running.

I think `restore-*` were from velero for `gcpPersistentDisk` ; I'll confirm tomorrow ;-)

=> clo

[2021-04-13 15:54] #739 closed

[2021-04-14 00:22] mattcary opened #743 "integration tests failing sporadically with kustomize problem"
Kustomize version 3.9.4, which is hardcoded into deploy/kubernetes/install_kustomize.sh, seems to have dropped off of their downloads. We should upgrade to 3.10.0 or 4.0 if possible.

This is causing e2e tests to fail, sporadically for some reason.

/assign

[2021-04-14 00:31] msau42 commented on #743
Removing released versions is also not good... We should talk with kustomize folks about that

[2021-04-14 13:11] nsteinmetz commented on #739
Just for your info: `restore-*` disks are created by Velero when using the PV/PVC with the in-tree driver.

[2021-04-14 15:46] mattcary commented on #743
I'm thinking we should just move over to kubectl apply -k. One less dependency.

I know in the past that there's been problems with changes in kustomize versions breaking us, but hopefully that will be less common now that it's baked into kubectl?

[2021-04-14 23:16] mattcary commented on #743
Mmm, not only does kubectl not support edit (we use kustomize edit set image), but the kubectl kustomize version is apparently set back in version 2.x.

On the other hand, kustomize has an install-kustomize.sh script that just reaches directly to grab a version without seeing if it's listed in the index. So we can just do that, I tested that it still has our 3.9.4 version.

[2021-04-14 23:30] mattcary commented on #743
More background: turns out the issue is not with kustomize, it's that github has a limit of how much is listed in the releases/ index. Kustomize just happens to have a lot of architectures and releases that causes things to fall out of the index pretty quickly. But if you already know the version tag it's still accessible directly.

[2021-04-15 16:42] #743 closed

[2021-04-15 20:24] mattcary opened #745 "test_version not working for test/k8s-integration"
/assign

[2021-04-15 20:24] mattcary commented on #745
/assign

[2021-04-17 00:28] mattcary commented on #745
/open

[2021-04-17 01:16] #745 closed

[2021-04-20 02:18] verult commented on #695
/lifecycle frozen

[2021-04-21 18:18] mattcary commented on #687
/close

[2021-04-21 18:18] #687 closed

[2021-04-26 22:50] TeweiLuo commented on #709
Fixed in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/commit/f60a83a7ec73da6c4adfd019d7a509d9733f0749

[2021-04-26 22:50] #709 closed

[2021-04-26 22:51] TeweiLuo opened #771 "[e2e test] GKE version check should permit more formats"
For GKE sometimes we want to use the latest available version for a minor version, e.g. 1.20. See https://cloud.google.com/kubernetes-engine/versioning#specifying_cluster_version. Currently such version formats are treated as errors.

[2021-04-26 22:51] TeweiLuo commented on #771
/assign TeweiLuo

[2021-04-27 20:54] mattcary commented on #663
/lifecycle frozen

This is in our queue but no specific date yet. (PRs welcome :-)

[2021-04-27 21:47] #771 closed

[2021-05-07 02:15] verult commented on #522
/reopen
/lifecycle frozen

[2021-05-07 05:53] mattcary commented on #522
So we do a kustomize edit set image in the driver deploy, which I don't think can be done with kubectl -k. So we need kustomize around anyway :-/

https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/test/k8s-integration/driver.go#L39

[2021-05-07 23:47] verult commented on #522
Ack. I also just remembered kustomize -k uses a very out-of-date version of kustomize, and I checked sometime within the last 3 months I think.

[2021-05-07 23:47] #522 closed

[2021-05-09 20:50] Jiawei0227 commented on #581
/remove-lifecycle stale
We updated the CSI spec to length limit 256. Will update on the k8s side once csi spec 1.5 is cut

[2021-05-12 06:05] Jiawei0227 commented on #729
I think we should emit cloud provider related metrics in the pd csi driver. This way we get an idea about where the time spend inside the driver. It does not need to be 100% the same name and meaning with the intree cloud provider metric, but we should expose something here.

[2021-05-19 02:06] christian-roggia opened #781 "Snapshots cannot be used imported projects"
This issue is related to the topic discussed here:  https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/224.

According to the documentation, it should be possible to import pre-existing snapshots across projects: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/docs/kubernetes/user-guides/snapshots.md

But this doesn't seem to be t

[2021-05-19 03:37] christian-roggia commented on #781
I confirm that the project is currently hardcoded here:

https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-cloud-provider/compute/gce-compute.go#L768..L777

and here:

https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/common/utils.go#L103...L113

the project is not passed from the full qualified snapshot path down

[2021-06-01 21:56] Jiawei0227 opened #784 "Restoring from a snapshot to a larger size"
As part of https://github.com/container-storage-interface/spec/pull/452

We should make sure the pd driver handles this case correctly according to the CSI spec.

/cc @msau42 @mattcary

[2021-06-04 21:11] #625 closed

[2021-06-09 12:08] msojka411 opened #787 "Create regional snapshot from zonal PVC."
When i'am trying to create volume snapshot from zonal pvc in europe-central2-c zone, then the pd csi driver tries to create volume snapshot of type global/mutli-region EU instead of regional europe-central-2. This is an unacceptable behavior for me as I can only create volumes in the europe-central2 zone.
So I have PVC:

`kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: postgres-tl-pgb

[2021-06-09 15:59] mattcary commented on #787
Thanks for the report! We're looking into it.

[2021-06-10 16:01] mattcary opened #789 "dial timeouts causing test flakes"
eg, https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_gcp-compute-persistent-disk-csi-driver/788/pull-gcp-compute-persistent-disk-csi-driver-kubernetes-integration/1402883733517766656/

/assign @saikat-royc

[2021-06-11 15:56] mattcary commented on #622
/lifecycle frozen

On Thu, Jun 10, 2021 at 7:55 PM fejta-bot ***@***.***> wrote:

[2021-06-11 23:51] saikat-royc commented on #789
starting with one of the basic tests:
Log:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_gcp-compute-persistent-disk-csi-driver/788/pull-gcp-compute-persistent-disk-csi-driver-kubernetes-integration/1403383839518101504/

test: Kubernetes e2e suite: External Storage [Driver: csi-gcepd-sc-standard] [Testpattern: Dynamic PV (ext3)] volumes should store data

Persistent Volum

[2021-06-14 22:10] saikat-royc commented on #789
Running the tests locally I do see a lot of failures in the konnectivity server:

While the pdcsi tests was running with ginkgo parallelism of 10,

First I tried the kubectl logs command which itself timedout:
[code]
Then I logged into the node and check the logs  (`sudo cat /var/log/pods/kube-system_konnectivity-server-e2e-test-saikatroyc-master_4e890bd5a46419844f64db6c409b0337/konnectivity-serve

[2021-06-14 23:11] TeweiLuo opened #791 "Allow users to specify "Storage Locations" in snapshot class"
Current we don't set any storage locations and a default location (https://cloud.google.com/compute/docs/disks/snapshots#default_location) is used. This can be problematic for some users.

[2021-06-17 17:56] mattcary commented on #727
/lifecycle frozen

[2021-06-17 18:15] mattcary opened #792 "Add fsgrouppolicy support to CSIDriver"
I don't think any code changes are needed, it's just adding the fsGroupPolicy field to the CSIDriver object for the appropriate overlays (the actual work here being to figure out the right overlays).

[2021-06-23 23:22] #791 closed

[2021-06-24 12:11] lich1710 opened #794 "Error 403: Required 'compute.snapshots.useReadOnly' permission"
Hi, I am having this issues and thus appreciate your help:

**Background:**

- I did not manually install the driver but enable via GKE console instead, so I assumed all the required roles/iam permission are there?
- I tried to create the PVC from a VolumeSnapshot (which status is already turn to Ready=true)
- Other empty PVC still works fine.

**Error:**

[code]

What I have tried:
- Added 'compu

[2021-06-25 01:36] lich1710 commented on #794
Thanks Mattcary,

I managed to find the SA and assign the permission to it. But the error still happens (Tried recreate the PVC as well).

My permission and roles assignment as below:

[code]

[2021-06-25 23:37] mattcary commented on #794
Ah, I see in your first message the error talks about permissions for
'projects/my-project/global/snapshots/....' Maybe you need to replace
my-project with tko-bsc?

On Thu, Jun 24, 2021 at 6:36 PM lich1710 ***@***.***> wrote:

[2021-07-02 07:42] hua82556281 opened #797 "Labels of pv are missing"
with k8s version 1.17.16, when i use gce-pd to provison pv by storageclass, there are two labels `failure-domain.beta.kubernetes.io/region, failure-domain.beta.kubernetes.io/zone` in pv, you can see it as below
[code]
however, when i switch to pd.csi.storage.gke.io the labels are missing, as below
[code]

in k8s version 1.18.18, both gce-pd and pd.csi.storage.gke.io are missing labels. I am not su

[2021-07-02 16:07] mattcary commented on #797
Those are the beta topology labels. They have been replaced by the topology.kubernetes.io labels, see https://kubernetes.io/docs/reference/labels-annotations-taints/#topologykubernetesiozone for more details.

[2021-07-02 17:33] mattcary commented on #797
Sorry, I got that wrong, this driver adds the topology.gke.io/zone key, see https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/#topology.

[2021-07-04 07:51] #664 closed

[2021-07-04 12:50] hua82556281 commented on #797
hi, thank you for your response. But i think this topology key affects `nodeAffinity` as below, it not located under `labels`.
[code]
should be like this, because velero only recogonize zone information under `labels`.
![image](https://user-images.githubusercontent.com/80674375/124385638-31825000-dd09-11eb-8c75-e06f88bd175b.png)

[2021-07-04 12:52] hua82556281 commented on #797
i want to know how does this driver adds the topology.gke.io/zone under `labels`

[2021-07-05 06:43] AlwaySummit commented on #797
Hi guys, I'm facing the same error which causes the failure of velero backup. As you can see the source code of velero, it looks for the specific label to get zone information.
[code]
If the labels are not found, the value of pvFailureDomainZone is null which results in the error when calling GetVolumeInfo.
[code]
[code]
Any insights or suggestions to make it work again?
BTW, it worked in k8s vers

[2021-07-07 17:04] msau42 commented on #797
I think the issue pointed out here is that the topology labels are put on the PV.Spec.NodeAffinity field, but not in PV.Metadata.Labels like it did for the the in-tree driver.

[2021-07-07 19:21] verult commented on #680
/lifecycle frozen

[2021-07-08 02:34] AlwaySummit commented on #797
Hi @msau42

Thanks for your response. That's correct but these two kinds of labels are a little bit different from each other. As you can see, the label in NodeAffinity is `topology.gke.io/zone`. But the expected label in Metadata is kind of like `failure-domain.beta.kubernetes.io/zone` or `topology.kubernetes.io/zone`.
[code]
BTW, I notice that there is a logic in csi-translation-lib which is mai

[2021-07-08 02:46] AlwaySummit commented on #797
Besides, this is a PV which is created by in tree plugin. No matter the label in metadata or nodeAffinity, they are all the kubernetes label other than `topology.gke.io/zone` which belongs to CSI driver.
[code]

[2021-07-08 17:01] msau42 commented on #797
Sorry I'm trying to get the scenario straight as both intree and csi drivers are mentioned. Can you clarify:
1) Is your storageclass using the intree or csi provisioner?
2) Is CSI migration for gce enabled in your cluster?

[2021-07-08 22:29] #504 closed

[2021-07-09 01:59] hua82556281 commented on #797
1. Both intree and csi I used in storageclass. With k8s version 1.17.16, when i use gce-pd to provison pv by storageclass, there are two labels `failure-domain.beta.kubernetes.io/region, failure-domain.beta.kubernetes.io/zone` in pv. But there is not when use csi.
With k8s version 1.18.18, both of intree and csi all missing labels.
2. disabled In 1.17.16 k8s version. and enabled in 1.18.18 k8s ver

[2021-07-09 15:38] msau42 commented on #797
What version of the csi driver and csi-provisioner sidecar are you using? We need to check the version of csi-translation-lib that you are using.

[2021-07-11 10:50] hua82556281 commented on #797
Hi, actually I am not sure how to check their version. I used the source code `gcp-compute-persistent-disk-csi-driver` to install csi driver, I list the `image.yaml` in `stable-master` to below.
[code]

[2021-07-12 17:42] mattcary commented on #504
/open
/lifecycle frozen

[2021-07-13 06:09] Jiawei0227 commented on #797
Hey @AlwaySummit , can you help to verify the csi-provisioner version you are using? The translation of the topology from CSI to k8s happens in csi-provisioner, so it might be possible you are using an old provisioner that does not have the correct translation implementation.

With k8s version 1.18.18, both of intree and csi all missing labels.

Hey @hua82556281 , I think what you are describing h

[2021-07-13 06:40] hua82556281 commented on #797
Thanks for your response @Jiawei0227. I also checked this part of source code regarding adding kubernetes labels in external-provisioner. but It seems not working, I am not sure is it my problem to use an incorrect version of something.  could you please kindly point out my fault or reproduce this scenario.

[2021-07-13 07:59] Jiawei0227 commented on #797
Can you possibly help to create a volume and check the csi-provisioner log and paste it here for the CreateVolume response? It would also be nice if you can provide the full yaml of the PV?

Also, just want to confirm, can you try find the gce-pd-csi-driver deployment object and describe it and find the provisioner version you are using?

[2021-07-13 09:48] AlwaySummit commented on #797
Hi @Jiawei0227 I just checked the csi driver version that my system is currently using.
![image](https://user-images.githubusercontent.com/20851530/125430284-7ee35f3f-cc4a-4fca-9966-e83d4306f7bd.png)
Besides, the csi-provisioner version that the driver points to is:
![image](https://user-images.githubusercontent.com/20851530/125430571-b50fd549-ad55-4630-9a62-a4b7b55ca4e3.png)
I'm wondering if it i

[2021-07-13 10:00] AlwaySummit commented on #797
And I noticed that you created a PR for the translation on Jan. Is it related to k8s version as well?

[2021-07-13 16:32] Jiawei0227 commented on #797
@AlwaySummit , the csi driver version does not necessarily map to the csi provisioner version. v1.6.0 is definitely the old version. But the best way to check provisioner version is to spect into your cluster and check the gce-pd deployment. And see what is the csi provisioner version there.

The PR is related to translation. But the code we talked about here is specifically used by csi-provisione

[2021-07-14 01:48] hua82556281 commented on #797
Hi, maybe I got what the problem is. when i want to collect the provisioner logs, I found there is 403 error.  It requires 'compute.disks.get' permission, when get the disk it created. I changed the `Project` environment to correct one and re-run `setup-project.sh`. It works. There are labels in `metadata`. But I am confused why csi-driver have permission to create disk but no permission to get.
[

[2021-07-14 06:27] AlwaySummit commented on #797
Hi @Jiawei0227 since my cluster is created via gardener, I checked the version with colleagues and all related versions are described as below:
[code]
I guess we can upgrade the driver version to the latest one and see if it works.

[2021-07-14 16:32] mattcary commented on #797
@hua82556281 The project roles used in our setup script are compute.storageAdmin: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/deploy/common.sh#L22. That should include both the get and create roles.

@AlwaySummit It's probably worth double-checking your project permissions too :-)

[2021-07-14 22:02] Jiawei0227 commented on #797
@AlwaySummit from the output you are using an old version provisioner. So upgrade to the latest should fix it.

@hua82556281 did you get the problem fixed? Can you check your csi-provisioner version?

[2021-07-15 01:51] hua82556281 commented on #797
@Jiawei0227 yes, csi-provisioner Version: v2.2.1

[2021-07-15 01:52] hua82556281 commented on #797
@mattcary I awared of this. thanks for all your response

[2021-07-15 01:56] AlwaySummit commented on #797
@mattcary Sure. Thanks for the reminder.
@Jiawei0227 Thanks for your help. I'll wait for the upgrade and see.

[2021-07-27 10:11] rgonzlz opened #808 "Can't retrieve default zone"
Hello!

I'm tried to create a volume using Nomad 1.1.2 but throw this error:

I check the log and seems to detect it:

I'm using this image version: gcr.io/gke-release/gcp-compute-persistent-disk-csi-driver:v1.2.2-gke.2

Thanks!

[2021-07-28 20:15] chrishenzie opened #809 "Implement ControllerGetVolume RPC in CSI Spec"
CSI spec v1.3.0 introduces the [`ControllerGetVolume` RPC](https://github.com/container-storage-interface/spec/blob/v1.5.0/spec.md#controllergetvolume).

This task will involve implementing the logic for `ControllerGetVolume` and advertising related capabilities to inform clients the RPC is supported.

[2021-08-04 05:57] madhurnawandar commented on #608
Any update on this issue. This is easily reproducible and hitting us frequently

[2021-08-05 21:19] mattcary commented on #608
@madhurnawandar can you post steps to get a repro here?

[2021-08-07 21:29] ialidzhikov commented on #581
/remove-lifecycle stale

[2021-08-09 20:55] msau42 commented on #581
Kubernetes 1.22 increases the limit to 192 characters and Kubernetes 1.23 will allow 256 characters:
https://github.com/kubernetes/kubernetes/pull/98753
https://github.com/kubernetes/kubernetes/pull/101256

Closing the issue here as there are no changes required on the driver side.
/close

[2021-08-10 14:50] mattcary commented on #729
/lifecycle frozen

[2021-08-11 04:56] umeshkumhar commented on #608
@mattcary Hey
This issue is coming as an intermittent issue and we are able to regenerate the issue, when we install 4-5 applications with PVCs in single namespace then one of the application always break with volume mount issue with below error:

[code]

We have tried upgrading gce-pd-csidriver to the latest stable and still the issuer is the same.
Seems the relevant code is https://github.com/ku

[2021-08-11 15:52] mattcary commented on #608
@umeshkumhar We haven't had a chance to reproduce it. Are you able to come up with even an intermittently reproducing test case?

[2021-08-12 01:42] chrishenzie opened #818 "Fix failing csi-sanity tests"
There are three tests in csi-sanity that are currently skipped due to failures.

#### [ListSnapshots [Controller Server] [It] should return snapshots that match the specified source volume id](https://github.com/kubernetes-csi/csi-test/blob/v4.2.0/pkg/sanity/controller.go#L1167)
[code]
This failure requires more investigation to find the root cause.

#### [Node Service NodeExpandVolume [It] should

[2021-08-15 14:48] Bhanukiran117 opened #825 "Need help on migrate in-tree storage class to CSI"
Hi Team,

Cloud you please provide me steps or documentation to migrate pvc/pv created under In-tree(kubernetes.io/gce-pd) to pd.csi.storage.gke.io in google GKE cluster.

Thanks
Bhanu

[2021-08-25 07:11] umeshkumhar commented on #608
@mattcary We just install helm chart for MongoDB, Redis and MySQL with PVCs in a single namespace, At random any PVC will fail and block out ginkgo test execution,

It somethings works fine, that is 1 in 20 execution.

We also tried re-creating new GKE cluster with 1.18.20-gke.901

Please suggest something, its a blocker for us.

[2021-08-31 20:56] Jiawei0227 commented on #784
/remove-lifecycle stale

[2021-09-07 22:57] mattcary commented on #787
Sorry for the delay in reply here. Does the custom storage location support fix your problem? https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/docs/kubernetes/user-guides/snapshots.md#snapshot-example.

This is out in the 1.3.2 release of the driver (and is in-process of being rolled out to the rapid channel for the GKE managed driver).

[2021-09-15 21:58] mattcary commented on #792
/lifecycle frozen

[2021-09-24 06:45] ivanbenko commented on #608
Looks like I'm having the same issue

[code]

[2021-10-02 04:57] scanfield opened #848 "PD --multi-writer doesn't seem to work with GKE/K8S"
TLDR: attaching a --multi-writer PD to 2 GCE VMs works as expected, but if using GKE & exposing the PD as a block device then each pod will not see the other's writes unless the disk is detached and re-attached (e.g. when the pod restarts).

Here's a git repo with reproduction steps: https://github.com/scanfield/mw-repro

I know this is probably on the bleeding edge since --multi-writer is in beta

[2021-10-07 23:11] mattcary commented on #787
I think custom storage location support is the answer. Please reopen if you have further questions. Thanks!

/close

[2021-10-15 22:48] mattcary opened #849 "Memory bloat in driver due to go1.13 use of MADV_FREE"
Lots of new PVs and mounts can cause the node memory to bloat under go1.13 due to its use of MADV_FREE.

Please reach out to me on slack if you want more details, I can put a more complete writeup here. I learned a lot about go memory usage as well as container memory usage vs linux memory tracking :-)

Upgrading to go1.17 fixes the issue.

/assign @mattcary

[2021-10-16 00:35] #849 closed

[2021-11-10 17:53] chrishenzie commented on #818
/remove-lifecycle stale

[2021-11-12 00:15] #789 closed

[2021-11-14 14:48] zetaab opened #867 "labels not supported anymore when creating storageclass"
I have following storageclass:

[code]

When I try to create new volume I can see following in csi-provisioner logs:

[code]

pvc spec:
[code]

We need somekind of mechanism to pass labels to persistent volumes. Otherwise it is impossible to cleanup cluster resources in deletion.

[2021-11-14 15:20] zetaab commented on #867
seems that the documentation is out of date in readme, nowadays we should use `extra-labels` in gce-pd-driver container

[2021-11-15 15:58] mattcary commented on #867
The labels in the storage class should work, see https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/examples/kubernetes/demo-labeled-sc.yaml. What version of the the pd csi driver were you using?

There is also the extra-labels arg as you have also found, which sets the same labels for the whole deployment.

[2021-11-23 00:56] #794 closed

[2021-11-30 11:44] tsmetana opened #872 "Can't use ReadOnlyMany volume restored from Snapshot with controller-publish-readonly provisioner option"
When using the new [`controller-publish-readonly` command-line option](https://github.com/kubernetes-csi/external-provisioner/pull/469) in the external provisioner sidecar, the ReadOnlyMany volumes seem to be still attempted to be mounted read-write. Moreover it looks like when the ROX volume is restored from snapshot, the kubelet still attempts to even create a filesystem on it.

Reproducer:
1. C

[2021-11-30 11:48] tsmetana commented on #872
cc: @humblec -- might be interesting to you...

[2021-11-30 16:40] mattcary commented on #872
/cc @leiyiz

Leiyi has just disabled rw mounting for rox volumes, or at least tried to.

It looks like the disk is actually mounted read-only, maybe there was some problem with the filesystem that made the driver think it wasn't formatted correctly?

[2021-11-30 19:13] leiyiz commented on #872
will need to try that out to be sure... yeah I think mounter somehow think there's no filesystem?

[2021-12-01 04:47] humblec commented on #872
@tsmetana can you please list the PV spec associated with `pvc1-restore` PVC ? also just wondering what are the capabilities (like controller publish, node publish..etc)  this this CSI driver (gce) support.

[2021-12-01 16:42] mattcary commented on #872
@humblec

https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-pd-csi-driver/gce-pd-driver.go#L63

controller publish (GCE PD attach to VM), node stage (mount on host), node publish (bind mount to host mount)

[2021-12-08 00:54] leiyiz commented on #872
the fix is out and this workflow should work once the fix is merged and released

[2021-12-08 04:47] humblec commented on #872
Thanks @mattcary , one other thing I wanted to make sure here was the `readonly` presence in the CSI source once the flag (`--controller-publish`) is ON and the PVC carried ROX access mode.  As I dont have a GCP setup i was looking for describe output of a PV.

[2021-12-08 16:14] mattcary commented on #872
Here's a PV/PVC pair from a GKE cluster (before @leiyiz's fix). Note the PV is ROX but readOnly is not set in the csi spec.

[code]

[code]

[2021-12-08 18:40] leiyiz commented on #872
if you are using external provisioner `3.0.0` and that flag is set, PV should have the `csi.readonly` set. If that is what you are asking

[2021-12-09 22:38] mattcary commented on #663
dup of #161, which is now closed

[2021-12-09 22:38] #663 closed

[2021-12-15 23:27] #872 closed

[2021-12-17 00:56] #161 closed

[2021-12-22 19:06] mauriciopoppe opened #880 "All Windows e2e periodic tests are failing"
All the tests are failing for all the Windows versions in https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#ci-win2019-provider-gcp-compute-persistent-disk-csi-driver

From the logs I see that the Windows nodes couldn't join the Kubernetes cluster.

I've also been trying to set up a k/k cluster with Windows nodes in local volume provisioner in this PR https://github.com/kuber

[2021-12-22 19:11] mauriciopoppe commented on #880
Kept on digging and found out that the `kubelet` didn't start in the Windows node:

[code]

The good logs show that after 10s the kubelet is running however in the logs above it's stopped.

[2021-12-22 19:59] mauriciopoppe commented on #880
Looking at the kubelet logs I saw:

[code]

For `"kubelet running with insufficient permissions" err="error while checking admin group membership: error retrieving group ids: The user name could not be found."` it looks like it's an error that doesn't make the kubelet fail.

For `"Failed to run kubelet" err="failed to run Kubelet: using dockershim is not supported, please consider using a full-fle

[2021-12-22 20:21] mauriciopoppe commented on #880
Found out that we have to migrate to containerd in our prow jobs too https://github.com/kubernetes/test-infra/pull/24602

[2021-12-24 11:48] #808 closed

[2022-01-04 18:03] mattcary commented on #848
/lifecycle frozen

This is still in my queue

[2022-01-06 00:53] mauriciopoppe commented on #880
the containerd issue was fixed in https://github.com/kubernetes/kubernetes/pull/107189, there's a new issue when the images are built addressed in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/884

[2022-01-06 03:26] #639 closed

[2022-01-06 20:09] mauriciopoppe commented on #880
the windows tests are now running https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#ci-win20h2-provider-gcp-compute-persistent-disk-csi-driver, thanks @amacaskill!

/close

[2022-01-11 16:49] mattcary opened #891 "Disk delete should specify zone"
See https://github.com/kubernetes/kubernetes/pull/106819. Does this need to be migrated here or have we already done it?

[2022-01-11 21:13] mauriciopoppe opened #892 "CI tests aren't using the e2e.test binary compiled from the latest kubernetes master codebase"
We're trying to fix a flaky VolumeSnapshot test, after we reordered some of the test statements in https://github.com/kubernetes/kubernetes/pull/107173 we checked [testgrid](https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Latest) and saw that the test was still flaky (for example [this run](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/c

[2022-01-12 14:44] ialidzhikov opened #894 "Support `--version` flag"
/sig storage
/kind feature

**What would you like to be added:**

It is idiomatic and a wide practice a component/binary to have a `--version` flag:

[code]

Currently gcp-compute-persistent-disk-csi-driver does not support such flag:
[code]

**Why is this needed:**
- Sometimes image SHA can be used instead of human readable tags - in such case the --version flag is useful to understand the compon

[2022-01-12 15:58] #825 closed

[2022-01-12 16:44] mattcary commented on #894
Sounds reasonable---if you can come up with a PR I'll look at it!

My instinct would be to keep it simple, basically just repeat the same as what is emitted to metrics on startup.

[2022-01-13 18:15] mauriciopoppe commented on #892
looks I broke Windows with #893, the Windows Prow job does the following:

- the prow job is different, instead of calling the `k8s-integration` binary directly, it provisions a kubernetes cluster with `kubetest`
  - `kubetest` doesn't build kubernetes, it instead downloads the [latest binaries that worked in CI](https://github.com/kubernetes/test-infra/blob/571d6598e9f0ec9baa8d81fec0f15767e2a5841

[2022-01-13 18:20] mattcary commented on #892
Ah. We only recently updated k8s-integration to use kubetest2, must have missed windows. Would it be easier to update the windows test to use kubetest2 so that we're consistent?

[2022-01-25 20:07] mauriciopoppe commented on #892
/reopen

There's one startup error in the Windows nodes:

[code]

[2022-01-26 18:38] mauriciopoppe commented on #892
The startup error was fixed in https://github.com/kubernetes/kubernetes/pull/107769

[2022-01-27 22:07] amacaskill commented on #891
I think this is already done. We know what volume to delete by using the volumeID of the DeleteVolumeRequest. If calling [common.VolumeIDToKey(volumeID)](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-pd-csi-driver/controller.go#L304) doesn't find valid zones, then we return an error.

[2022-01-28 22:09] #784 closed

[2022-01-29 00:05] leiyiz commented on #891
Yup looks like VolumeID will always include topology information.
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/f997312c906d1d3fdce7c98c83e65fb2069909bc/pkg/common/utils.go#L88

[2022-02-03 23:33] damien75 opened #913 "Fix Volume Snapshot from Pre-Existing Snapshot doc"
## Issue Description

The existing [snapshot.md](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/docs/kubernetes/user-guides/snapshots.md) documentation, especially the section `Import a Pre-Existing Snapshot` does not work as is.

## Acceptance Criteria

I suggest to fix it, taking inspiration from the Kubernetes-csi repo and [resource definitions](https://gi

[2022-02-03 23:47] mauriciopoppe commented on #892
Two Windows CI test for ltsc2019 and 20H2 are now passing, the ones that are pending are the migration tests

[2022-02-04 00:47] davidsbond opened #915 "Allow configuring metadata via environment variables."
Hello, I am trying to deploy this CSI driver within a [HashiCorp Nomad](https://www.nomadproject.io/) cluster that is _not_ running within GCP, so that I can use GCE disks as persistent storage for my workloads.

An issue I'm running into in the latest version is that on startup the application expects to be able to query the VM's metadata API. Naturally this isn't possible outside of GCP, so in t

[2022-02-04 00:47] davidsbond commented on #915
I'd be happy to implement this if deemed a good idea

[2022-02-04 19:37] mattcary commented on #915
Can you give a bit more details on your setup? I wasn't aware it was possible to use PD outside of GCP. How does that work? Can you show me an example of attaching a PD manually?

[2022-02-08 09:09] snickell opened #918 "Is gcp-pd the thing patching my PVCs on binding to add a `volumeName:` attr?"
Something has been patching my (supposedly immutable) default storage class (none specified, or specifying `standard`) PVCs lately, patching in a `volumeName` attr on GKE as soon as they are bound.

1. I'm not setting a `volumeName:` attr on my PVCs when I render (checked with a helm render), but when I get them after creation, they now have a volumeName attribute.
2. If helm creates one of these

[2022-02-08 16:41] mattcary commented on #918
The VolumeName is updated by the PV controller as part of the process to bind a PVC with its PV. For details on this and on exactly what the immutability of the PVC means, see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/validation.go#L2165) and [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.g

[2022-02-08 16:41] #918 closed

[2022-02-10 00:00] snickell commented on #918
@mattcary Hi Matt, thanks for the explanation, I appreciate it more than you know! The upstream helm chart indeed is missing a volumeName, its weird that more of the chart's users haven't run into this, given, as you say, this is a long-standing issue with helm3 and PVC's missing volumeNames.  And thank you so much for directing me to those issues on the helm issue tracker, really above and beyond

[2022-02-10 01:10] mattcary commented on #918
👍🏾 happy to help

[2022-03-01 22:06] mattcary opened #924 "Support disk image snapshots"
I believe the right documentation is  https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images for creating, and https://cloud.google.com/compute/docs/disks/create-disk-from-source.

To create the disk image, a parameter could be added to the VolumeSnapshotClass. For restoring, the existing volume cloning support (create from VolumeSource) may just work, or additional pl

[2022-03-03 08:58] IcoveJ opened #925 "The same question as "Unable to deploy driver to k8s cluster: error listing CSINodes: the server could not find the requested resource""
I`m a learner of CSI, and I write a very simple one.
I just implement CreateVolume\Delete\Attach\Detach
In CreateVolume， I simulated a volume：

 56     return &csi.CreateVolumeResponse{
 57         Volume: &csi.Volume{
 58             VolumeId:       "csi-test-volume01",
 59             CapacityBytes:  20 * (1 << 30),
 60             VolumeContext:  req.GetParameters(),
 61         },
 62     }, n

[2022-03-03 16:53] mattcary commented on #925
The error message comes from here: https://github.com/kubernetes-sigs/external-provisioner/blob/master/pkg/controller/topology.go#L118

Probably the CSINode objects have not been configured correctly. Did you install a CSIDriver resource for your driver?

[2022-03-03 19:55] luohao commented on #924
@mattcary I think the following changes need to be made to enable disk image snapshots:

- add disk image _create/delete/list/get_ function to `CloudProvider`
- add a parameter to `VolumeSnapshotClass` and update `CreateSnapshot()` in CSI driver to create snapshots/images based on the `VolumeSnapshotClass` config
- update `InsertDisk()` in `CloudProvider` to check snapshot type and set source appr

[2022-03-03 21:01] mattcary commented on #924
I have only found regional/multi-regional disk images in the doc and the

<https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-cloud-provider/compute/gce-compute.go#L104>
where
we drop the page token entirely and just concatenate all responses into a
single list. That might work too. Can you check the call sites of
ListSnapshots to see if they just always

[2022-03-03 21:22] luohao commented on #924
Thanks @mattcary for the pointers, they are super helpful.

I'll post a PR and we can iterate on that.

/assign @luohao

[2022-03-04 22:34] #913 closed

[2022-03-09 04:42] duythinht commented on #608
I'm facing this issue on pre-emptible node pool, whever a node was preempt, the pods status is changing to ContainerCreating and stuck on mount device

[code]
any update yet on this issue?

[2022-03-10 02:26] mattcary commented on #608
We are actively looking into several related issues. Do you have a reliable reproduction recipie? Thx.

[2022-03-10 17:16] luohao commented on #924
@mattcary  I created a PR(https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/926), but the tests are not running. Looks like it needs verification from maintainers. Can you help with that?

[2022-03-10 18:48] mattcary commented on #924
Sure thing.

Hadn't gotten that far down in my inbox yet :-) Feel free to ping me on
slack in the future if you need things like this moved forward.

On Thu, Mar 10, 2022 at 9:16 AM Hao Luo ***@***.***> wrote:

[2022-03-11 00:24] mattcary commented on #924
implementation PR looks basically good, the next thing to think about after it gets submitted is getting support in k/k e2e tests (which is done here through test/k8s-integration). I **think** we can just add a new snapshot class to the test config, but it needs digging into.

[2022-03-11 17:28] luohao commented on #924
Thanks @mattcary.

I have another patch that adds new test cases in e2e and integration tests. Should I push to the existing PR or create a new PR?

In my patch, I added a new snapshot class that doubles the test configs the test will run(and potentially double the time it runs). Would that be OK or do we need to just create a single test config for disk image snapshot?

[2022-03-11 17:48] mattcary commented on #924
Let's do the e2e & integration tests in a new PR.

I think the new snapshot class that runs all the tests through disk images is the right thing to do---anyway, let's discuss in that PR so we can be concrete, I'm not quite sure what you mean by a single test config here.

[2022-03-14 06:40] bruce2409 opened #928 "Unable to create PVCs as ReadOnlyMany with 1.4.0"
I've recently deployed a new GKE cluster which is running version 1.4.0 of the provided CSI driver and it seems I'm not able to create PVC with the access mode set to ReadOnlyMany.

This just leads to the error: `failed to provision volume with StorageClass "gke-balanced": rpc error: code = InvalidArgument desc = VolumeContentSource must be provided when AccessMode is set to read only`. No PV is c

[2022-03-14 15:44] mattcary commented on #928
Creating disks with access mode read-only many never actually worked in the PD layer: the disk was not actually created as read-only, and so would not be able to be attached to multiple nodes (which is a key use case for read-only disks). This was fixed in 1.4.0.

The right flow for read-only is described here: https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/readonlymany-

[2022-03-14 15:44] #928 closed

[2022-03-18 18:14] #924 closed

[2022-03-21 09:43] lapcchan commented on #608
i have the same problem on gke, it usually happens on preempted node with statefulset pvc template. scale it down to 0 and scale up once again can always fix it.

[2022-03-22 12:34] francoispqt commented on #695
I can take that

[2022-03-24 10:36] maartenjanvangool commented on #797
It seems this issue has not been resolved yet?
We're on GKE 1.21.6-gke.1503 and gke.gcr.io/gcp-compute-persistent-disk-csi-driver:v1.3.4-gke.0

Having the same problem with velero.

[2022-03-24 16:58] mattcary commented on #797
What exactly is going on? In the issue above there were problems that were resolved with different versions of things and different permissions setup.

Your being on GKE narrows down the version problems, at least...

It would probably be most useful to open up a new bug with a complete description of what's going on.

Thanks!

[2022-03-25 20:44] mattcary opened #942 "Attach queued for node error handled incorrectly"
Thanks to @saikat-royc for finding this (and producing the details below).

Steps to repro bug (setup a force mock error in AttachDisk call to simulate failure of Disk API call):

Create a PVC and Pod.

ControllerPublish called. Mock attach error. Driver returns error to caller (external-attacher). Driver also marks the node with error .

[code]

External attacher retries controllerpublish. This t

[2022-03-26 00:33] pwschuurman opened #944 "Add E2E test flags to specify machine type, zone, OS image, architecture"
Currently the E2E tests spin up two GCE VM instances by default. These install:
 * Test Driver
 * PD CSI Driver that accepts CSI calls

In order to test the PD CSI driver on different machine types that may have different configuration, or operating systems that have different dependencies, we should have flags that control:
 * OS Image: Currently this is hard coded
 * Machine Type: Current defaul

[2022-03-26 18:59] #809 closed

[2022-03-28 15:11] mattcary commented on #944
Depending on machine availability we may want to do just internal smoke tests as we do on windows rather than run full integration tests.

[2022-03-28 15:16] #942 closed

[2022-03-28 17:11] reasonerjt opened #947 "Is GKE using the snapshot-controller by sig storage?"
Hi,

This is a noob question for GKE.

I wanna debug an issue when I'm deleting the `VolumeSnapshotContent`.
I tried to check the log of snapshot-controller but I can't find the pod running in the `kube-system` namespace.
[code]

Does GKE apply some customization so the snapshot controller is not running as a pod?  How the creation or deletion of a `VolumeSnapshotContent` is handled?  How may I ch

[2022-03-28 18:14] mattcary commented on #947
Yes, GKE is using the snapshot-controller. However, it is run in the GKE control plane (the same place as kube-controller-manager and the PD CSI driver---note only the PD CSI node pods show up in kube-system). So it is unfortunately not accessible to you. So unfortunately the only information you have is what shows up as events and on the status of the various objects involved (VolumeSnapshot, Vol

[2022-03-28 18:14] #947 closed

[2022-03-29 13:53] maartenjanvangool opened #950 "Persistent Volume Topology labels are missing on dynamically provisioned persistent disks"
As [per request](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/797#issuecomment-1077838318) a new issue.

```GKE 1.21.6-gke.1503``` and ```gke.gcr.io/gcp-compute-persistent-disk-csi-driver:v1.3.4-gke.0```

We're creating persistent volume claims like below:
[code]

and storageclass:
[code]

but when I get the pv I get it without the persistent volume topology lab

[2022-03-29 15:55] mattcary commented on #950
I think this is expected. The node affinity on the PV looks correct, it has two zones which were chosen from the list in the storageclass by the pd driver (as regional PDs have to live in two zones).

There should be topology labels on the PVC that are used to communicate between the scheduler and the provisioner, and of course on the nodes which are used by the PV node affinity. But I don't think

[2022-03-30 07:24] maartenjanvangool commented on #950
Thank you for your response. I am seeing topology labels on our nodes, but _not_ on our created pvc.

I'm going to check with velero on what they are specifically relying on.

[code]
gives me:
[code]

[2022-03-31 07:27] maartenjanvangool commented on #950
As it turns out, it was an issue with Velero. https://github.com/vmware-tanzu/velero/issues/4790. An upgrade to velero fixed it.

Thanks again for your help.

[2022-03-31 07:27] #950 closed

[2022-03-31 14:18] achetronic opened #952 "Enable Workload Identity for container gce-pd-driver"
Hello there,
I have been deploying this driver by hand and I noticed that the ServiceAccount key is a requirement to be on a Kubernetes Secret. I ended to see this after trying to do it using Workload Identity.

In our company we have a Tooling Stack which can adapt to several cloud providers and can construct the annotations for Service Accounts in Kubernetes dynamically on runtime, so out cluste

[2022-03-31 15:02] mattcary commented on #952
On GKE, the driver is available a managed offering and it's not necessary to deploy it manually.

[2022-03-31 15:02] mattcary commented on #952
/close

[2022-03-31 15:02] #952 closed

[2022-03-31 15:06] mattcary commented on #950
👍🏾

[2022-03-31 16:55] achetronic commented on #952
I know it is, but there are some use cases where you are interested on disabling the automatic deployment on gcp and take the ownership doing GitOps.

For example, the csi-driver on EKS can be installed as an addon, but they install some csi containers, but some of them missing (the csi-snapshotter, for example). In the other hand, if you install the package on your own, it is deployed as it, with

[2022-04-01 16:28] #695 closed

[2022-04-06 12:51] cristicbz commented on #608
We are also hitting this with pre-emptible node pools, post pre-emption. GKE 1.22

[2022-04-06 15:29] mattcary commented on #608
We have seen some cases where the disk is attached to the host machine, but a deadlock is happening in the guest OS that is preventing the device from appearing in sysfs (which then explains the error messages above, where the device can't be found).

However we have not been able to reproduce this in order to figure out the root cause. So any further clues you can give would be helpful.

The firs

[2022-04-08 10:05] rgarcia89 opened #961 "Pods need internet access?"
Hi,

I would need to know if the pods need direct access to the internet.
Can someone please provide me that information?

[2022-04-08 15:27] mattcary commented on #961
Can you be a little more specific---which pods, what kind of access, what's the context for this question?

[2022-04-08 16:03] mattcary commented on #961
Hmm, interesting. It depends how your firewall is setup---since you're running on GCE nodes, there is always some access to the internet. The driver connects to the one platform APIs to talk to GCE persistent disk via the standard www.googleapis.com endpoint, but I'm not sure how that's going to look to your firewall.

[2022-04-08 16:08] mattcary commented on #961
Oh, it's probably not going to work then. This driver is for using GCE Persistent Disk, which are used with GCE instances.

For an on-prem case you'll need to use something specific to your infrastructure, eg vsphere.

[2022-04-08 16:09] rgarcia89 commented on #961
Sorry my mistake - the cluster is of course deployed on GCE.

[2022-04-09 19:35] #818 closed

[2022-04-12 12:21] rgarcia89 commented on #961
@mattcary alright I just checked. Pods in the `gce-pd-csi-driver` namespace do not need any access to the internet. So there is no problem in locking down the internet access for this namespace :)

[2022-04-14 17:32] #867 closed

[2022-04-22 19:11] #944 closed

[2022-04-27 03:31] mattcary commented on #894
@ialidzhikov again, PRs are welcome.

[2022-04-27 11:54] ialidzhikov opened #965 "Newly attached disk is wrongly detached by already ongoing `detachDisk` operation in GCP"
/sig storage
/kind bug

**What happened**:
A `ControllerUnpublishVolume` call that for example fails with `failed to poll the operation` or `context deadline excceeded` actually succeeds in the background after 1-2 minutes and wrongly detaches already newly attached disk.

**What you expected to happen**:
`ControllerUnpublishVolume` to be idempotent and to do not have any operations in GCP that de

[2022-04-27 11:55] ialidzhikov commented on #965
/cc @msau42 @mattcary
/priority critical-urgent

[2022-04-27 15:38] mattcary commented on #965
Yes, it's exactly that GCP queuing behavior that this is fixing. It turns out on GCP, there is a per {disk,instance} FILO queue for operations. So if operations are queued up, attach and detach operations will get issued out of order, causing the behavior you see.

[2022-04-27 15:50] dguendisch commented on #965
So #923 in its current form should already be enough for non multi-master setups to solve the issue described here, correct?

[2022-04-27 16:02] mattcary commented on #965
This affects all versions (as you pointed out, the problem is really with the unexpected behavior of GCP queuing that happens when lots of attach/detach operations are going on). It's possible however that recent changes (either to our driver, like the backoff for failed operations, or to k8s, like the new uncertain volume status) have made it more likely to hit this GCP queuing case. I haven't th

[2022-04-27 22:24] mauriciopoppe commented on #892
Current status:

- CI tests are timing out after 1h30m with the error:

[code]

- Migration tests are failing with this error:

[code]

[2022-04-28 16:39] mattcary opened #968 "Memory usage increasing with # cpus, especially with go1.17"
Some aspect of the csi driver uses memory proportional to the number of CPUs on its VM. This appears to be worse with go1.17 (which we recently upgraded to).

This was reported by a customer on GKE who saw OOMs at the 50M container limit we use on GKE clusters, on an n2-standard-32 machines. This was associated with a workload that had 10s of volumes attached to the node (so that there was steady

[2022-04-28 23:47] mattcary commented on #892
I'm working on the timeout error at #966.

Since this is blocking let me make a quick change to remove the snapshot disk image from testing.

[2022-04-29 01:27] #968 closed

[2022-04-29 17:04] insider89 commented on #608
Have same issue on pre-emptible node pool GKE 1.22.8-gke.200.

[2022-04-29 17:43] shandyDev commented on #608
Also same issue:
- Spot instance after re-creating
- v1.22.6-gke.1000

Disk in cloud exists and not attached to node, have annotations:

[2022-04-29 20:40] mattcary commented on #608
@shandyDev if the disk is not attached to the node, it's a different issue. What is the node status---is the volume listed as attached to the node there?

[2022-04-30 15:49] shandyDev commented on #608
@mattcary
Yes, real GCE disk not attached to node (see in cloud console).
All others in k8s show looks fine except one thing: **volume.kubernetes.io/selected-node**  show already not exists node
But PVC has phase: "Bound"
and annotations:
[code]
Node describe (where stateful set) show
`attachable-volumes-gce-pd = 0`

PV also has status "Bound"

[code]

[2022-05-03 15:39] kopaygorodsky commented on #608
I'm facing the same behavior starting from v1.22 using preemptible nodes. PVCs are bound, but no pod can start due to

```MountVolume.MountDevice failed for volume "pvc-bcaacf4b-426b-48a9-9b98-82e9e3c9ad69" : rpc error: code = Internal desc = Error when getting device path: rpc error: code = Internal desc = error verifying GCE PD ("gke-dev-env-e02550df-d-pvc-bcaacf4b-426b-48a9-9b98-82e9e3c9ad69")

[2022-05-03 19:18] pdfrod commented on #608
Just had the same issue today on GKE, also with preemptible nodes and Kubernetes v1.22. Like @shandyDev, when I look at the PVC, there's a `volume.kubernetes.io/selected-node` annotation that is still pointing to the deleted node. The disk itself is not attached to any node.

[2022-05-05 12:36] CarpathianUA commented on #608
+1 the same

[2022-05-05 14:18] k1rk commented on #608
/lifecycle frozen

[2022-05-05 15:37] mattcary commented on #608
If the disk is not attached to any node, that's a different problem.

This issue is for the case when the disk is attached to the VM, but it's not showing up as a guest device.

I suspect these recent issues may be the one anticipated by #951. This is in process of being released in GKE (it's out for new clusters, and upgrades for existing clusters are in process).

[2022-05-06 13:51] pdfrod commented on #608
Alright, I'm upgrading from 1.22.6-gke.200 to 1.22.8-gke.200 (which already includes #951 from what I can see). I'll report back if the problem happens again.

[2022-05-07 09:04] Mokto commented on #608
Same issue on 1.22.8-gke.200.

[2022-05-09 08:40] brancz commented on #608
We've been running into this for a few months now as well (currently on 1.22.7). We'll upgrade and report back again, but happy to investigate together on our cluster(s) if that's helpful!

[2022-05-09 19:13] leiyiz opened #977 "remove Pod Security Policy from deploy/"
PSP is getting removed in Kubernetes 1.25 and has been deprecated since 1.21. We should remove them from `deploy/` before our tests starting to fail

[2022-05-10 00:13] songjiaxun opened #979 "Confusing message from the method `isVolumePathMounted` in node.go"
The method [`isVolumePathMounted`](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/b576f7361f0af3301e60bf08fb26c48f041b7d26/pkg/gce-pd-csi-driver/node.go#L73-L75) in node.go generates message "NodePublishVolume check volume path...", which is confusing because the method `isVolumePathMounted` is being used in both `NodePublishVolume` and `NodeStageVolume` methods.

[2022-05-10 19:08] mauriciopoppe commented on #892
we finally have green runs for both ltsc2019 and 20H2, thanks for the help @mattcary!

[2022-05-10 19:08] #892 closed

[2022-05-11 18:02] mauriciopoppe opened #982 "Windows CI tests are failing with `invalid character ',' looking for beginning of object key string `"
After a few green runs in CI for Windows I saw that the CI jobs failed with the error `invalid character ',' looking for beginning of object key string`, I checked recent merged PRs and none of them seem to be modifying the Makefile paths related with Windows (the closest PR was https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/976).

[2022-05-13 10:52] dllegru opened #987 "`VolumeAttachment` is not able to detach from removed node after `gcloud compute instances delete` or `gcloud compute instances simulate-maintenance-event` command is run"
**What happened:**
After running any of the actions:
-  `gcloud --project <project-id> compute instances delete <node-id-to-delete> --zone=<zone-id>`
- `gcloud --project <project-id> compute instances simulate-maintenance-event <node-id-to-delete> --zone=<zone-id>`
- GCP triggers a `preemption` in a node running in a `spot instance`.

The following happens:
- The selected `<node-id-to-delete>` get

[2022-05-13 10:54] dllegru commented on #987
/kind bug

[2022-05-16 05:37] dllegru commented on #987
We've been doing further analyses from this weekend.

The reported bug also happens when `GCP` is triggering `preemption` in nodes running in `spot instances`.

Also, we have another cluster running in a previous release, where this issue is not reproducing:
**Environment:**
-  GKE Rev: ` v1.22.7-gke.1500`
-  csi-node-driver-registrar: `v2.5.0-gke.0`
-  gcp-compute-persistent-disk-csi-driver: `v1.

[2022-05-17 00:22] mattcary commented on #987
/cc @saikat-royc
/cc @amacaskill

This looks the same as the issue for #960 (and which is fixed by the same)

[2022-05-17 02:16] mattcary commented on #987
And #988

[2022-05-17 02:24] saikat-royc commented on #987
Yes it is. And should be fixed by #988

[2022-05-17 06:54] himadrisingh commented on #987
It even happened when CA killed few of our nodes, new nodes failed.
Even with spot instances terminated by GCP, new nodes were not able to attach the same volume.

[2022-05-17 15:36] mattcary commented on #987
Yes, that's consistent with what we've seen too. The fix mentioned above should deal with that.

[2022-05-17 15:42] mattcary commented on #608
I think the several recent comments should actually refer to #987.

While I appreciate the feedback from the community, it would be helpful to [read the contents of the bug](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/608#issuecomment-1118713178) and try to be accurate about where to post. It's not very helpful if we spend more time figuring out which comments

[2022-05-18 05:23] saikat-royc opened #990 "Sanity test do not work with the PDCSI driver attach detach behavior change"
#988 introduces a behavior change in PDCSI driver controller publish/unpublish call. If any error is encountered in the controller publish or unpublish path, the driver marks the target node with a backoff condition. The implication of this is that, until the backoff time has expired, all ControllerPublish/Unpublish calls for the target node will be directly denied by the driver.

The sanity tests

[2022-05-18 05:23] saikat-royc commented on #990
fyi @mattcary

[2022-05-18 16:16] mattcary opened #991 "Run CSI sanity tests with real cloud provider instead of fakeexec"
It's already causing problems with #972. Refactoring is needed any to deal with the fact that GCP state is carried in a single driver instance across test cases, see #990.

[2022-05-18 17:45] mattcary opened #992 "Bad image repo for stable-1-22 and 1-23 deployments"
Testing for #989 revealed those repos still using the gke.gcr.io repo instead of k8s.gcr.io where images are now.

/assign @mattcary
/cc @saikat-royc

[2022-05-18 21:04] #992 closed

[2022-05-19 20:09] saikat-royc commented on #987
Fixed by #988

[2022-05-19 20:10] #987 closed

[2022-05-20 20:32] pwschuurman opened #998 "Limit ListVolumesResponse to be within CSI response limitations"
gRPC sets an implicit response size limit of 4MB: https://github.com/grpc/grpc/blob/master/include/grpc/impl/codegen/grpc_types.h#L503

This can affect callers of the PD CSI Driver (eg: [csi-attacher](https://github.com/kubernetes-csi/external-attacher/blob/master/pkg/attacher/lister.go#L44)). Ideally the client would set an appropriate gRPC limit. In the absence of this limit however, the GCP CSI

[2022-05-20 21:46] mattcary commented on #998
Ah, interesting. We used to just pass through the oneplatform pagination, but stopped doing that when we had to filter things in the driver. Adding pagination is a little complicated because different instances of the driver my get called between pages. The spec says that paging must not be assumed to be consistent.

[2022-05-20 23:17] pwschuurman commented on #998
Fair, worst case this would just cause us to not list some volumes, which would increase the forceSync churn (and therefore ControllerPublishVolume) for VA objects: https://github.com/kubernetes-csi/external-attacher/blob/master/pkg/controller/csi_handler.go#L188

[2022-05-20 23:18] leiyiz commented on #998
also note that I found out the limit can be lifted, although in this case it'll probably make more sense to limit the disk count per page

[2022-05-20 23:23] mattcary commented on #998
@pwschuurman Yeah I agree

[2022-05-20 23:34] leiyiz commented on #998
How is "which driver's ListVolume get called" decided? is it based on a leader election system or just random?

[2022-05-23 13:56] jenting opened #1000 "Cannot find the container image v1.7.0"
Hello, I cannot find the container image v1.7.0 `k8s.gcr.io/cloud-provider-gcp/gcp-compute-persistent-disk-csi-driver:v1.7.0`,  I see the latest GA stable image is v1.4.0 https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver#project-status.

Is there any plan to release the missing container images?

[2022-05-23 15:41] #977 closed

[2022-05-23 15:44] mattcary commented on #1000
Watch for a PR on https://github.com/kubernetes/k8s.io/blob/main/k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml, it's a manual process and we have to wait for the cloud builder to do its thing after we create a release in the driver repo. Hopefully we should be able to get to it today.

[2022-05-23 18:00] mattcary commented on #1000
There is a problem with the windows version of the cloud build, we're looking into it: https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#post-image-k8s-staging-cloud-provider-gcp.

[2022-05-23 18:53] GregoireW opened #1001 "Some volumeattachments.storage.k8s.io are not cleaned, PV cannot be removed"
Hello,

I got a GKE cluster (1.22.8-gke.200) with csidrivers version 0.11.6 ( image version v1.5.1-gke.0)
At around the same time I got this new csidrivers version,  unused/detached  `volumeattachment` started to pile up (Or I never noticed that before ... ):

[code]

If those attachments cannot be removed, then the PV cannot be removed either and stay in "terminating" state.

The only way I found

[2022-05-23 18:59] mattcary commented on #1001
This looks like #987, qv.

/close (duplicate)

[2022-05-23 19:05] GregoireW commented on #1001
oups...  I did search VolumeAttachments not VolumeAttachment ...

[2022-05-23 20:39] mauriciopoppe commented on #1000
The issue with the Windows image build was fixed in #986, the latest run of https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#post-image-k8s-staging-cloud-provider-gcp succeeded

[2022-05-23 20:40] mauriciopoppe commented on #982
After #986 was merged I saw that the post submit job created the image gcr.io/k8s-staging-cloud-provider-gcp/gcp-compute-persistent-disk-csi-driver:master with these contents for the manifest:

[code]

[2022-05-24 00:03] jenting commented on #1000
Thank you all, can't wait to see v1.7.0 available 🚀

[2022-05-24 17:48] #982 closed

[2022-05-24 18:05] mattcary commented on #982
Awesome, thanks for tracking this.

[2022-05-25 02:00] jenting commented on #1000
Okay, looking forward to see v1.7.1 available 🙏

[2022-05-28 17:09] ialidzhikov commented on #608
/kind bug

[2022-06-03 00:03] mattcary opened #1003 "Regional disks use a different api for ListVolumes"
Regional disks aren't listed along with zonal disks. So they never appear in the list volume calls, meaning they are continually getting re-attached, causing api quota problems and load across the control plane (driver, attacher, etc).

This doesn't immediately cause errors, as the re-attaching is a no-op, and mounting proceeds correctly,

[2022-06-03 18:51] mattcary commented on #965
This should be fixed with the 1.7 release.

/close

[2022-06-03 18:52] #965 closed

[2022-06-06 11:52] Keramblock commented on #987
Hi, @saikat-royc could you provide any ETA about GA for this fix? right now I need to manually fix Prometheus every time spot instance with it is revoked by GCP and I believe that I have same issue.

[2022-06-06 15:41] dllegru commented on #987
@Keramblock @kekscode I've all my GKE clusters running on`v1.22.8-gke.200` and GCP rolled back `gcp-compute-persistent-disk-csi-driver` to `v1.3` and `v1.4` a couple weeks ago, so I'm not having these issues anymore that were induced by `v1.5`.
Also what I understood from GCP is that they rolled it back everywhere so theoretically you should not have `v1.5` of the pd-driver running on your gke clu

[2022-06-06 15:47] mattcary commented on #987
+1 to @dllegru comments. We have rolled back the pd csi component to 1.3.4 on 1.22 clusters---look for the 0.11.4 component version stamped on the pdcsi-node pods (not the daemonset, just the pods).

The 0.11.7 component that has the 1.7.0 driver is enabled for newly created 1.22 clusters, and we're rolling out automatic upgrades over the next week.

[2022-06-06 15:55] Keramblock commented on #987
@mattcary thanks for the answer, will 1.23.5 also be updated?

[2022-06-06 16:04] mattcary commented on #987
We did not roll back the driver in 1.23 as there are new features in it that some customers are testing.

1.23 uses the 0.12 pdcsi component (yes, I know you were worried we wouldn't have enough different version numbers floating around... :-P). The 0.12.2 component is the bad one, the 0.12.4 component is the good one with the 1.7.0 driver. New 1.23 clusters should already be getting the new compo

[2022-06-06 18:49] kekscode commented on #987
@mattcary and @dllegru thanks for the clarification. I switched channels and currently i am on `1.23.6-gke.1500` because my idea was that the rapid channel would have the fix earlier than the normal channels. So i guess this turned out to be a dead end for me at the moment, right?

[2022-06-06 19:20] mattcary commented on #987
Yup :-/

[2022-06-06 21:32] #998 closed

[2022-06-06 22:38] mattcary commented on #998
I'm not sure what I said was correct. A particular attacher, say, is always going to be calling the same instance of ListVolume since they're in the same pod. That driver may go away and a different leader get elected as part of the attacher-controller doing its thing, but I think in that case the listing will have restarted from the beginning.

[2022-06-07 10:34] jsafrane opened #1005 "PVs are provisioned for StorageClasses with unavailable zones"
There is a slight behavioral change between in-tree and migrated GCP PD volume plugin:
* In-tree volume plugin refuses to provision a volume in a GCP zone that does not have a node instance
* The CSI driver provisions a new volume in this case. It does not check (cannot check?) if the requested zone has a node in it. The provisioned PV is then unusable in the cluster.

Steps to reproduce:

1. SC e

[2022-06-07 17:52] mattcary commented on #1005
Yeah, that sounds reasonable.

Looks like our readme needs some love generally.

/assign @mattcary

[2022-06-08 08:35] pdfrod commented on #987
I'm on the same boat as @kekscode. Any estimate when 1.23 will get the fix? Or is there any way to force the correct driver version? I tried to edit the pdcsi-node DaemonSet to set the good driver version, but my changes get immediately reversed.

[2022-06-08 12:17] jenting commented on #1000
Any updates? @mattcary

[2022-06-08 13:43] dllegru commented on #987
@kekscode @pdfrod in case it helps, as a possible workaround I was having in mind to apply but at the end didn't need to do is to actually disable `Compute Engine persistent disk CSI Driver` automatic management from GKE, then manually deploy the service into to the cluster, although never got to test it, theoretically it should be able to be done and there you can ping the version of the desired

[2022-06-08 15:05] kekscode commented on #987
I played with the idea, too, @dllegru. Just a bit afraid i will run into other issues then and either run out of time for debugging those then.

Something else: In the web console in the cluster settings in „Details“ the CSI driver can be disabled and this should then use the „gcePersistentDisk in-tree volume plugin“. I don’t know enough about GCE/GKE to understand the implications, but could this

[2022-06-08 15:59] mattcary commented on #987
No. In GKE 1.22+, [CSI Migration is enabled](https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/gce-pd-csi-driver#requirements), which means that the gce-pd provisioner uses the PD CSI driver as a back end. You either need to use the managed PD CSI driver or manually deploy one as @dllegru mentioned.

The upgrade config is rolling out and is about 15% done (it rolls out zone

[2022-06-08 16:20] mattcary commented on #1000
We're still trying to sort it out. It seems to have built, but there's no 1.7.0 or 1.7.1 tag in the repository.

/assign @amacaskill

[2022-06-08 18:02] mattcary opened #1006 "Flakey deployment in tests"
wait-for-driver.sh only waits the default 30s for the controller to come up. This is too short, eg image pulling can be slower as can be seen in testgrid failures like [this one](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-gcp-compute-persistent-disk-csi-driver-latest-k8s-master-integration/1534339584987500544/build-log.txt).

/assign @mattcary

[2022-06-08 19:18] #1006 closed

[2022-06-08 23:49] mattcary commented on #1000
v1.7.1 is released! https://github.com/kubernetes/k8s.io/pull/3819

Thank you for your patience. The master & stable overlays will be updated shortly.

[2022-06-08 23:49] #1000 closed

[2022-06-09 11:04] aslafy-z opened #1010 "PVCs capacity can exceeds request.storage resource quota"
## Reproduce

- Create a resourcequota as
[code]
- Create a first PVC as
[code]
- Create a second PVC as
[code]
- Check PVCs provisionning
[code]

## Actual behavior

- There is no limitation on the minimum of requested storage
- Kubernetes is doing its validation on this resource.request.storage field which breaks the quota enforcement

## Expected behavior

- gcp-compute-persistent-disk-csi prev

[2022-06-10 11:28] michaelniemand commented on #987
@kekscode: I tried deactivating it which didn't work like @mattcary said. I then re-activated the feature again which appears to have fixed it for now.

Would be great if someone could verify these steps as a temporary workaround:

1. deactivate Compute Engine persistent disk CSI Driver, wait for changes to propagate
2. activate Compute Engine persistent disk CSI Driver, wait for changes to propag

[2022-06-18 19:58] kekscode commented on #987
I am on v1.24.0-gke.1801 now and the component version for CSI is 0.12.4 . So far no issues anymore with ephemeral nodes and volume attachments. I hope this works now.

[2022-06-20 16:13] franciscocpg opened #1016 "Snapshot schedules"
Is there a way to use snapshot schedules?

[2022-06-21 16:22] mattcary commented on #1016
There's no notion of snapshot schedules in the CSI spec; this PD CSI driver does not expose GCE scheduled snapshots.

Unfortunately the best k8s solution is to roll your own scheduling using cron jobs :-/

/close

[2022-06-27 09:14] Ironlink opened #1018 "Feature request: Support specifying PD labels using PVC annotations"
We use PD labels to indicate which team owns a disk, and which product feature a disk is related to. We do this for the purposes of filtering in UIs, as well as for cost analysis.

Currently, PD labels can only be set through the StorageClass. This is inconvenient for us as it leads to an unnecessary number of storage classes, most of which are only used by a small handfull of disks. It would be m

[2022-06-27 17:27] mattcary commented on #1018
In the past the per-storage class labels have worked fine for the use cases I've heard about.

You raise a good point. However to my knowledge the only attributes plumbed through to the CSI request are from the storage class. Plumbing annotations from the PVC itself would require changes to the provisioner sidecar. Maybe it would be best to raise an issue on https://github.com/kubernetes-csi/exter

[2022-06-28 01:42] #891 closed

[2022-06-29 19:07] vishnukarthikl opened #1019 "Accessing PDs from a different GCP project than the GCE node"
Setup:

Have a cluster running on GCE (not GKE) but manually using GCE VMs as nodes in project (say `project-1`).  I want to create the PDs from a different project (say `project-2`). So when I deployed the csi driver on the cluster, I used the

[code]

The controller was successfully deployed and was able to create a PVC successfully. I added a config map to be picked up by the controller to over

[2022-07-03 19:00] iyashu opened #1020 "Feature Request - Allow Configuring Volume Limits Per Node"
As of today, gcp doesn't provides static per volume qos guarantees with mounting multiple volumes per node. See _Multiple disks attached to a single VM instance_  section of [user documentation](https://cloud.google.com/compute/docs/disks/performance#pd-performance_6). It poses a challenge for hosting stateful workloads on large multi tenant clusters where io performance (throughput/iops) of exist

[2022-07-04 20:55] #915 closed

[2022-07-18 21:47] MushuEE opened #1023 "Ginkgo v2 bumps"
CSI driver uses Ginkgo v1

[Here in go.mod](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/go.mod#L13)
[Here in prow.sh](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/release-tools/prow.sh#L97)

These images use `kubetest2` which is already bumped to ginkgov2 flags causing failures:
[code]

[2022-07-18 21:47] MushuEE commented on #1023
https://github.com/kubernetes/kubernetes/issues/109744

[2022-07-18 21:48] MushuEE commented on #1023
https://github.com/kubernetes-sigs/kubetest2/pull/200

[2022-07-18 22:10] mattcary commented on #1023
release-tools/prow.sh is just synced from the kubenetes-csi repo so that will have to be updated generally. I'm not actually sure if that's plumbed through to test/k8s-integration so maybe we can just update the go.mod deps?

[2022-07-18 23:02] mattcary commented on #1023
Probably what you did in the filestore driver should work equally well here?

I'm not sure where the go.mod dependency is used; it looks like kubetest2 pulls ginkgo itself (kubetest2-tester-ginkgo)? Maybe that was a kubetest v1 thing.

[2022-07-19 00:24] mattcary commented on #1023
I've started https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/1024

[2022-07-21 08:44] gauravAggrahari opened #1026 "What is the behaviour of the Driver when Secret is updated"
Hi,
What would be the expected behaviour of the driver when I update the secret.
Do I need to restart the `Dayployment` and `Daemonset` or the changes would be taken dynamically ?

Regards,
Gaurav

[2022-07-22 19:31] mattcary commented on #1026
https://kubernetes.io/docs/concepts/configuration/secret/#mounted-secrets-are-updated-automatically

Since the controller mounts it as a volume, it should work without needing to update the controller? We don't specifically test this scenario, though, so you may need to experiment.

As long as you're not changing the SA in the secret (ie, you're just updating the token), I don't think it would cau

[2022-07-22 19:31] #1026 closed

[2022-07-23 00:39] mattcary commented on #1019
I don't think this is possible---PDs can't be mounted cross-project. That is, an instance in project-1 can't attach a disk from project-2 AFAIU.

[2022-07-23 00:39] #1019 closed

[2022-07-23 01:09] mattcary opened #1029 "Missing disks causes nodes to stick due to backoff"
Around 07/13 issue started when a Pod attempted to use a non-existent volume we'll denote by X (this was a statically created PD, not dynamically provisioned from the driver). Presumably it existed at some point, because it was correctly attached to a node, and the PV, PVC and volume attachment (VA) still exist.

The VA csi-966b5b879f8fb9137a305680db1aff4e38231718d4dbc7883410d7a58530f161 was creat

[2022-07-25 23:04] #1029 closed

[2022-07-31 18:40] #925 closed

[2022-08-16 23:45] mattcary commented on #990
/lifecycle frozen

[2022-08-25 21:14] spiffxp commented on #1023
FWIW this was fixed by https://github.com/kubernetes-sigs/kubetest2/pull/206 if you want to un-pin

[2022-09-05 19:26] ellamacrow98 commented on #928
Hello, I want to add additional software to the live system. But after that, I want to use it like a normal live system (only readable) and don't want to store any temporary data on this drive.

I thought it might be somehow possible by creating a persistent volume and starting loading it into a ramdisk.
Do someone know if something like this is possible with any Linux live system?

[2022-09-06 09:00] #681 closed

[2022-09-07 12:27] aslafy-z commented on #1010
/remove-lifecycle stale

[2022-09-07 12:39] aslafy-z commented on #1010
Opened at https://github.com/kubernetes/kubernetes/issues/112281

[2022-09-14 20:59] mauriciopoppe commented on #880
/reopen

I saw that recent runs are failing again https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#ci-windows-2019-provider-gcp-compute-persistent-disk-csi-driver, the logs say:

[code]

Comparing with a successful run of Linux (pick a run in https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Latest):

[code]

The tests in

[2022-09-15 00:29] mauriciopoppe commented on #880
Reading the logs in detail I saw that a different log message in the same line!

Windows:
[code]

Linux:
[code]

It led me to believe that a different version of kubetest2 is used in Windows/Linux, I checked the top of the logs where the script runs and I see this line set only in Linux:

[code]

[2022-09-15 18:12] mattcary commented on #991
/remove-lifecycle stale

Le jeu. 15 sept. 2022, 10:33, Kubernetes Triage Robot <
***@***.***> a écrit :

[2022-09-15 20:53] mauriciopoppe opened #1047 "Update the Prow Jobs definitions for the Windows OS versions supported"
I saw that even after the fix in #1046 Windows 20H2 is still failing, it might be because SAC is no longer supported.

At the same time check if there's support for ltsc2022, if so then we should also add a prow job for it.

/kind failing-test

[2022-09-24 04:30] #894 closed

[2022-09-30 01:00] jenting opened #1056 "No container image of v1.8.0"
There is no container image of v1.8.0, which means I can't pull image from `k8s.gcr.io/cloud-provider-gcp/gcp-compute-persistent-disk-csi-driver:v1.8.0`

[2022-09-30 15:59] mattcary commented on #1056
After the image is cut, the cloud build pipeline needs to create an image, then it  needs to be promoted from staging, see https://github.com/kubernetes/k8s.io/pull/4294.

It takes a few days for this process to work out.

/close

[2022-09-30 15:59] #1056 closed

[2022-09-30 17:05] mauriciopoppe opened #1057 "Feature Request: Transition the Node component to become a HostProcess Pod"
A HostProcess pod can execute privileged storage operations directly, the idea to use it in PD CSI Driver is:

- Refactor CSI Proxy to become a library.
- Replace the client code in PD CSI Driver that uses the gRPC client with imports of the internal implementation of CSI Proxy.
- Update the node PD CSI Driver Windows manifests adding a section like:

[code]

The design doc is in (TODO: link to KE

[2022-10-06 01:17] mauriciopoppe opened #1061 "Update the Windows node manifests adding the HostProcess Pod fields"

[2022-10-06 01:18] mauriciopoppe opened #1062 "Refactor the Windows node code to use the CSI Proxy library pkg/api code instead of the client/ code"

[2022-10-06 01:20] mauriciopoppe opened #1063 "Verify that the E2E jobs are passing with the Windows node component running as a HostProcess Pod"

[2022-10-06 11:47] bogaertg opened #1064 "add current PD description as disk labels"
Hi,

Currently i have persistent disk created from a persitentVolumeClaims (GKE) and i want to monitor disks performance.
I need to filter disks by (pvc name, namespace) but this informations is store in disk description and i'm not able to use this fied in Cloud monitoring 😞 .

Is it possible to add this information as disks labels in addition to description ?

Regards,
Gaetan

[2022-10-06 15:44] mattcary commented on #1064
Thanks for the issue, this has been on our backlog and I appreciate the ping to bump up its priority.

[2022-10-07 01:36] #979 closed

[2022-10-07 07:34] bogaertg commented on #1064
Thank for your quick answer, can you give me a link to your card in backlog ?

[2022-10-07 11:10] jsafrane commented on #1005
/remove-lifecycle rotten

[2022-10-17 18:02] mattcary commented on #991
/open
/lifecycle frozen

[2022-10-24 22:14] mattcary commented on #1064
(sorry for the delay, this got buried) We have an internal bug list at Google, it's not public, sorry.

[2022-10-25 18:58] mattcary commented on #1018
/lifecycle frozen

[2022-10-31 15:50] mattcary commented on #1003
We're hoping to get to this soon.

[2022-10-31 19:00] leiyiz commented on #1003
fixed in #1050

[2022-10-31 19:01] #1003 closed

[2022-10-31 19:39] alexander-ding opened #1070 "Migrate CSI Proxy to v2"
[KEP 3636](https://github.com/kubernetes/enhancements/issues/3636) migrates CSI Proxy away from releasing a separate Windows binary to directly issuing privileged storage commands in drivers by taking advantage of [HostProcess containers](https://kubernetes.io/docs/tasks/configure-pod-container/create-hostprocess-pod/). After the KEP is approved, drivers should migrate to run as HostProcess contai

[2022-11-11 03:48] jenting commented on #608
@mattcary
We check the dmesg and our error is the same as the above description. We are using the v1.8.0 GCP PD CSI driver version.
1. We found that this error message is shown first.

[code]
3. And then the following _new_ PVC can't be mounted successfully.

[code]

We think the problem is the VM cannot disconnect the disk. We find that
- The kernel messages indicating timeouts related to _virtio

[2022-11-11 17:05] mattcary commented on #608
Thanks, that confirms what we have found internally. GCE is pushing out a fix for a problem where if a PD is detached while there is in-flight IO, the node becomes poisioned and can no longer attach any PDs. The only solution is to delete the node.

The fix for this is being rolled out, but the process is slow and will not be across the whole fleet until the beginning of next year if I understand

[2022-11-11 18:08] msau42 commented on #608
The other half of the issue is why the PD was not able to be cleanly unmounted before detach. https://github.com/kubernetes/kubernetes/pull/110721 may help avoid that, but it seems like there may still be an issue of container teardown or unmount taking too long.

[2022-11-11 22:42] jenting commented on #608
Thank you @mattcary

This is sad.

Where can we know the roll out plan?
Or can we know which GCE regions have fix this issue?

[2022-11-11 22:49] mattcary commented on #608
Yeah :-/

If I understand correctly, the fix is currently in experiment now, which means that random VMs are getting the fix. There is no public tracking of this fix that I know of unfortunately.

[2022-11-14 13:31] kylos101 commented on #608
Hi @mattcary , are you aware of a workaround we might be able to use until the experimental fix is GA? :pray:  It's pretty common for us to run into this issue, because we often detach and attach new PVCs to existing nodes (one PVC for each workload).

[2022-11-15 22:00] mauriciopoppe commented on #880
Fixed in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/1046

[2022-11-15 22:00] #880 closed

[2022-11-16 00:16] vizeit commented on #1064
Can the custom labels applied to a PVC be propagated to the PD? In my use case, I am creating a PVC dynamically for a pod with a custom label for that execution. However, the custom label never gets applied to the PV or PD. The description of the PD has bunch of details including the PVC & PV name and the fix for this issue will help to have additional labels in the PD. But, it will be great to ha

[2022-11-16 16:26] mattcary commented on #1064
Propagating PVC labels is surprisingly complex, as it would cross the k8s-csi API boundary. At first glance it would require us creating a new  PD specific controller to watch for PVC mutations and update PD labels. Hence I think it's infeasible unless we have a large volumes of requests for this.

[2022-11-16 18:21] vizeit commented on #1064
@mattcary thank you for your quick reply. The PD description is able to capture the PVC name, the PV name, the PVC namespace, etc. Which means, if I am not wrong, that the PD probably also has any labels from PVC at the time of creation. Wouldn’t it be possible to capture the PVC labels in the PD description with other existing details and then with this original issue fix apply it to the PD label

[2022-11-16 18:30] mattcary commented on #1064
See https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L624 for details of how the create volume request is made; note this controller is not GCE PD-specific.

[2022-11-16 20:53] vizeit commented on #1064
I see that the logic at this line is probably adding the request parameters that finally go into the PD description,
https://github.com/kubernetes-csi/external-provisioner/blob/626053a0d298a5c58eb91bbe46d856fc167cb065/pkg/controller/controller.go#L718

This logic is using meta functions **GetName** and **GetNamespace** and there is **GetLabels** meta function that can be added to add to the parame

[2022-11-16 23:41] judemars commented on #990
I noticed there are a few more failures now so I am going to pick this up and try to fix them.
[code]

[2022-11-17 03:56] judemars opened #1082 "Tests flaking w/ OAuth errors"
Both the k8s integration and e2e tests have been flaking for me during PR builds with oauth-related errors. I'm not positive they are related but it seems likely.

### E2E

[example](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_gcp-compute-persistent-disk-csi-driver/1080/pull-gcp-compute-persistent-disk-csi-driver-e2e/1592973018382995456), [job history](https://prow.k8s.

[2022-11-17 06:05] judemars commented on #990
Okay so go/pdcsi-oss-driver/pull/1083 fixes the latter 3 of those failures, but the first one still exists.

Note that (as @saikat-royc pointed out to me) the backoff behavior changed from per node to per disk in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/1028, so the order of tests should no longer be a problem.

So presumably *the problem is coming from within

[2022-11-17 07:44] jenting commented on #608
@mattcary
It's interesting. Because of the above community feedback, we did not see any reports mentioning manually detaching the disk.

How can we identify the node that goes into the unusually overloaded state? Will the node state change to NotReady because the node has disk pressure?

Note: we monitored the node state, but none ever went into the NotReady state when we perform the testing.

[2022-11-17 17:09] mattcary commented on #1064
Note all of those references are in the external-provisioner, which is a general CSI service that's not PD specific. So any changes made there would affect all CSI drivers, not just PDCSI. We'd have to make sure that any changes made sense for all drivers. It might be best to start a discussion on that external-provisioner repo; if there was a general mechanism for having annotations appear as vol

[2022-11-17 17:53] mattcary commented on #990
We have another issue open on sanity tests from a little bit ago---I think the basic problem is that the sanity tests are starting to test our mock more than our actual code. At the time I was thinking we would want to change the sanity tests to use an actual gcp client rather than a mock. Then all these problems go away I think, even this third one? But I'm not sure.

[2022-11-17 18:54] judemars commented on #990
Oh alrighty I see https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/991. Do we want to abandon #1083 and work on that instead? Or go ahead with it, fix the other issue (that this bug is about) and then add them as a PR gate so the tests don't get further broken while we work on https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/991?

Sep

[2022-11-17 19:33] mattcary commented on #990
Ah, right you are about the backoff problem. Hmm.

Maybe the best way forward is this: could you summarize what the sanity tests do? Then maybe it will be clear what the assumptions are around mocks and around stateful behavior of the driver.

[2022-11-17 19:56] sunnylovestiramisu commented on #1082
Encountered the same issue with the e2e tests in gcp-filestore-csi-driver.

[2022-11-17 20:01] judemars commented on #990
I summarized the failing test in question above (see steps 1-> 4), but an explanation of all the tests is at https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/README.md. Basically they check basic adherence of our driver to the CSI spec.

[2022-11-17 20:16] mattcary commented on #990
That page doesn't actually describe what's going very well. What exactly is configured? Is a driver process spun up? Is there any organization to the sanity tests?

[2022-11-17 20:38] mattcary commented on #608
It hasn't shown up in the kubelet monitored bits. The thing to look for is in the attacher controller logs in the kube-controller for lots of attach/detach operations, maybe taking a long time (> 30s), and the attacher controller doing a force detach.

[2022-11-17 21:00] judemars commented on #990
Ah sorry - ok [here](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/e95d877c30895c3069b6c83bc8de30abc81b2784/test/sanity/sanity_test.go#L37) is where the tests are configured.

Looks like we mock out:
-  [GCE](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/e95d877c30895c3069b6c83bc8de30abc81b2784/test/sanity/sanity_test.go#L57)
- [Mou

[2022-11-17 21:25] msau42 commented on #1082
https://github.com/kubernetes/test-infra/issues/27157 may be related

[2022-11-17 22:17] mattcary commented on #990
Yeah, that's what I was thinking. It may be that our e2e tests could be made more focused if they overlap with sanity.

I wonder if we could use beforeeach/aftereach stanzas to create a new driver before each test (or recreate it if it's in an error state, if creating one before each test is too expensive), to solve the backoff problem.

[2022-11-17 23:06] judemars commented on #990
I'm still not sure that would help this specific test failure since the backoff occurs (as expected) within the test, which affects the cleanup in a later part of the same test.

[2022-11-18 00:12] mattcary commented on #990
Ah crotte.

[2022-11-18 00:18] mattcary commented on #990
Hmm, the are run in different It()s, so I'd think there'd be some flavor of beforeeach we could use? Is there a beforeDescribe? (there doesn't seem to be, but maybe beforeEach is sufficient?)

[2022-11-18 07:20] judemars commented on #990
They all run in the same It() for this case - [this one](https://github.com/kubernetes-csi/csi-test/blob/e3d351ac3db771d36893f3ee74df1c687a4071ca/pkg/sanity/controller.go#L1001-L1052).

[2022-11-18 18:16] vizeit commented on #1064
I have created an issue under the external-provisioner repo,

https://github.com/kubernetes-csi/external-provisioner/issues/819

[2022-11-21 17:02] mattcary commented on #1064
Thanks!

[2022-11-21 18:12] pwschuurman commented on #990
@saikat-royc Can we change the controller to not put the driver in the backoff condition if the error isn't a "rate limit exceeded" from GCE API? From what I recall, we added node backoff logic in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/847 due to VM queue. I think that would fix the sanity tests, since we're not encountering this specific error (it's a volum

[2022-11-21 18:21] mattcary commented on #990
We also want to backoff if the detach fails due to the node not existing or something like that, right?

I think that the assumption the sanity tests make that the tests are all independent is just wrong and we should fix that---if need be by recreating the driver for each It(.) (which is what ginkgo assumes IIUC).

[2022-11-21 18:28] judemars commented on #990
Re: [my comment above](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/990#issuecomment-1319636504), the problem is happening within one test, one It(). For the one failing test, within one It() we do:

[2022-11-21 18:29] judemars commented on #990
Another possible solution here maybe is to make the backoff conditions RPC-specific? So that failing a publish request would not stop an unpublish request from failing, which seems to be the case here.

[2022-11-21 18:30] pwschuurman commented on #990
@mattcary Is this just to preemptively get ahead of quota issues before they happen? (eg: if a node doesn't exist, presumably we wouldn't want to continue checking and reach 60s user quota limits for the GCE API)

[2022-11-21 18:32] mattcary commented on #990
@judemars in that test you reference, it looks like it only fails at the end of the It()?

[2022-11-21 18:34] mattcary commented on #990
@pwschuurman There's only one quota for all api calls, so if we wait until the detach calls hit quota, we'll have other operations unnecessarily fail.

Also given the problems we have with arcus queuing generally I think that making an effort not to make the problem worse will reduce stability.

I don't think we should change the driver behavior due to limitations in our testing infrastructure.

[2022-11-21 18:35] judemars commented on #990
Correct, it fails w/ a backoff error in the cleanup function at the end of the It(), since a previous call within the test case (still within the same It()) to publish a volume failed (as expected).

[2022-11-21 18:37] mattcary commented on #990
@judemars Making them rpc-specific might be a solution, but since quotas are counted over all RPCs I think we'd get complicated quickly trying to track stuff.

We've already had churn going from per-node backoff to per-node/per-volume backoff. As far as we know, the current system works well in practice, and as mentioned above I'm hesitate to complicate the driver behavior in order to make the tes

[2022-11-21 18:39] mattcary commented on #990
@judemars Oh, interesting, I didn't realize it was the cleanup function that was failing.

In many of the other tests----the GKE guitar ones in particular---we make errors in the cleanup functions informational only, and they don't fail the test. Maybe that would be a better way to do it?

[2022-11-21 18:42] judemars commented on #990
Wouldn't that lead to leaking GCE resources though, if we moved to a real GCE instance backing these tests? Updating these tests to make them informational might be fine if they were specific to our driver but actually they are [shared by all CSI drivers](https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/README.md) so I would guess there's a higher bar for cleanliness.

[2022-11-21 18:48] mattcary commented on #990
Fair point.

If we retried on the cleanup, would that fix it?

[2022-11-21 18:58] judemars commented on #990
Ah yes looks like if we tried after [200ms](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/cd8a6d2b7a6cdb6793c2717e5304ffac55f388f6/pkg/gce-pd-csi-driver/controller.go#L41) it would work. Maybe another option that would let us not have to insert a retry with wait into the shared tests is to set the backoff initial time period way lower for the sanity tests? So that

[2022-11-21 21:27] mattcary commented on #1064
/reopen

(the original question of the pd description appearing as labels is still open & being worked on, sorry for the confusion).

[2022-11-21 22:26] mattcary commented on #990
That could be a good idea.

Since the backoff appears to break the sanity test's assumption of how the driver works, maybe it's okay to set the threshold very low. It seems like the only thing backoff can do is make a false positive failure.

[2022-11-21 22:56] leiyiz opened #1088 "read only volumes should not be expanded and we need OSS ROX testing"
#972 added unconditional filesystem resize and it should not happen for read only volumes. We are not seeing failures in mounting as resizing RO volume only produce an warning but this could have broken ROX functionality.

1. we should not try to expand RO volumes
2. we should write an OSS ROX test ASAP

[2022-11-21 23:04] judemars commented on #990
Alrighty I added #1087 for lowering the backoff duration for sanity tests.

Note I also mocked out what it would look like to have per-RPC backoff conditions in #1089 to see how big of a change it would be and it doesn't look like too much. I personally prefer that approach over #1087 as it doesn't diverge the test and real behaviors of the driver at all, but it's definitely true I don't have the

[2022-11-22 03:40] saikat-royc commented on #990
+1 to #1087 (put my comments in the PR) . I feel #1089 is a large hammer which is not needed at this point in time.

[2022-11-22 04:24] judemars commented on #990
Alrighty, abandoned https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/1089 in favor of https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/1087

[2022-11-22 17:17] mattcary commented on #1088
To clarify, it is the filesystem resize that's the problem, not the volume resize?

[2022-11-23 02:42] judemars commented on #1088
I'll pick this up, can someone who's a contributor please assign it to me :)

[2022-11-23 17:58] mattcary commented on #1088
/assign @judemars

[2022-11-23 19:08] leiyiz commented on #1088
yes, I'll update the issue description

[2022-11-23 20:28] #990 closed

[2022-11-29 18:36] mattcary opened #1093 "Update images to registry.k8s.io"
We're still using k8s.gcr.io.

The [sidecars](https://github.com/kubernetes-csi/external-snapshotter/blob/master/deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml) seem to have updated already.