[2018-06-13 17:55] davidz627 opened #3 "Kubernetes Deployment Readme Suggests Too Broad Permissions"
Originally tried "compute-admin" and "compute-storage-admin" scopes but they seemed to not contain enough permissions for attach.

This is a tracking bug to revisit tightening the scopes required to deploy. If "Attach" is not currently supported in the "compute-admin" scope a bug should be opened against GCE Permissions because it definitely should be.

[2018-06-13 18:52] davidz627 opened #4 "Improve Base Image of Container"
Currently container is using `fedora:26` base image. This is not ideal.

We might want to change it to something more lightweight/secure like alpine or scratch.

/cc @msau42 might have some good ideas

[2018-06-13 20:38] davidz627 opened #5 "Change Naming From "gce-" to "gce-pd-" In All Appropriate Locations"
Everywhere in the project. package, file, directory, type names etc. GCE is not descriptive enough, in most of these places it is specifically gce-pd

[2018-06-13 21:33] davidz627 opened #6 "Use well-tested k8s/k8s Mount utilities for Mount"
k8s/k8s has some pretty well tested and thorough mount utilities. It would be nice to consume them directly instead of copy-pasting the mount utilities into this driver. There is an active issue tracking factoring these utilities out of k8s for easier consumption: https://github.com/kubernetes/kubernetes/issues/64953

[2018-06-13 23:25] davidz627 opened #7 "Support RePD"
Support RePD for GCE PD.

Will likely depend on topology work as well

[2018-06-18 20:53] davidz627 commented on #4
Fixed with #8

[2018-06-18 20:53] #4 closed

[2018-06-18 20:54] davidz627 commented on #3
Fixed with #8

[2018-06-19 00:18] davidz627 commented on #3
compute permissions still break, don't allow disk.create or disk.get even. Tried:
roles/compute.instanceAdmin.v1
roles/compute.admin
roles/compute.storageAdmin

Still using roles/owner for now for it to work. Filed a bug against GCE IAM, waiting for response

[2018-06-19 00:19] davidz627 opened #11 "Support CSI Spec v0.3.0"
https://github.com/container-storage-interface/spec/releases/tag/v0.3.0

/assign

[2018-06-19 00:19] davidz627 opened #12 "Support Snapshots"
[code]

[2018-06-19 00:21] davidz627 opened #13 "Support Topology"
[code]

/assign

[2018-06-19 00:24] davidz627 opened #14 "CI for Github Pull Requests"
We need to integrate with CI for Github Pull Requests.

Should run:
* Sanity Tests
* E2E Tests
* Linter
* ???

[2018-06-20 22:45] davidz627 opened #15 "Container Image Should be Either "Scratch" or "k8s.gcr.io/debian-base-{arch}""
According to security team this would be best.

[2018-06-21 17:32] davidz627 opened #19 "Set MaxVolumesPerNode on NodeGetInfo call based on Node Type"
Currently `NodeGetInfoResponse` returns the default of `0` for `MaxVolumesPerNode` so the CO will decide how many volumes can be published on a node.

For GCE we need to return a different number based on node type as the Max Attachable Volumes depends on the number of vCPUs the instance has.

For the actual limits see:
See: https://cloud.google.com/compute/docs/disks/
"persistent disk limits" sec

[2018-06-21 17:33] #11 closed

[2018-06-21 18:00] #3 closed

[2018-06-25 19:15] davidz627 opened #21 "Use Boskos Client Library to Lease Project in CI"
Right now CI will just create instance in project `dyzz-test` for testing, would be better to "loan" a temporary tenant project using Boskos when the tests are being run on CI.
When the loaned project is released there is an automatic job that cleans up so we don't accidentally leave test artifacts around.

/cc @krzyzacy

[2018-06-25 19:17] davidz627 opened #22 "Make a New CI Config to Run Kubernetes CSI Test(s)"
Depends on: https://github.com/kubernetes/kubernetes/issues/62561

We want to set up a config to run the Kubernetes E2E test for GCE PD here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/csi_volumes.go

[2018-06-25 19:53] davidz627 opened #24 "Change Instances of `kubernetes-sigs` in directories to `sigs.k8s.io`"
`go/src/sigs.k8s.io/gcp-compute-persistent-disk-csi-driver` is the correct directory for naming, not `go/src/github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver`

Needs to be changed.

/cc @krzyzacy

[2018-06-25 23:17] krunaljain opened #28 "Service account file name is hard coded, needs to be configurable"
Currently while deploying the driver, the Service Account environment variable needs to be in the format */cloud-sa.json. Ideally should be configurable based on the variable set by the user.

[2018-06-26 23:42] davidz627 opened #29 "Split CI Tests Into Seperate Runs"
Right now all CI Tests are running under one job `pull-gcp-compute-persistent-disk-csi-driver-test`.

We should split them up based on test type. Ex.
[code]

Each of these should invoke a `go test` or equivalent directly so that test results are streamed through Gubernator propertly.

[2018-06-26 23:45] #14 closed

[2018-06-26 23:51] davidz627 commented on #24
Closed by #27

[2018-06-26 23:51] #24 closed

[2018-06-27 00:21] davidz627 opened #30 "Improve Documentation"
* Add Known Issues
* Add Project Status
* Add Plugin Features (supported parameters)
* Add Future Features
* Add User Guide
  * Improve setup scripts to work every time, with reasonable error messages when variables not defined
* Add Kubernetes Development
* Add Dependency Management Information

[2018-06-28 18:39] davidz627 opened #33 "Add CI Tests for Verification"
Things like:
go vet
go fmt
etc.

Maybe just take some of the ones from test-infra:
https://github.com/kubernetes/test-infra/tree/master/hack

[2018-06-28 18:41] davidz627 opened #34 "Add Flag to Driver for Controller or Node Mode"
Add a flag `--node` to turn on the node server, `--controller` to turn on the controller server. They should both default to false.

Currently every driver runs all the node, controller, and identity servers by default.

[2018-06-28 18:42] msau42 commented on #34
Could potentially also look into building them into separate binaries too

[2018-06-28 19:10] #21 closed

[2018-06-28 22:52] #33 closed

[2018-06-29 20:59] davidz627 opened #37 "Improve Deployment Scripts"
- [x] Make GCP service account token file user configuratable
- [x] Figure out actual minimal permissions set required for GCP service account
- [ ] Make namespace configurable

[2018-07-02 22:05] davidz627 opened #39 "Run E2E Tests With Containerized Driver"
Currently E2E tests just copy the binary onto an instance to run the tests. They should run the tests with the containerized version of the driver because that is what the end user will likely be consuming, it will also detect errors in the containerization process.

[2018-07-02 22:48] davidz627 opened #40 "Node DaemonSet in Kubernetes Deployment Should Not Run On Master"
Currently the Daemonset constantly attempts to create the pod on master and fails because of resource limits. We should stop scheduling on master so that it does not continually loop attempted creation.

This is high priority as we have seen the daemonset pod kick off the api server from the master putting the whole cluster in a bad state.

[2018-07-02 23:02] msau42 commented on #40
Looking at my master node,
[code]

My master daemonset pod:
[code]

@janetkuo, do you know how to prevent daemonset pods from being scheduled on the master?

[2018-07-02 23:03] msau42 commented on #40
(this is gce, not gke)

[2018-07-03 00:04] #5 closed

[2018-07-03 00:17] davidz627 commented on #40
From https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/:
[code]

Looks like taints are respected though, but my thought is tainting the master node could have unwanted side-effects

[2018-07-03 00:19] davidz627 opened #42 "Flakey pull-gcp-compute-persistent-disk-csi-driver-e2e"
The E2E test on CI is really flaky. Needs investigation.

[2018-07-03 17:31] davidz627 opened #43 "ControllerPublishVolume should Verify Disk Attached"
After the attach call, and waiting for the attach op to complete. Sometimes the attach will not error but the disk will not be attached.

We should add an additional verification to make sure that the disk has been attached. We can see this on the disk object:
[code]
OR on the instance there is AttachedDisks.

[2018-07-03 18:17] davidz627 opened #45 "Convert all "TODO" to Github issues"
Codebase is currently littered with TODO's, some attributed to nobody/nothing and some to `dyzz`.

We should clean up the TODOs and create a github issue for each then link the Github issue in the TODO for tracking purposes

[2018-07-03 18:20] davidz627 commented on #29
Done in Multiple PRs:

https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/36
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/27
https://github.com/kubernetes/test-infra/pull/8502
https://github.com/kubernetes/test-infra/pull/8500
https://github.com/kubernetes/test-infra/pull/8494

[2018-07-03 18:20] #29 closed

[2018-07-03 18:25] davidz627 opened #46 "Unit tests for controller"
Need to add unit tests for controller calls

[2018-07-03 18:30] #43 closed

[2018-07-03 18:31] davidz627 opened #47 "Unit tests for Identity"

[2018-07-03 18:31] davidz627 opened #48 "Unit tests for Node"

[2018-07-03 18:32] davidz627 opened #49 "Run unit tests in CI"
Depends on #46 #47 #48

[2018-07-03 20:52] #15 closed

[2018-07-03 22:32] davidz627 opened #52 "Sample Deployment should point to Stable Driver Image"
/assign

Currently points to my personal staging image which is changing all the time

[2018-07-09 20:17] davidz627 opened #53 "WaitForOp should also error on Status Error"
For some operations the operation poll doesn't actually return an error but there is an error on the field on the op itself.

"You can see that a 200 OK was returned and the operation has status=DONE, but there's an "error" field on the operation you should be looking at.

So your code should probably look at pollOp.error in addition to err.

There are additional fields "httpErrorStatusCode" and "

[2018-07-10 13:06] saad-ali opened #55 "Makefile does not define GCE_PD_CSI_STAGING_IMAGE variable"
Makefile defines:
[code]
But provides no default, so if that environment variable is not set, `make build-container` fails.

[2018-07-10 13:12] saad-ali commented on #55
Also no documentation on what that variable is for.

[2018-07-10 21:37] #42 closed

[2018-07-10 21:51] #47 closed

[2018-07-10 22:36] davidz627 commented on #49
CI add:
https://github.com/kubernetes/test-infra/pull/8641

[2018-07-10 22:46] #46 closed

[2018-07-10 23:07] #49 closed

[2018-07-11 09:16] saad-ali opened #60 "Makefile prod-build-container fails"
[code]

[2018-07-11 13:32] #60 closed

[2018-07-11 18:44] davidz627 opened #64 "Raw Block Device Support"
We want to support raw block device in the driver

/assign @verult

[2018-07-11 18:46] davidz627 commented on #37
Ideally the user can run 1 script for an End to End deployment, that checks whether things (service account, role bindings, json keys) already exist, and if not, creates them, then is able to deploy the driver. And maybe even clean up the key from the machine afterwards.

[2018-07-11 18:46] davidz627 commented on #37
/cc @msau42 Does this seem like a reasonable thing to do ^

[2018-07-11 18:50] msau42 commented on #37
Sure sounds reasonable

[2018-07-11 18:51] davidz627 commented on #52
Fixed by: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/59

[2018-07-11 18:51] #52 closed

[2018-07-11 23:02] davidz627 opened #65 "E2E Framework Overhaul"
E2E Framework should actually run locally, we can create instances (possibly multizonal) that run the driver binary that actually exposes their endpoint as an SSL secured TCP endpoint:
https://grpc.io/docs/guides/auth.html#examples

This way the e2e tests can actually spin these instances up, and spin up a grpc client that we use to call these instances for the tests.

This makes the multi-zonal t

[2018-07-16 14:41] saad-ali opened #66 "Deployment of driver fails on GKE: assumes that the creator is cluster-admin"
From Leonid:

[code]

I verified his recommendation got me past this issue.

[2018-07-16 14:46] saad-ali opened #67 "Deployment of driver fails on GKE: Unknown user"
I see the following when deploying to GKE:

[code]

But kubectl shows that the account exists:

[code]

Also see this error:

[code]

But kubectl shows the clusterrolebinding exists

[code]

[code]

[2018-07-16 14:47] msau42 commented on #66
Ah I think this is the issue that in order to create a clusterrole, you need to be cluster admin, and gke doesn't map the Kubernetes admin role to your IAM account by default.

[2018-07-16 18:43] davidz627 commented on #67
I have been unable to reproduce this issue. What version of GKE are you using?

I find it very strange that the cluster is showing the objects exist but the errors seem to be saying that they don't. And at this point everything is just done in the default namespace so I dont see that being a problem right now.

I'm going to push an update to solve: https://github.com/kubernetes-sigs/gcp-compute-pe

[2018-07-16 20:14] #66 closed

[2018-07-17 14:08] saad-ali commented on #67
Version:

[code]

Verified that #66 is resolved with the latest commit. But I'm still running in to this, and Leonid is running in to other issues.

[2018-07-17 17:56] davidz627 commented on #67
The default external component roles were not introduced until 1.11, they were also cherry-picked to 1.10.5 . No 1.9 version has these cluster roles, you will have to create them yourself if using version <1.10.4

[2018-07-17 17:58] davidz627 commented on #67
I think running this on your cluster will come up empty: `kubectl get clusterroles | grep csi`

Weird that clusterrolebinding doesn't do any validation to make sure the cluster roles actually exist though

[2018-07-17 21:26] davidz627 opened #69 "Verify udevadm works as intended in driver"
There exists some manual udevadm triggering in the mount manager code due to a preexisting issue of devices not showing up properly. We need to verify that this udevadm trigger behavior is still called and works properly in this driver

[2018-07-17 22:09] msau42 opened #70 "Improve cloud provider layering"
It may be cleaner to encapsulate the WaitForOp in the cloud provider CreateDisk method, instead of having the driver do it.  This is more in line with how the in-tree driver is implemented.

[2018-07-17 22:11] msau42 commented on #70
As a side note, could you just use the in-tree cloud provider code?

[2018-07-17 22:13] davidz627 commented on #70
I thought we wanted to deprecate the in-tree cloud provider code?

[2018-07-17 22:21] msau42 commented on #70
It's going to be moved out of tree eventually, but the code/interfaces should be the same?

[2018-07-17 23:03] msau42 commented on #30
I think it would also be better to restructure the front page README to focus on the user guide, more than development (there should will be more users than devs visiting the page)

[2018-07-17 23:14] msau42 opened #72 "Give more descriptive filenames for sample deployment"
These are really generic names:
    $ export SA_FILE=~/.../cloud-sa.json
    $ export GCEPD_SA_NAME=sample-service-account

It may be better go prefix them with "gce-pd-csi" or something like that.

Also as a side note, because the SA_FILE filename must be cloud-sa.json, it may be better to make the directory configurable, rather than the filename configurable.

[2018-07-19 18:52] davidz627 commented on #65
Fixed by https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/71

[2018-07-19 18:52] #65 closed

[2018-07-23 17:22] davidz627 opened #75 "E2E test should test with service account made with setup-project script"
The E2E Test should be as close as production env as possible. This would require it to use a Service Account with the same roles as we provide in the setup-project script.

However, we probably do not want to just run the setup-project script again without thinking because this could be highly disruptive of production service accounts. It would be good to create a special service account with the

[2018-07-23 18:53] davidz627 opened #76 "E2E Test should have method of closing tunnel and shutting down driver on remote after test completes"

[2018-07-23 22:01] davidz627 commented on #76
Closing the tunnel is high priority so we dont have random open tunnels open.

[2018-07-27 21:38] #6 closed

[2018-07-31 01:06] #13 closed

[2018-07-31 18:58] davidz627 commented on #67
Closing this issue as we have no repro steps, feel free to reopen if you are still seeing this issue.

[2018-07-31 18:58] #67 closed

[2018-08-01 21:16] msau42 commented on #69
This also needs to be ported: https://github.com/kubernetes/kubernetes/pull/66832

[2018-08-01 21:59] davidz627 commented on #76
Fixed by: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/80

[2018-08-01 21:59] #76 closed

[2018-08-01 22:48] #28 closed

[2018-08-06 16:24] saad-ali opened #83 "Support partition parameter"
GCE PD in-tree driver supports partitioning

[code]

[2018-08-10 21:21] davidz627 commented on #37
GCP Service Account token file directory configurable: #81
Minimal permissions: #73

Still todo:
* Make namespace configurable

[2018-08-13 16:09] ehmm opened #85 "Permission problem using gcp-pd-csi: Required 'compute.disks.get'"
Hello,
Trying to deploy gcp-pd-csi to a GKE cluster. The deployment works, but trying to attach a disk I get the following error from the attacher:

`GRPC error: rpc error: code = Unknown desc = googleapi: Error 403: Required 'compute.disks.get' permission for 'projects/XPROJECT/zones/europe-west3-a/disks/YDISK`

(This is directly from the attacher log but the same error propagates up to the creat

[2018-08-13 17:41] msau42 commented on #85
Hi @ehmm, how did you create the service account?

[2018-08-13 18:28] ehmm commented on #85
I'm trying to use an existing service account that exists in the project that the GKE cluster is in. Must I create a new one for every cluster?

[2018-08-13 18:35] msau42 commented on #85
No, you shouldn't need to create a new service account for every cluster.  Can you check that your service account has these roles:
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/deploy/setup-project.sh#L22
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/deploy/gcp-compute-persistent-disk-csi-driver-custom-role.yaml

[2018-08-14 12:57] ehmm commented on #85
Thanks @msau42 it seems that somehow my service account lost the custom-role, adding it back manually fixed the setup.

The issue was with my setup, but I think that maybe it would be a good idea to add a check in the deploy-driver that checks that the service account has the necessary privileges, also passing an argument to the setup-project.sh script that can accept an existing service account a

[2018-08-14 13:45] ehmm commented on #83
Hi @saad-ali, @davidz627 I've created a quick patch that works that allows specifying the partition number as another parameters after the zone/volumeName. (https://github.com/ehmm/gcp-compute-persistent-disk-csi-driver/tree/feature/partitionInVolumeId)

As you can see I'm new here, so I don't know if you want to merge it, or maybe it's missing some testing (I see the unit-tests there) -- or just

[2018-08-14 23:29] #7 closed

[2018-08-14 23:29] #53 closed

[2018-08-15 15:13] ehmm commented on #85
Hi, I've added a better setup-project that checks for existing accounts and only binds role, and also adds a check to the deploy script that the sa used has all the needed roles,
currently it includes a bit of duplication as the needed roles are in both files -- this can be put in an external file but I wasn't sure if it warranted it and how "clean" this would be, can do that to.

Also extracting

[2018-08-15 18:02] davidz627 commented on #85
@ehmm took at look at your changes, really appreciate the work you've done on this! Could you please create a Pull Request for your changes so that we can review it and merge to master after

[2018-08-15 21:19] saad-ali opened #88 "Integrate livenessprobe"
We should ensure that CSI Probe call is implemented and integrate https://github.com/kubernetes-csi/livenessprobe to automatically manage health of the CSI driver (e.g. restart driver if unhealthy).

[2018-08-15 21:39] davidz627 commented on #72
solved by #81

[2018-08-15 21:39] #72 closed

[2018-08-15 23:16] davidz627 opened #89 "Convert Deployment and Setup Scripts to a more maintainable scripting language"
Maybe Python...?

[2018-08-16 19:59] davidz627 opened #90 "Update Production Push Location to `staging-k8s.gcr.io`"
There is a new process to push to `gcr.io/google-containers`. First push to `staging-k8s.gcr.io` then there are some other specific steps after it has been reviewed for the image to get moved from staging to prod.

/assign

[2018-08-16 23:36] msau42 commented on #83
Can you uniquely identify a volume if the volume id doesn't contain partition number though?  ie multiple volumes on the same disk but on different partitions

[2018-08-16 23:56] davidz627 commented on #83
Ah you're right, they will collide as-is. Looks like it will have to go in the Volume ID.

[2018-08-17 00:02] davidz627 commented on #83
You're right, the volumes are uniquely identified via volume ID so we would have conflicts here. I will change the PR to include partitions in Volume ID.

[2018-08-17 00:12] davidz627 commented on #83
Additionally just found this in the spec:
[code]
just as extra reason to put it in the volume id

[2018-08-17 17:47] davidz627 commented on #85
solved by: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/87

[2018-08-17 17:47] #85 closed

[2018-08-17 17:48] #70 closed

[2018-08-17 17:50] #30 closed

[2018-08-17 17:51] davidz627 opened #92 "Bump External Kubernetes Components to v0.3.0"
Also enable Kubelet registrar functionality

[2018-08-17 17:59] davidz627 opened #93 "Support `fs type` parameter"
Support changing filesystem type instead of just always defaulting to ext4

[2018-08-17 18:04] davidz627 opened #94 "Validate Volume Capabilities in Various Calls"
Refactor out volume capability validation code, call it in various controller functions to validate that we support the volume capabilities before doing any controller calls

[2018-08-17 18:08] davidz627 opened #95 "Handle Existing MountPoint in NodePublishVolume"
Currently if there is an existing mount point in the place where we are trying to mount the code will just throw an error. We should confirm whether it is compatible or not and return success (for idempotency) or throw and error respectively.

[2018-08-17 18:11] davidz627 opened #96 "NodeUnpublishVolume should check if mount path still exists before attempting to unmount"
see title

[2018-08-17 18:14] davidz627 opened #97 "Pick a better boot disk image for E2E Test instances"
Currently is the ml-images tensorflow image. We could probably pick a more suitable image with all the requirements

[2018-08-17 22:13] msau42 commented on #83
@ehmm For your usecase, do you need hard capacity isolation (ie partition boundaries) or could using subdirectories + Kubernetes subpath feature work for you?

I think representing each partition as a separate PV in Kubernetes has some challenges with Pod scheduling, attaching and detaching, that I pointed out in #91

[2018-08-18 14:10] ehmm commented on #83
@msau42 for my use case the subPath solution would be great, I also wouldn't mind just having the root with all the subdirectories exposed as I have no isolation requirements. I personally don't imagine a lot of scenarios where isolation requirements would be needed, and I think that auto-mounting all partitions (with any supported fsType #93) is a good idea for general use cases.

[2018-08-24 18:12] davidz627 commented on #83
Currently partition cannot be specified in attributes, it runs into the same issue as described with the in tree GCE PD here: https://github.com/kubernetes/kubernetes/issues/57915.

Since @ehmm is no longer depending on this feature we will punt this until a general solution for both In-tree and CSI versions of GCE PD can be made. That will require core Kubernetes changes and will be tracked at th

[2018-08-24 23:08] davidz627 opened #101 "Refactor E2E Tests so that they do not redeploy a new driver for each test, instead just once for each suite should be enough"
/assign

[2018-08-24 23:45] #93 closed

[2018-08-27 23:53] davidz627 opened #106 "DeviceUtils Interface Should import directly from Kubernetes"
https://github.com/kubernetes/kubernetes/pull/66832 changed the device utils function VerifyDevicePath. It is not sustainable to keep patching to keep up and is bad for code health. We should import these functions directly from Kubernetes

/assign

[2018-08-27 23:53] davidz627 commented on #69
Porting the fix is in this issue: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/106

[2018-08-28 00:28] #55 closed

[2018-08-28 00:30] msau42 opened #108 "Add Kubernetes e2e"
So that the Dockerfile and Kubernetes specs are also tested.  Maybe minikube or a local cluster could work.

[2018-08-28 19:08] #97 closed

[2018-08-28 19:08] #101 closed

[2018-08-29 21:42] davidz627 commented on #22
After reviewing the options it seems like the best way to run the Kubernetes Integration tests is to fix the Kubernetes E2E test and run that directly from the CI from this repo. This has a few benefits:
* Single source of Kubernetes E2E tests, patches/additions automatically are pulled into CI for this repo
* No duplication of work for bringing up clusters, clients, etc.

Things that need to be f

[2018-08-29 21:42] davidz627 commented on #108
Duplicate of #22

[2018-08-29 21:42] #108 closed

[2018-09-04 18:57] davidz627 opened #109 "Resolve Disk Name Collisions"
Something like this PR: https://github.com/kubernetes/kubernetes/pull/65198

The issue is that if the disk name is the same for a regional and zonal PD they will have a naming collision when attaching to the node. We need to disambiguate the two types of disks so that the names don't collide on the node.

[2018-09-04 18:57] davidz627 commented on #109
/cc @verul

[2018-09-04 18:58] davidz627 commented on #109
/cc @verult

[2018-09-18 18:57] davidz627 commented on #95
No longer just throws an error but does not check for compatibility

[2018-09-18 21:47] davidz627 opened #113 "Scale Tests"
We should do some scale testing for the driver. It should be able to handle `x` concurrent requests and not explode

[2018-09-21 18:05] #109 closed

[2018-09-26 23:29] davidz627 opened #115 "Make NodeID Fully Qualified"
Add Project to node ID as well. maybe use selfLink just like volumes

[2018-09-26 23:29] #12 closed

[2018-09-26 23:29] davidz627 commented on #12
Closed by #110

[2018-09-27 19:02] davidz627 opened #116 "Remove or Fix Provisioner Name for Driver"
Provisioner name and driver name should match, they currently do not. Apparently provisioner name can just be removed and it will be automatically populated as driver name.

/cc @msau42

[2018-09-27 20:37] msau42 commented on #115
Do we need project? a cluster should be contained within a single project

[2018-09-27 21:27] davidz627 commented on #115
We dont "need" it right now, but I discussed with @saad-ali and we decided it wouldn't hurt to add it for futureproofing since we wont be able to change it after Beta.

I came up with a possible use case of deploying a driver in a specific project, giving it a service account that has credentials for all the projects created inside an organization for example, and using that one driver to create v

[2018-09-28 01:32] #92 closed

[2018-09-28 17:49] davidz627 commented on #116
The provisioner that can be removed is the flag to the external provisioner, however that has not been implemented.
Must wait until this is resolved: https://github.com/kubernetes-csi/external-provisioner/pull/109#issuecomment-425280588

[2018-10-02 18:55] davidz627 opened #121 "Minimum volume size should be less than 5Gi"
Driver fails if request for volume less than 5Gi, however, it is possible to create GCE PD Volumes smaller than that, we should not fail in that case

/assign

[2018-10-03 21:33] davidz627 opened #124 "Determine resource footprint of driver"
Determine resource footprint (CPU & MEM) usage of driver.

Publish data to README.

[2018-10-03 22:17] davidz627 opened #125 "Create user guides"
Create a User Guides folder with user guides for:

- Normal Zonal Operation
- Regional PD
- Topology
- Snapshots
- Partitions
- Any new feature
- etc.

[2018-10-03 23:05] #22 closed

[2018-10-04 00:42] #96 closed

[2018-10-04 00:42] #83 closed

[2018-10-04 00:46] davidz627 commented on #121
Fixed by: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/114

[2018-10-04 00:46] #121 closed

[2018-10-04 00:47] davidz627 commented on #69
/assign

[2018-10-04 01:39] #69 closed

[2018-10-04 19:05] #115 closed

[2018-10-05 18:27] davidz627 opened #127 "Create Postsubmit Kubernetes Integration Tests"
We should have a post submit for the kubernetes integration tests with every supported version skew.
For example:
Driver Master + Kubernetest Master
Driver Master + Kubernetes v1.12
Driver v0.1.0.alpha + Kubernetes v.1.11
etc.

Would be cool if we could link a live dashboard status on the README.md like "green" or "red" for passing/notpassing

[2018-10-05 21:44] davidz627 opened #128 "Make integration tests configurable to different versions of the driver (stable or dev) and different version of sidecars (stable, latest)"
We want to have post-submit tests of various version skews. The main ones are:
1. HEAD/Latest of all components
2. Most recent stable version of all components
3. Most recent stable version of all driver components with each supported version of Kubernetes

/cc @msau42

[2018-10-05 21:45] davidz627 commented on #127
Instructions for dashboard status and adding testgrid entries:
`test-infra/testgrid/README.md`

[2018-10-17 18:07] davidz627 opened #130 "Make Topology Label prefix configurable"
The topology label might need to be different in different deployments. It should be configurable on the driver, the kubernetes deployment can then use:
[code]
which is a well known kubernetes topology label that has existing integrations

[2018-10-17 18:07] davidz627 commented on #130
/assign
/cc @msau42

[2018-10-17 23:01] msau42 opened #131 "Make container registry configurable, not the actual image name"
This makes it easier for tests and managing specs if all the image names are consistent.

[2018-10-18 02:08] msau42 opened #133 "Snapshotter container fails in k8s e2e"
Because CRD is not installed

[2018-10-18 02:08] msau42 commented on #133
/assign @jingxu97

[2018-10-18 18:14] msau42 commented on #131
actually maybe this is ok. I found a way to make it work in the ci

/close

[2018-10-18 18:14] #131 closed

[2018-10-22 18:09] davidz627 opened #135 "Use GKE official public images for sidecar and driver"
We auto-build and publish official images of the sidecar and driver on `gcr.io`. This driver should consume images from there

[2018-10-22 18:34] msau42 commented on #128
/assign

[2018-10-22 18:34] msau42 commented on #127
/assign

[2018-10-22 20:48] msau42 commented on #127
For my tracking, here's all the versions I think we should test:

Stable = officially released images
Staging = images built by CI infra
Head = locally built images (by prow)

| Job name | Driver version | Sidecar version | Kubernetes version | Testing purpose
| ------------- | ------------------- | -------------------- | -------------------------- | ------------
| pull-master | head | staging-lat

[2018-10-22 22:02] msau42 commented on #127
cc @verult

[2018-10-22 22:03] msau42 commented on #127
Also we may want to duplicate all these jobs for GKE

[2018-10-23 07:29] jsafrane commented on #127
no, I think it covers all my needs and much more :-)

[2018-10-23 22:29] msau42 opened #136 "Allow parallel operations on different volumes"
We put global locks on mount operations (I didn't check about attach/detach).  This limits the driver from only executing one mount at a time.  We should allow mounts to happen in parallel if they're on different volumes.

[2018-10-24 02:42] msau42 commented on #127
Also, all the jobs should be duplicated for multi-zone/regional clusters so we can test topology and repd

[2018-10-24 21:29] saad-ali commented on #127
Excellent test plan. One of the challenges we've had with the 0.4 release of side car containers is discovering issues when we go to cut official release and ingrate with CSI drivers. This should let us get an early signal. Thank you @msau42!

[2018-10-25 23:06] BenTheElder commented on #127
/cc
let me know if you need a hand setting these up.

You can get a badge from prow or testgrid for this.
[code]
=>
<img alt="Build Status" src="https://prow.k8s.io/badge.svg?jobs=ci-kind-build">

[code]
=>
<img alt="Build Status" src="https://testgrid.k8s.io/q/summary/sig-testing-kind/ci%20build/tests_status" />

[2018-10-26 00:03] msau42 commented on #127
Thanks @BenTheElder !  I'm actually wondering if we could get someone to help setup an OSS build/push job.  It turns out the CI that we setup for GKE images cannot be accessed publicly.

[2018-10-26 00:57] fejta commented on #127
The easiest way for this to work will be to provide a `bazel run //path/to/your/images:push` target [like we do for prow](https://github.com/kubernetes/test-infra/blob/c4e161dcea773321c2a4fcbdea29c50aecab65ad/prow/bump.sh#L83-L84)

[2018-10-26 18:31] mattkelly opened #137 "Recommended beta image, v0.2.0.beta, for v1.12.x support does not exist"
The `v0.2.0.beta` image is recommended (actually required) for Kubernetes v1.12.x, but it does not exist:

[code]
[code]

There is also no corresponding release in GitHub.

References:
- [Official compatibility matrix](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver#kubernetes-compatibility)
- [`stable` deployment](https://github.com/kubernetes-sigs/gcp-compute-persistent

[2018-10-26 19:33] davidz627 commented on #137
Looks like we might have some delays with pushing the new image due to new processes...
In the meantime, please use the last available tag https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/tree/v0.1.0.alpha

[2018-10-26 19:37] mattkelly commented on #137
Thanks for the quick update, @davidz627. My understanding from the README is that `v0.1.0.alpha` is not compatible with Kubernetes v1.12.x (which is what I'm interested in integrating with), so I'll hold off for now. Looking forward to the new image.

[2018-10-26 20:10] msau42 opened #138 "kustomize edit will modify local kustomize files when doing local testing"
It should probably copy the entire directory to a tmp directory and use that instead

[2018-10-26 20:14] msau42 opened #139 "Validate the driver successfully came up in k8s test"
Need to deal with the master DaemonSet pod pending

[2018-10-26 20:16] msau42 opened #140 "Collect driver logs for k8s test"
We can do something like https://github.com/kubernetes/kubernetes/pull/69986

[2018-10-27 14:42] msau42 opened #142 "Simplify arguments in yamls"
Like in https://github.com/kubernetes/kubernetes/pull/69868/commits/dcbcef13b4955e10eed3f76b65f5f0789d6d1101, there's not much gain by defining env variables for hard coded values that are passed in as arguments.

[2018-10-30 14:43] gnufied commented on #133
Yeah. Seeing same. The controller errors out because snapshot CRDs aren't installed. Can we disable snapshot controller until we fix it?

[2018-10-30 14:51] msau42 commented on #133
Do you see it causing the test to fail?  Afaik, as long as the test is not testing snapshots, it should be fine

[2018-10-30 14:52] msau42 commented on #135
/assign

[2018-10-30 14:53] msau42 commented on #90
/assign

[2018-10-30 14:54] mattkelly commented on #137
@davidz627 sorry to be an annoyance, but do you happen to have an ETA for the image being pushed?

[2018-10-30 15:03] gnufied commented on #133
No I haven't seen the test fail yet. Just the status of pod looks iffy when you list via `kubectl` .

[2018-10-30 16:11] msau42 commented on #137
@mattkelly I am hoping to get the image published by end of this week.  In the meantime, you can try using the specs from the 0.1.0 alpha tag, or if this is for dev testing, you can try images from the dev deployment.

[2018-10-30 17:00] gnufied opened #144 "CreateVolume call failing on trying to find the disk"
First pvc got provisioned alright but second one is stuck on:

[code]

This is when code is trying to fetch the disk to verify if the disk already exists.   I am not sure what is causing the context to be cancelled. The overall pod is failing because of snapshot controller not able to start, but I am not sure if this is related to that.

cc @msau42

[2018-10-30 17:11] msau42 commented on #144
Does it still fail after retry?  I know sometimes the timeout set in the context is too short and it might take a few retries before the operation succeeds.

cc @davidz627

[2018-10-30 17:59] gnufied commented on #144
It eventually worked but it kept failing for more than 40 minutes.

[2018-10-30 19:04] davidz627 commented on #144
@gnufied for a quick fix you could you try setting the `--connection-timeout` flag to a greater value on the external-provisioner?
It looks like the default is 10 seconds but maybe that is too short. Although I don't expect the `CreateVolume` call to take more than 10 seconds assuming the cloud provider is responding at normal speeds, especially since up to the line number you linked only 1 cloud

[2018-10-30 19:15] gnufied commented on #144
for example:

[code]

I will try and increase the timeout. Essentially, I am not doing anything special. I brought up a gce-cluster using ./kube-up.sh and then both while manually deploying the gce-csi driver and gce-csi driver deployed by e2e, I am seeing context being cancelled all over the place.

[2018-10-30 19:54] gnufied commented on #144
I increased the timeout to 60s just for kicks and the flakes were almost gone.

[2018-10-30 19:59] msau42 commented on #144
This could potentially indicates there's an issue in the pd driver when handling timed out operations and retries

[2018-10-31 04:05] msau42 opened #145 "deploy-driver SA check should handle role supersets"
Right now it checks for specific roles defined, but fails if a user gives a role like computeAdmin that has even larger scope than the required minimum

[2018-10-31 23:59] davidz627 opened #146 "Integration tests should skip unsupported tests"
Specifically in `runTests` here:
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/test/k8s-integration/main.go#L208

we need to skip `[Feature:BlockVolume]`

[2018-11-01 00:00] davidz627 opened #147 "Integration tests failing for subpath readOnly"
https://github.com/kubernetes/kubernetes/pull/68025#issuecomment-434840672'

The following readonly tests are failing and need to be investigated/fixed:
[code]

[2018-11-01 01:26] davidz627 opened #148 "Must cleanup Kubelet registration sockets when driver uninstalled"
Currently when the driver is uninstalled (pods are brought down) the Kubelet registration sockets are orphaned on the Node at `/var/lib/kubelet/plugins/{gcepdstuff}.sock`.

This means that the plugin un-registration is never kicked off.

Fixing this is a blocker for CSI Migration (https://github.com/kubernetes/enhancements/issues/625).

Potentially could be solved by a `onDelete` (not exact name)

[2018-11-01 01:48] davidz627 commented on #148
https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/
Hook is called `PreStop`

[2018-11-01 02:01] davidz627 commented on #133
Log from the csi-snapshotter container:
[code]
at least for the dev driver it looks like we don't have the right API permissions? The stable driver should not have the csi-snapshotter container.

/assign @jingxu97

[2018-11-01 18:43] davidz627 commented on #133
/assign @jingxu97
third attemp

[2018-11-01 22:00] jingxu97 opened #151 "Should validate zones during CreateVolume call."
In current controller, when calling create volume, we first check the existing volumes with the name. But it does not validate whether the zones from the existing volumes are matching the required zones or not.

[2018-11-01 22:06] davidz627 commented on #151
`CreateVolumeResponse` should also contain the zones returned by the cloud provider, not the ones given to the cloud provider

[2018-11-02 01:51] #148 closed

[2018-11-02 18:36] msau42 commented on #147
/assign

[2018-11-02 18:36] msau42 commented on #142
/assign

[2018-11-02 21:04] msau42 commented on #135
Fixed by #152
/close

[2018-11-02 21:04] #135 closed

[2018-11-02 21:05] msau42 commented on #137
@mattkelly we pushed official images for v0.2.0, but we may need to make some more breaking changes, so we're keeping v0.2.0 as alpha for now.

/close

[2018-11-02 21:05] #137 closed

[2018-11-02 21:40] #142 closed

[2018-11-05 19:58] davidz627 commented on #133
/assign @jingxu97

[2018-11-07 00:00] davidz627 commented on #133
/assign @jingxu97

[2018-11-07 21:19] davidz627 commented on #147
/close
due to resolution of https://github.com/kubernetes/kubernetes/issues/70549

[2018-11-07 21:19] #147 closed

[2018-11-08 06:11] liyinan926 commented on #133
Ran into the same issue on a v1.13.0-alpha.3 cluster installed on GCE, with the dev version. Looks like the service account `csi-controller-sa` does not have permission to create `CustomResourceDefinition`s.

[2018-11-09 02:33] davidz627 commented on #133
Fixed by: #156
/close

[2018-11-09 02:33] #133 closed

[2018-11-13 01:18] davidz627 opened #157 "Change driver name to finalized name"
After discussion the finalized driver name is:
`pd.csi.storage.gke.io`

and the finalized topology prefix is:
` topology.gke.io`

We will need to change the code and the README to reflect this.
This is also a backwards incompatible change.

/cc @msau42 @verult @leakingtapan

[2018-11-14 05:45] leakingtapan commented on #157
Just out of curiosity why do you add `storage` in driver name and why is the driver name specific to `gke`?

[2018-11-14 21:51] davidz627 commented on #157
@leakingtapan we can think of it like namespacing, under `gke` there could be many `storage` resources, of which `csi` is one of them. There can be other subresources of `storage` besides `csi` (although currently there isn't anything else).

We use `gke` because it will be the "primary consumer" of the driver name. And `gke.io` is a domain that we "own." So in theory if we want to use the actual

[2018-11-14 21:55] davidz627 opened #161 "Support for Volume Source (cloning)"
CSI v1.0 introduced volume source (cloning), the GCE PD driver should implement that

/cc @jingxu97

[2018-11-14 22:15] #157 closed

[2018-11-15 00:52] davidz627 opened #162 "Implement ValidateVolumeCapabilities"
Currently this function is unimplemented and just returns a "Unimplemented" message.

This should be done ASAP
/cc @saad-ali

[2018-11-15 17:51] msau42 opened #164 "Update rbac yamls"
System roles have been deprecated and there's a typo for driver registrar

[2018-11-15 18:59] msau42 opened #165 "Make k8s e2e test focus configurable"
Right now it's hard coded into the k8s-integration binary

[2018-11-15 18:59] msau42 commented on #165
This will be important when we want to start testing different configs like alpha and serial

[2018-11-15 19:00] msau42 opened #166 "Add k8s alpha and serial test suites"

[2018-11-15 19:09] davidz627 commented on #164
Not sure what this means, could you clarify.
Do you mean Cluster roles? Wheres the typo?

[2018-11-15 19:17] msau42 opened #167 "Figure out how to setup ssh to nodes properly in order to run kubelet restart e2e tests"
See https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/158#issuecomment-438838269

[2018-11-15 19:20] msau42 commented on #164
This is the typo: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/deploy/kubernetes/base/setup-cluster.yaml#L25

Also the system:csi-external-attacher, etc roles predefined in kubernetes are being deprecated.  Instead we're defining all the roles with each sidecar container.  So we should sync our yamls to the ones documented in the sidecars.

[2018-11-15 20:59] davidz627 opened #169 "K8s Integration tests should fail if no tests are being run"
Right now the tests are kind of brittle and test naming changes can just make all of this Repo not run any tests at all (since we're just doing a ginkgo focus to find the relevant tests).

A good signal would be to fail the integration tests if none of them are being run.

[2018-11-15 23:48] #164 closed

[2018-11-16 21:40] davidz627 opened #177 "Build production container image from "Scratch""
Ideally we would like the container to be built from scratch to reduce attack surface. This would involve sorting out all the dependencies and statically compiling the binary properly.

/cc @saad-ali

[2018-11-16 21:41] davidz627 commented on #177
We tackled this before but decided to use "k8s.gcr.io/debian-base-{arch}" as a stopgap: #15

[2018-11-16 22:31] #146 closed

[2018-11-16 23:43] davidz627 opened #179 "Update plugin registration dirs for k8s 1.13"
When https://github.com/kubernetes/kubernetes/pull/70494 merges, we will have to change the plugin registration dirs to be compatible with Kubernetes 1.13

/assign

[2018-11-18 20:12] saad-ali opened #180 "[IMPORTANT] Take advantage of `csi_secret` in CSI 1.0"
CSI 1.0 decorates sensitive fields with `csi_secret`. Let's take advantage of this feature to programmatically ensure no sensitive fields are ever logged by this driver.

[2018-11-18 20:13] saad-ali commented on #180
CSI 1.0 decorates senstive fields with `csi_secret`. Let's take advantage of this feature to programmatically ensure no sensitive fields are ever logged by this driver.

[2018-11-21 00:16] davidz627 opened #183 "Need to update deployment specs in release-0.3.0 branch"

[2018-11-21 00:35] davidz627 commented on #183
Should cherrypick the relevant changes over,

[2018-11-21 19:41] msau42 opened #185 "Support PUBLISH_READONLY capability"
This was introduced in 1.0 and will be enforced by csi-attacher: https://github.com/kubernetes-csi/external-attacher/pull/98

[2018-11-26 19:41] davidz627 commented on #185
was added here: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/159/files#diff-6ccd9fb670285bf141dea5e99fb3d874R67

are there any other changes necessary?

[2018-11-26 19:48] davidz627 commented on #180
Marking this as high priority so that we dont have security issues. GCE PD doesn't actually accept any secrets but if a user mistakenly sends them in, we still don't want to log them

[2018-11-26 21:03] msau42 commented on #185
Nope, that should be good, thanks
/close

[2018-11-26 21:03] #185 closed

[2018-11-26 22:29] davidz627 opened #188 "E2E Tests should export artifacts to the correct folder"
Much like the integration tests are now exporting artifacts, the e2e tests should export them correctly as well

[2018-11-26 22:29] davidz627 commented on #179
Fixed by https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/181

[2018-11-26 22:29] #179 closed

[2018-11-26 22:30] davidz627 commented on #116
Removed in: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/173

[2018-11-26 22:30] #116 closed

[2018-11-26 22:38] davidz627 commented on #130
we've come up with a "gcp wide" topology zone label `topology.gke.io/zone`. Since this is a GCP only driver this should be sufficient

[2018-11-28 19:35] davidz627 opened #191 "Snapshot tests"
I think we need snapshot E2E tests to verify that entire snapshot lifecycle is tested, for example I don't think we test the codepath to check create volume with snapshot source works properly.

/assign @jingxu97

[2018-11-28 22:28] msau42 opened #192 "XFS test is passing when it shouldn't be"
XFS is not supported on COS.

https://testgrid.k8s.io/sig-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Stable

[2018-11-28 22:32] davidz627 commented on #192
potentially due to driver not respecting filesystem option passed in (bug needs to be fixed)

The test should also be modified so that it is actually verifying what kind of filesystem is being formatted to catch these types of errors.
https://github.com/kubernetes/kubernetes/issues/71528

[2018-11-29 01:25] davidz627 opened #195 "Need k8s integration test suite that runs [Disruptive] and [Serial] tests serially"
Currently we only run non serial non disruptive tests in a parallel test suite on testgrid.

We should have another testgrid that does all the disruptive and serial ones so we get a full signal

/cc @msau42

[2018-11-29 01:29] davidz627 commented on #195
yes, I should really do a search before opening new issues

[2018-11-29 01:29] #195 closed

[2018-11-29 01:30] davidz627 commented on #166
and Disruptive (can be the same as serial test suite)

[2018-11-30 02:17] msau42 opened #196 "CreateVolume doesn't check if Block volume capability is requested"
So the volume will be erroneously provisioned.  It should return error for block until we implement it.

[2018-12-11 00:24] #196 closed, assigned to nobody

[2018-12-11 00:32] msau42 commented on #94
/reopen

[2018-12-17 23:35] davidz627 opened #205 "Driver cluster deployment should have cluster-driver-registrar"
we should deploy with cluster-driver-registrar which creates the CSIDriverInfo object IIUC.

/cc @msau42

[2018-12-17 23:35] davidz627 opened #206 "Driver node deployment should use node-driver-registrar"
Instead of using the bundled `csi-driver-registrar` the node deployment should now be using the `node-driver-registrar`

/cc @msau42

[2018-12-17 23:36] msau42 commented on #205
DriverInfo is needed for two features, which PD driver doesn't use:
- skip attach
- pod info on mount

[2018-12-17 23:37] davidz627 commented on #205
It's possible `DriverInfo` will be required for some other feature in future, is it better to have the driver deploy with it anyway?

[2018-12-17 23:38] msau42 commented on #205
I think until we need it, we shouldn't add it.  It will just take up more resources then necessary.

[2018-12-17 23:43] davidz627 opened #207 "Automated pipeline for image promotion"
Would be nice to have an automated pipeline that picked up new staging images, automatically runs CI against them a couple times, if they pass without fail/flake it automatically promotes them to PROD images and updates all the gcr image tags on Github.

[2018-12-17 23:44] davidz627 commented on #183
/close

[2018-12-17 23:44] #183 closed

[2018-12-17 23:44] davidz627 commented on #130
/close

[2018-12-17 23:44] #130 closed

[2018-12-17 23:46] davidz627 commented on #205
/close

[2018-12-17 23:46] #205 closed

[2018-12-18 20:26] msau42 opened #210 "Create overlay for stable container images"
Then dev and stable overlays can source it

[2018-12-20 06:15] saad-ali opened #212 "external-snapshotter deployment issues"
Only the dev deployment script deploys an external-snapshotter.

https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/191be851fce1ff624208be29a253f2961c861339/deploy/kubernetes/overlays/dev/controller_images.yaml#L13-L15

1) Shouldn't the stable deployment script also deploy the external snapshotter (at least as a flag controlled option)?

2) The external-snapshotter in d

[2018-12-20 22:34] msau42 commented on #212
1. Let's create a new "alpha" config to deploy the snapshotter container.
2. This should be updated to use snapshotter v1.0.x
3. We need to create new internal flows to build snapshotter. Will sync up with jing offline

[2018-12-20 22:43] saad-ali commented on #37
Should the default namespace be default? Or would it be better to have a GCE PD specific namespace?

[2018-12-20 22:44] msau42 commented on #37
Better to have a special namespace just for the driver

[2018-12-20 23:22] msau42 opened #213 "Switch RePD to use v1 API"
It's still using the v1beta api

[2018-12-20 23:22] msau42 commented on #213
/assign @jingxu97

[2018-12-21 19:32] davidz627 opened #216 "Controller unit tests should mock cloud provider better and check for expected calls"
I've seen other test frameworks do things like cloud.EXPECT(function call(ARGS)), would be nice as an extra verification in unit tests.

[2018-12-27 02:02] msau42 opened #217 "Update deployment spec to use new kubelet registration path"
It's still using the old one

[2018-12-27 02:03] msau42 commented on #217
nevermind i can't read
/close

[2018-12-27 02:03] #217 closed

[2019-01-11 07:00] pohly opened #219 "usage of same volume by multiple pods on same node"
Although not covered by the CSI spec (see https://github.com/container-storage-interface/spec/pull/150 and https://github.com/container-storage-interface/spec/issues/178), according to @msau42 the gcepd driver should support running two pods on the same node, using the same volume.

However, during testing of https://github.com/kubernetes/kubernetes/pull/72002 the gcepd driver didn't pass the new

[2019-02-23 01:07] jingxu97 opened #222 "Driver should check socket parent directory before trying to bind it"
While testing the driver, we found that in the server's code https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-pd-csi-driver/server.go#L85,  if the socket parent directory does not exit, the driver does not check it and just tries to call Listen to the address. So the error message returned from Listen call does not give the clear reason why it fail. It

[2019-03-05 08:59] stiller-leser opened #224 "Use existing snapshots as data source across projects"
Hi,

from what I see in the documentation and from the [code](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/dd58da44fdd38897716ae6f5afecd87b89f5a267/pkg/gce-cloud-provider/compute/gce.go#L71) it doesn't seem to be possible to do either of the following:

- Use snapshot that are already existing in my GCP project (created in a different manner than the K8S snapshot,

[2019-03-05 19:29] davidz627 commented on #224
/cc @jingxu97

[2019-03-08 01:39] jingxu97 commented on #224
Thanks for asking. Please see my comments below and let me know if you have any questions.

We do support this use case and call it static binding. Basically admin creates VolumeSnapshotContent manually and points to the VolumeSnapshot which also points back to the VolumeSnapshotContent. But recently there is bug about it and we are working to fix it. https://github.com/kubernetes-csi/external-sna

[2019-03-08 17:13] stiller-leser commented on #224
Hi @jingxu97,

thank you for your reply. After I managed to install the driver into my cluster (having to hardcode much of the scripts, since  I am on MacOS), I actually managed to create a snapshot and also removing it again.

Here's where my next question comes into play: When the snapshot resource is deleted from the cluster the snapshot itself is also deleted from the ISP (as specified in http

[2019-03-08 21:45] davidz627 commented on #192
Resolved here: https://github.com/kubernetes/kubernetes/pull/70823
e2e tests now check fsType and xfs tests disabled for gce pd

[2019-03-08 21:45] #192 closed

[2019-03-08 21:46] davidz627 commented on #124
/assign @verult

[2019-03-08 23:36] #180 closed

[2019-03-08 23:58] davidz627 opened #227 "Support expand volume"
CSI v1.1.0 added support for `ControllerExpandVolume` and `NodeExpandVolume`. This driver should implement them

[2019-03-09 00:14] davidz627 opened #228 "Migrate k8s integration test suite to new parameterized suite"
External storage testing support added in k8s/k8s in this PR: https://github.com/kubernetes/kubernetes/pull/72836

We should migrate over to using this and remove the hardcoded `gcePD-external` tests from k8s/k8s.

[2019-03-12 18:00] davidz627 commented on #177
We can probably use `distroless` when that is ready:
https://github.com/kubernetes/kubernetes/issues/70249

[2019-03-13 17:26] jingxu97 commented on #224
sorry to reply late. So when you mention " snapshot resource is deleted from the cluster", do you mean to delete VolumeSnapshot API object from API server or directly delete the physical snapshot file?

[2019-03-13 19:45] stiller-leser commented on #224
Hi, no worries. Thank you very much for doing it at all. I guess I mean on the API server, which results in it being deleted physically.

I basically ran through the tutorial from the README (talking API objects), created a snapshot, created a disk from the snapshot, deleted the disk and then deleted the snapshot. This also deleted the physical snapshot.

I guess what I am looking for basically is

[2019-03-13 19:54] jingxu97 commented on #224
We do have the deletionPolicy (very similar to ReclaimPolicy). You can choose to "retain" the physical snapshot so even if you delete VolumeSnapshot object, the VolumeSnapshotContent object and its associated physical snapshot will be retained.

[2019-03-13 20:08] stiller-leser commented on #224
Very cool. Just to spare me some research time, could you quickly point me to the correct configuration (if you have it at hand?). Feel free to close the issue afterwards. Thank you again.

[2019-03-15 21:10] de1m opened #236 "Maybe a manual "how to run the driver for non Go guru"?"
Hi,
I don't knowing the golang. I've tryid to install the driver, but I get the error below. Can someone write me the steps, how to install the driver or exactly say, how to config the go environment to compile and run the driver?
Maybe it is possible to start it's throuht a docker image?
[code]

[2019-03-16 00:23] davidz627 commented on #236
Hi @de1m,

You will need to clone the repository at
`${HOME}/go/src/sigs.k8s.io/gcp-compute-persistent-disk-csi-driver`
instead of your current location of:
`${HOME}/workspace/gcp/gcp-compute-persistent-disk-csi-driver`.

go paths as well as relative pathing in bash are a little finicky. So the location of your repository is important. I will make sure the documentation captures this

[2019-03-16 08:26] Mockery-Li commented on #19
Hi, I want to take this as my first issue, and I hope to make sure I did not misunderstand the problem.
Is it about modifying `GetMaxVolumesPerNode()` in csi.pb.go (both V0 and V1), to pull the number of vCPUs as the default return value when it knows it's under GCE environment?

[2019-03-16 20:36] de1m commented on #236
Thanks it has working

[2019-03-16 20:36] #236 closed

[2019-03-18 18:21] davidz627 commented on #19
Hi @Mockery-Li! Thank you for your interest :)

To implement `MaxVolumesPerNode` you will not have to modify `csi.pb.go`. That is the CSI Specification Protobuf and is generated from the [CSI Specification](https://github.com/container-storage-interface/spec/blob/master/spec.md)

What this issue entails is modifying `NodeGetInfo` in `pkg/gce-pd-csi-driver/node.go` to return a value `MaxVolumesPerN

[2019-03-18 18:23] msau42 commented on #19
You can probably also copy a lot of the functionality from [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/gcepd/gce_pd.go#L126)

[2019-03-18 18:52] davidz627 commented on #19
That's true but I think there are a few differences in the current state (and the driver) from that code.

1. I think the metadata server might be an "easier" source of the machine type information as we wont need the GCE credentials: see [machine-type](https://cloud.google.com/compute/docs/storing-retrieving-metadata)
2. I think GCE has changed their supported attach limits for disks since that c

[2019-03-19 00:21] davidz627 opened #239 "k8s integration test should support not specificying patch version"
When specifying the integration test kubernetes version right now you have to specify major, minor, and patch version e.g. `1.13.4`. The integration test infra should also support just specifying `1.13` and it will find the latest released `1.13.x` version to test with.

[2019-03-21 15:49] Mockery-Li commented on #19
Thank you. I'm trying both methods.
To adapt the function @msau42 mentioned, we may need to get CloudProvider inside NodeService? It seems a little bit strange to access that directly using `cloud := ns.Driver.cs.CloudProvider`, but this is the only way I've come up with.
As for using machine-type like @davidz627 said, I have not figured out how to use the metadata (projectID/zone/name). The detai

[2019-04-02 22:43] #19 closed

[2019-04-02 22:43] msau42 opened #241 "New e2e test case is not getting run"
A new e2e test case was added for attach limits, but for some reason it's not getting run
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/240#issuecomment-479232188

[2019-04-11 23:11] msau42 commented on #227
/help

[2019-04-11 23:12] msau42 commented on #222
/help
/good-first-issue
/kind cleanup

[2019-04-11 23:15] msau42 commented on #219
It was an issue with the test case that has been fixed.
/close

[2019-04-11 23:15] #219 closed

[2019-04-11 23:15] msau42 commented on #241
/kind bug

[2019-04-11 23:15] msau42 commented on #227
/kind feature

[2019-04-11 23:16] msau42 commented on #239
/kind test

[2019-04-11 23:16] msau42 commented on #228
/kind test

[2019-04-11 23:17] msau42 commented on #213
/kind cleanup
/help

[2019-04-11 23:19] msau42 commented on #206
This has been fixed
/close

[2019-04-11 23:19] #206 closed

[2019-04-11 23:20] msau42 commented on #140
/help
/kind test

[2019-04-11 23:22] msau42 commented on #136
/help
/kind bug

[2019-04-11 23:23] msau42 commented on #64
/help
/kind feature

[2019-04-15 15:36] Mockery-Li commented on #48
Hi, I have added unit test for GetNodeInfo in issue[#19](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/19), and hope to complete other unit tests for Node.
Is there any sample for testing the mounter?

[2019-04-15 23:23] davidz627 commented on #48
@Mockery-Li you may be able to find some examples in the existing k8s code: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/gcepd/gce_pd_test.go#L129
^ I'm not really sure if this is what you're looking for but it might be a good starting point

[2019-04-15 23:26] msau42 commented on #48
For mounter, we usually use the FakeMounter for testing.

[2019-04-15 23:40] davidz627 opened #245 "Enable release notes automation"
Much like what is trying to be achieved here: https://github.com/kubernetes-csi/docs/issues/142

This will make compiling release notes for new versions much easier.

[2019-04-16 01:53] Mockery-Li commented on #48
Thanks, that's what I need

[2019-04-24 23:33] davidz627 commented on #34
/remove-lifecycle stale
/add-lifecycle frozen

[2019-04-24 23:33] davidz627 commented on #34
/lifecycle frozen

[2019-04-26 00:27] davidz627 commented on #125
/remove-lifecycle stale
/lifecycle frozen

[2019-04-26 00:28] msau42 commented on #125
/assign

[2019-04-26 00:29] msau42 commented on #125
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/214 should address this

[2019-04-26 15:24] msau42 commented on #144
/remove-lifecycle stale
/lifecycle frozen

We should test and make sure the PD driver can handle timed out operations being retried correctly.

The latest sidecars also have new operation timeout parameters that we can tune for our operations

[2019-04-26 16:35] msau42 commented on #139
/remove-lifecycle stale
/lifecycle frozen

[2019-04-26 16:35] msau42 commented on #145
/remove-lifecycle stale
/lifecycle frozen

[2019-04-26 16:35] msau42 commented on #138
/remove-lifecycle stale
/lifecycle frozen

[2019-04-26 18:05] davidz627 commented on #127
/remove-lifecycle stale
/lifecycle frozen

[2019-04-26 18:06] davidz627 commented on #151
/remove-lifecycle stale
/lifecycle frozen

[2019-04-26 21:54] davidz627 opened #253 "Validate VolumeCapability matches with "AlreadyExist"ing volume in Publish/Stage calls"
We do static validation of volume capability now. However, if an existing volume is found we must validate that the volume capabilities of the existing volume match with the requested capabilities, otherwise we must return an "ALREADY_EXIST" error

[2019-04-27 01:17] msau42 commented on #228
/assign

[2019-04-29 19:07] davidz627 commented on #216
/remove-lifecycle stale
/lifecycle frozen

[2019-04-29 19:09] davidz627 commented on #37
/remove-lifecycle stale
/lifecycle frozen

[2019-04-29 19:09] davidz627 commented on #212
resolved with multiple PRs.

Snapshotter has been updated, and there is now an alpha config with the external snapshotter
/close

[2019-04-29 19:09] #212 closed

[2019-04-29 19:10] davidz627 commented on #210
Resolved with some PR

[2019-04-29 19:10] #210 closed

[2019-04-29 19:10] davidz627 commented on #207
/remove-lifecycle stale

[2019-04-29 19:10] davidz627 commented on #94
/remove-lifecycle stale

[2019-04-29 19:10] davidz627 commented on #166
/remove-lifecycle stale

[2019-04-29 19:11] davidz627 commented on #191
/remove-lifecycle stale
@jingxu97 has this been covered with existing tests?

[2019-04-29 19:11] davidz627 commented on #188
/remove-lifecycle stale

[2019-04-29 20:11] davidz627 commented on #169
/remove-lifecycle stale

[2019-04-29 20:11] davidz627 commented on #167
/remove-lifecycle stale

[2019-04-29 20:11] davidz627 commented on #165
/remove-lifecycle stale

[2019-04-29 20:11] davidz627 commented on #161
@jingxu97 should we close this issue since GCE PD does not support clone?

[2019-04-29 20:12] davidz627 commented on #162
/remove-lifecycle stale

[2019-04-29 20:23] jingxu97 commented on #161
I think we currently have a KEP open for this. Let me check and update the status for this feature.

[2019-04-29 21:57] msau42 commented on #191
E2E tests were added, but we should also consider running the K8s snapshot tests too.  We'll need to put in the plumbing to bring up an alpha cluster to do that

[2019-04-29 21:59] #94 closed

[2019-04-29 23:53] #228 closed

[2019-04-30 01:18] msau42 commented on #113
/remove-lifecycle stale
/lifecycle frozen

[2019-04-30 01:18] msau42 commented on #106
/remove-lifecycle stale
/lifecycle frozen

[2019-04-30 01:19] msau42 commented on #89
/remove-lifecycle stale
/lifecycle frozen

[2019-04-30 01:19] msau42 commented on #88
/remove-lifecycle stale
/lifecycle frozen

[2019-04-30 01:20] msau42 commented on #75
/remove-lifecycle stale
/lifecycle frozen

[2019-04-30 01:20] msau42 commented on #40
/remove-lifecycle stale
/lifecycle frozen

[2019-04-30 01:21] msau42 commented on #39
Do we need this now that we have kubernetes e2e tests?

[2019-04-30 01:42] davidz627 commented on #39
not necessary anymore

[2019-04-30 01:42] #39 closed

[2019-04-30 17:39] msau42 opened #261 "Add test config for multizone/regional clusters"
So we can test topology

[2019-04-30 17:39] msau42 commented on #261
/kind test

[2019-05-02 00:48] msau42 opened #263 "Add mount options test"
It can be configured in the test config file
/kind test

[2019-05-08 23:10] davidz627 opened #265 "K8s Integration tests are actually running production v0.4.0-gke.0 driver, not built driver"
I believe when changing kustomize base layers the production driver image is added in stable, which is ingested in alpha, which is ingested in dev. Therefore dev uses production driver image and not the actual freshly built version

/cc @msau42

[2019-05-09 02:32] #265 closed

[2019-05-20 14:33] stiller-leser commented on #224
Having looked at the code, I can't find anything policy related. Any hints would be appreciated :)

[2019-05-23 20:25] jingxu97 commented on #224
@stiller-leser sorry for missing your question.
You can find policy information here https://kubernetes.io/blog/2019/01/17/update-on-volume-snapshot-alpha-for-kubernetes/
please let me know if you have any questions.

[2019-05-23 21:14] davidz627 commented on #224
@jingxu97 is there an open issue for updating the documentation?

Retention policy is not described here: https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/

[2019-05-23 22:07] jingxu97 commented on #224
Created an issue https://github.com/kubernetes/website/issues/14498

On Thu, May 23, 2019 at 2:14 PM David Zhu <notifications@github.com> wrote:

--
- Jing

[2019-05-24 08:57] stiller-leser commented on #224
Hey @jingxu97,

no worries - was in hybernation on my side for a long time as well, came up again when I saw @davidz627 talk on the KubeCon agenda.

I really appreciate your help here!

Will be closing the issue now!

Looking forward to playing with this,
stiller-leser

[2019-05-24 08:57] #224 closed

[2019-05-28 18:07] davidz627 commented on #95
/remove-lifecycle rotten
/lifecycle frozen

[2019-05-28 22:45] verult opened #276 "Adding volume operation metrics"
Does the CSI driver need Prometheus metrics?

Possible metrics:
* GCP cloud provider calls
  * latency and error rates of GCE PD calls. We can compare the latency against the corresponding k8s volume operation latency to discover inefficiencies.
  * latency and error rates AltTokenSource oauth calls

[2019-05-29 18:31] davidz627 opened #277 "Run k8s integration tests in GKE environment"
The k8s integration tests currently only run on gce k8s brought up with `kup`. We should also test by bringing up a GKE distribution, installing the driver, and running the k8s tests

[2019-05-29 22:05] davidz627 commented on #227
I believe @gnufied is working on this and should have a PR out sometime in the week of 3 June 2019

[2019-06-03 23:22] verult opened #281 "External attacher RBAC out of date"
It still references csinodeinfos, and it's missing some permissions. See: https://github.com/kubernetes-csi/external-attacher/blob/master/deploy/kubernetes/rbac.yaml#L19

[2019-06-04 23:07] msau42 commented on #125
/close

[2019-06-05 00:01] #125 closed

[2019-06-05 00:15] verult commented on #281
/assign

* external-attacher: csinodeinfos should now be csinodes
* external-attacher: volumeattachments needs patch permissions
* external-provisioner: missing node permissions
* external-snapshotter rules shouldn't exist in stable version

[2019-06-05 22:30] #281 closed

[2019-06-05 22:50] bowei opened #286 "Revendor to use GoogleCloudPlatform/k8s-cloud-provider"
The base cloud provider code has move to this location:

https://github.com/GoogleCloudPlatform/k8s-cloud-provider

and will be where all future modifications will be made.

[2019-06-05 22:54] davidz627 commented on #277
/assign @hantaowang

[2019-06-05 22:55] davidz627 commented on #165
resolved with: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/256

[2019-06-05 22:55] #165 closed

[2019-06-06 00:19] davidz627 opened #287 "Should test Raw Block with partitions, fs with partitions"
No E2E tests with partitions currently. We should test since we support this.

[2019-06-06 00:57] hantaowang commented on #277
see #288

[2019-06-06 19:10] davidz627 opened #292 "Validate pd image used in testing is the one built in testing"
k8s integration tests build a new image of the driver and run the tests using it, bugs or issues may cause the image to revert back to stable. We should do a validation of the cluster/yamls that the image is actually the one that we expect.

This can be also test that the driver is up and running before running the remainder of the tests as well.

[2019-06-06 23:16] verult commented on #124
/remove-lifecycle stale

[2019-06-10 20:13] davidz627 commented on #177
/remove-lifecycle stale
/lifecycle frozen
we still could benefit from this. More investigation is required on how to get all the required mount/udev utilities required into the container

[2019-06-11 00:28] davidz627 opened #296 "Driver doesn't throw a useful error with unformatted readonly disks"
## Pre-formatted Disks

Disks that have been pre-formatted behave "properly" with `readOnly` on the PV Spec.

Caveat: `NodeStage` technically doesn't mount the disk with the `ro` option (from `Pod.spec.volumes.persistentVolumeClaim.readOnly`), but the `NodePublish` bind-mount should bind mount as `ro`.

## Unformatted Disks

### This CSI Driver

When an un-formatted disk is Attached as `readOnly`

[2019-06-11 00:31] davidz627 commented on #296
/cc @msau42 @saad-ali
after investigation this doesn't seem super high priority. let me know if you think differently

[2019-06-11 00:56] msau42 commented on #296
It seems like an oversight that NodeStageVolume doesn't pass in a readonly flag?

Agree since the end behavior is that they both result in error it's not high priority to fix.  Is there anyway we can return a better error message than "exit code 1"?  Can we not get the actual error code/msg from the format command?

[2019-06-11 00:58] davidz627 commented on #296
This is the behavior of in-tree plugin :) we could open a separate issue there.

[2019-06-11 01:00] msau42 commented on #296
I was referring to csi driver:
[code]

[2019-06-11 01:24] #64 closed

[2019-06-11 01:25] davidz627 commented on #296
/help
another solution could be to expose the actual `stderr` from the mount call as @msau42 pointed out is `exit status 1` right now. This `stderr` may contain information about not being able to format disk because of readonly device [unconfirmed].

[2019-06-11 23:32] davidz627 opened #298 "Improve error handling of GCE Attach Errors"
Depending on the type of error returned we should be returning:
"ABORTED" for operation pending errors
"RESOURCE_EXHAUSTED" for max volumes attached errors
"FAILED_PRECONDITION" for volume already attached to another node errors

right now we just return an INTERNAL ERROR for any gce attach error during controller publish volume

/cc @msau42

[2019-06-12 00:45] davidz627 opened #300 "Old release branch tests should run new "External PD" style tests when running with k8s HEAD"
https://testgrid.k8s.io/sig-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Release%200.4

https://testgrid.k8s.io/sig-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Release%200.3

These configs are currently skipping all tests since they are trying to run on Kubernetes HEAD which removed the "CSI.*gcePD-external" tests in favor of the "External.Storage

[2019-06-12 00:46] davidz627 commented on #300
/cc @msau42

[2019-06-12 00:50] msau42 commented on #300
Test against older versions of Kubernetes instead of HEAD?

[2019-06-12 00:55] davidz627 commented on #300
don't we want to validate that older versions of the driver still work on newer versions of k8s too?

[2019-06-19 01:08] msau42 opened #305 "Add xfs utilities to driver"
They're missing

[2019-06-19 01:08] msau42 commented on #305
/kind bug

[2019-06-19 01:09] msau42 commented on #305
/help

[2019-06-19 01:09] msau42 opened #306 "Add test configs on Ubuntu"
So we can test xfs

/kind test

[2019-06-19 01:26] davidz627 commented on #306
I was just in the middle of creating this issue when I found this. Definitely much needed. Should be an easy test config change (change the image family)

[2019-06-20 00:00] hantaowang commented on #222
The error output should be:

    listen unix /path/to/sock/csi.sock: bind: no such file or directory

if /path/to/sock does not exist. Is that not a clear enough error?

[2019-06-20 00:24] hantaowang commented on #298
For attach at least, it seems the codes are not actually used in terms of the isFinalError logic, only logging/events.

From [here](https://github.com/kubernetes-csi/external-attacher/blob/df49834f5bfb0b947a654f9a60e6ce06ef2b8df8/pkg/attacher/attacher.go#L123), it seems that RESOURCE_EXHAUSTED should be used for the problem where too many devices are being attached at the same time, rather than th

[2019-06-20 00:31] hantaowang commented on #136
See PR #302 and #303.

After scale testing on a single node, there is reason to believe that much of the delay comes from not actually NodePublishVolume/NodeStageVolume but actually from the Attaching side. Pod events show constant RPC context DeadlineExceeded errors, Attachment timeout errors, and Internal errors (stemming from an error from googleapi regarding too many pending operations on the

[2019-06-20 01:11] msau42 opened #307 "Serialize controller operations on the same volume"
ie attach and detach should not be allowed to occur in parallel for the same volume

cc @davidz627

[2019-06-20 01:11] msau42 commented on #307
I haven't thought much about if all of the controller operations, ie create/delete/expand also all need to be serialized together.

[2019-06-20 01:12] msau42 commented on #307
/kind bug

[2019-06-20 01:12] msau42 commented on #307
For attach and detach, we could get into strange states like returning success from Detach while an Attach to the same node is in progress.

[2019-06-20 16:58] hantaowang opened #308 "Detecting and Logging a Hung Operation"
Per @msau42 [here](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/303#issuecomment-503248669), we should be able to detect when an operation is taking unusually long and log/report it.

[2019-06-20 17:51] davidz627 opened #309 "Make sure we log successful operations in all paths"
Maybe we can do this at the layer above the actual RPC methods. We should always log on RPC exit

[2019-06-20 18:00] davidz627 commented on #298
according to the [spec](https://github.com/container-storage-interface/spec/blob/master/spec.md):

Looks like the `external-attacher` may be interpreting the error incorrectly. Maybe we should create an issue (or fix) there.

And no matter what the `external-attacher` says we need to conform to the spec (or change the spec if it is wrong) as the spec is the official contract we support and other e

[2019-06-20 18:01] davidz627 commented on #298
in fact I would think that it `isFinalError=true` in the `RESOURCE_EXHAUSTED` case

[2019-06-24 20:09] hantaowang commented on #307
If the problem is that there is a race condition on Attach ops for the same volume and the GCP layer does not handle this, then we can look into applying similar changes as #303 and serialize ops on the same volume.

[2019-06-24 20:33] msau42 commented on #307
GCP layer does handle this, however, I think our CSI driver layer does not.

ie, 2 threads are processing in parallel, an attach and a detach.  One of them is going to be waiting for the other, but ordering of operation calls and checks between the two operations are not guaranteed at the moment.

[2019-06-25 23:15] msau42 opened #321 "Update external-snapshotter to 1.1 or 1.2"
There are some bug fixes we may want to pick up.  Needs testing

[2019-06-26 20:51] hantaowang commented on #277
/close

[2019-06-28 02:58] zhucan commented on #222
why remove the addr before listen to it ?

[2019-06-28 18:08] davidz627 commented on #222
I believe we don't want to do this is because the driver expects `Kubelet` to create the parent directory for plugin registration. If the directory does not exist that is actually indicative of some sort of issue so we don't want to just mask the issue, drop the socket, and have the Kubelet potentially do nothing with it. Instead I think the idea is to just throw an error that contains more inform

[2019-06-28 18:59] davidz627 opened #328 "Use requested size in NodeExpandVolume if provided"
Currently the resize utilties in k8s do not have the ability to take in a resize size. That functionality needs to be added and imported

[2019-06-28 21:27] davidz627 commented on #161
/open
still needed

[2019-06-29 00:48] hantaowang commented on #277
/close

[2019-06-29 00:48] #277 closed

[2019-07-02 22:08] hantaowang commented on #95
/assign @hantaowang

[2019-07-03 00:21] #307 closed

[2019-07-03 20:58] #227 closed

[2019-07-08 04:14] hantaowang commented on #95
The kubernetes mount interface and mount-linux has some functionality to do TODO #1 and #3 via checking /proc/mounts and proc/self/mountinfo. The difference between the two files is that
1) /proc/mounts has a mapping from device to mount target
2) /proc/self/mountinfo has a mapping from source to target and additional fields for the underlying device

I can probably get all the information I need

[2019-07-08 14:08] msau42 commented on #95
This is specific to PD driver which can only be a block device

[2019-07-08 21:12] hantaowang commented on #95
What is then the difference between GetBlock() and GetMount() in NodePublish? Which one is the one normally used in the case of staging and then publishing a GCE PD and when would the other be used? I see that only GetBlock() results in deriving the device path.

[2019-07-08 21:18] hantaowang commented on #95
/cc @jingxu97

[2019-07-11 17:18] davidz627 commented on #241
/remove-lifecycle stale

[2019-07-11 17:19] davidz627 commented on #239
/remove-lifecycle stale

[2019-07-11 17:19] davidz627 commented on #213
/remove-lifecycle stale

[2019-07-11 17:19] davidz627 commented on #140
/remove-lifecycle stale
This would be incredibly helpful for debugging

[2019-07-11 18:36] hantaowang opened #337 "Cherrypick GKE Integration test support into release-0.5.X"
/cc @davidz627

[2019-07-13 08:41] katsew opened #340 "Support for disk labels parameter"
# Problem

I use PVC and PV resources on GKE, and I also use PersistentDisk(PD) for ComputeEngine instances.
I usually filter PDs by labels when I delete it.
However, the PD which created by PV does not have labels for filtering.
This makes me difficult to filter to delete PDs.

# Solution

Adding parameter to StorageClass and use it in this driver.

[code]

# Additional Info

I read the related i

[2019-07-15 06:02] katsew commented on #340
Sorry, I didn't read the doc.
I didn't realize that this is not an official repo.
Close this issue because it's not compatible with current GCP CSI.

[2019-07-15 18:23] davidz627 commented on #48
Closed by #248

[2019-07-15 18:23] #48 closed

[2019-07-15 19:13] #222 closed

[2019-07-15 20:17] msau42 commented on #340
Hi @katsew, regardless of the feature request for in-tree vs CSI driver, I would like to understand your use cases.

Do you want the labels on the K8s PersistentVolume object, or the GCP Persistent Disk object?  Do you want to label per app, per-namespace, or per cluster?

[2019-07-16 00:42] davidz627 opened #343 "Driver doesn't mount with mount options"
Repro by setting
[code]
on the storage class. Then run the demo pod.
Exec into demo pod and check "mount"  you will find that the mount does not have the debug option set

[2019-07-16 01:12] msau42 commented on #343
also maybe related: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/263

[2019-07-16 04:02] katsew commented on #340
@msau42

Thanks for the reaction!
I think there is a different use case on k8s PV and GCP PD for labeling.

For k8s PV, I want to cascade labels which PVC has, and it can be per-app, per-namespace labels.
In this case, I just want to run `kubectl get pv -l app=foo,deployTo=namespace` rather than `kubectl get pv | grep part-of-pv-name`.
It's useful for filtering PVs by app and their namespace.

For

[2019-07-17 07:42] #343 closed

[2019-07-17 19:02] davidz627 commented on #263
/assign

[2019-07-17 21:24] #263 closed

[2019-07-18 18:08] #337 closed

[2019-07-26 23:23] davidz627 opened #356 "Set pod CPU & mem Requests for driver Container & Node components"
I did some stress testing of the driver:

![GKE Container - CPU usage for Controller](https://user-images.githubusercontent.com/5459214/61985942-ba8e9980-afc0-11e9-808a-dfb7c7848323.png)

![GKE Container - Memory usage for Controller](https://user-images.githubusercontent.com/5459214/61985945-be222080-afc0-11e9-811e-bec5a9525fe9.png)

![GKE Container - CPU usage for NODE](https://user-images.githu

[2019-07-27 00:08] misterikkit commented on #356
Looks like we could comfortably set the Node CPU request at `40m` or `60m`. Setting a CPU limit is not recommended.

[2019-07-27 00:15] msau42 commented on #356
It would be interesting to see if go has profiling tools to get a breakdown of memory usage.

[2019-07-27 00:17] davidz627 opened #357 "Set priority class to system critical"
Make the driver high priority and less likely to be evicted

/assign @verult
/cc @msau42

[2019-07-27 00:22] hantaowang commented on #356
cc @jingxu97

[2019-07-27 00:24] misterikkit commented on #356
Based on discussion, it would be interesting to,
- run the Controller on a separate node from the load test
- get some CPU & memory profiles from the Controller & Node components

[2019-07-27 00:33] davidz627 commented on #356
## Follow-Up No.1
- Tested with same configuration as original but set disk size to "500Gi"

![GKE Container - CPU usage for Controller (1)](https://user-images.githubusercontent.com/5459214/61987297-4e189800-afca-11e9-9344-7f006efe0dc5.png)

![GKE Container - Memory usage for Controller (1)](https://user-images.githubusercontent.com/5459214/61987298-51138880-afca-11e9-8101-c5ed7e858ba5.png)

![GK

[2019-07-29 22:13] davidz627 commented on #207
/remove-lifecycle stale

[2019-07-29 22:14] davidz627 commented on #188
/remove-lifecycle stale
/priority backlog

[2019-07-29 22:14] davidz627 commented on #188
couldn't figure it out before but started work here: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/189

[2019-07-29 22:14] davidz627 commented on #169
/remove-lifecycle stale

[2019-07-29 22:14] davidz627 commented on #167
/remove-lifecycle stale
/priority important-soon

[2019-07-29 22:15] davidz627 commented on #162
/remove-lifecycle stale
/priority important-soon

[2019-07-29 22:15] davidz627 commented on #191
/remove-lifecycle stale
@jingxu97 in case there is status update

[2019-07-29 22:16] davidz627 commented on #161
@jingxu97 update with status?

[2019-07-29 22:16] davidz627 commented on #261
/remove-lifecycle stale

[2019-08-02 14:14] jsafrane opened #360 "Reserve attach capacity for a boot disk"
Currently the CSI driver reports that it supports 128 volumes. Since every GCE instance has a boot disk, it should report 127 volumes at max.

Blocks https://github.com/kubernetes/kubernetes/pull/80247.
cc @davidz627

[2019-08-02 20:19] #360 closed

[2019-08-05 22:49] verult opened #365 "Pre-stop hook to delete registration socket isn't working"
Node-driver-registrar moved to distroless, so shelling no longer works. Alternative solution is being discussed at the node-driver-registrar level here: https://github.com/kubernetes-csi/node-driver-registrar/issues/21#issuecomment-517519504

[2019-08-06 01:18] davidz627 commented on #356
# Follow Up No. 2

## Test

- Set up cluster with 2 nodes each with `n1-standard-32` (32vCPU 120GB MEM)
- Controller on one of the nodes
- First test around 5pm was 100 Pods each with 500Gi disk on the node without the controller
- Brought down around 5:11
- 5:34 Created 100ish Pods (50is on each node) each with 5Gi disk - configuration error, this isn't a test I was trying to run :)
- 5:52 Create

[2019-08-06 16:24] msau42 opened #367 "Make sure all errors returned in CSI response is wrapped"
For example, [this](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-pd-csi-driver/controller.go#L383) directly returns cloud provider error.  And for this particular case,we should be returning NotFound according to the CSI Spec (pending discussion in https://github.com/container-storage-interface/spec/issues/373)

/kind bug

[2019-08-06 18:25] davidz627 commented on #367
/assign

[2019-08-06 23:37] davidz627 commented on #245
solved with combination of Pull Request template and kubernetes `release-notes` tool

[2019-08-06 23:37] #245 closed

[2019-08-06 23:40] davidz627 commented on #124
duplicate of #356

[2019-08-06 23:40] #124 closed

[2019-08-06 23:40] davidz627 commented on #161
/remove-lifecycle rotten

[2019-08-06 23:41] davidz627 commented on #37
namespace shouldn't be configurable, actually will just be set directly

[2019-08-06 23:43] davidz627 commented on #136
resolved by #303

[2019-08-06 23:43] #136 closed

[2019-08-07 22:38] verult commented on #357
`system-node-critical` and `system-cluster-critical` are restricted to kube-system. Will create separate priorityClasses with value  900001000 and 900000000 respectively (max for user-created value is 1 x 10^9)

[2019-08-07 22:46] verult opened #369 "Prow spyglass viewer isn't highlighting relevant errors"
In [this instance](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_gcp-compute-persistent-disk-csi-driver/364/pull-gcp-compute-persistent-disk-csi-driver-kubernetes-integration/1157432232361594881/) of the driver integration test, there isn't any useful error highlighting to help quickly identify where the test failure came from. Also as a result, almost the entire viewer

[2019-08-08 00:26] msau42 commented on #369
also related is https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/188

[2019-08-09 23:29] msau42 commented on #340
Sorry for the late response.  Yes, I think the request makes sense.  For labeling GCP PD, we can add a new StorageClass parameter for it.

For the K8s labeling case, you can get the PV that a PVC uses from PVC.Spec.Name.  Is that sufficient to search for PVs by labels?

/kind feature
/help

[2019-08-12 03:56] katsew commented on #340
@msau42

Thanks for the response.

This could help finding PVs by labels, but could not filtering these.

[code]

I think adding labels from PVCs to PVs gives more sufficient way to filter PVs by labels.

[code]

[2019-08-12 23:57] #37 closed

[2019-08-12 23:57] #321 closed

[2019-08-12 23:57] #357 closed

[2019-08-13 00:54] verult opened #371 "Document driver deployment in README"
Consider adding more documentation about the driver deployment. Some points that *might* be useful
* What to do to run to deploy, delete, upgrade/downgrade the deployment
* Mention of Kustomize
* High-level description of what's being deployed (maybe just a link to the k8s-csi design doc)

/priority important-longterm

[2019-08-13 04:04] msau42 opened #372 "NodeExpand may resize fs for block volume"
Looking back at `resizer.Resize` implementation, it checks the format on the disk before attempting a resize.  The problem is, the presence of a filesystem doesn't mean that the PVC is a Filesystem type.  A user could mount the volume as Block and manage an ext4/xfs filesystem themselves.

I think fixing this may require adding VolumeCapabilities to the Controller/NodeExpandVolumeRequest

/kind bu

[2019-08-13 18:44] davidz627 commented on #372
Just to confirm, the intended behavior is:
If the `VolumeCapability` is `Block` and the user manages a fs by themselves, we should **NOT** resize their fs
?

[2019-08-13 18:46] msau42 commented on #372
correct

[2019-08-13 19:15] gnufied commented on #372
okay, I have file a bug against CSI for adding the capability - https://github.com/container-storage-interface/spec/issues/380

[2019-08-14 16:22] msau42 opened #373 "Unique object names in deployment"
Some of the objects we create in the deployment manifests are cluster-wide.  We should probably have more unique names for them.  For example, our service account has a name like "csi-controller-sa" which when looking at it from the outside, you would have no idea it was for the pd csi driver (if you have multiple csi drivers on your system).

[2019-08-14 16:22] msau42 commented on #373
/assign @verult

[2019-08-14 17:39] davidz627 opened #374 "Snapshotter failing to come up in `dev` overlay"
Error is:
[code]

started happening after https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/364
/assign @verult

[2019-08-14 18:26] gnufied commented on #372
Actually I am wondering if we can solve majority of this problem, without making a change in CSI specs. See when volume is of type raw-block the `volumePath` that you will get with `NodeExpandVolume` will be a device-path not a mounted file system path. So we can use that information and not perform any file system level expansion when `NodeExpandVolume` is called on raw block devices.

I think it

[2019-08-15 00:52] davidz627 commented on #356
The large jumps in the node memory usage are evictable memory. The current theory is that mkfs.ext4 uses up a lot of memory for a very short burst of time then the memory becomes evictable. This should not be an issue and we should set node CPU and MEM ignoring evictable memory. CPU increases somewhat proportionally to the size of the disk which seems reasonable. I don't think theres anything we c

[2019-08-15 03:04] #367 closed

[2019-08-16 01:19] ZeroMagic opened #376 "udevadm may be never triggered right now"
In the function `VerifyDevicePath`(https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/mount-manager/device-utils.go#L89), the value of `sdBefore` is the same with `sdAfter`.

Then the function `udevadmChangeToDrive` will never be called. It seems like the code doesn't actually do anything.

/ping @davidz627

[2019-08-16 01:38] davidz627 commented on #376
This is true, the code as-is doesn't do anything :) thanks for the find.
The intent for udevadm triggers is to "workaround" two known errors.
- The disk has attached and shows up as `/dev/sdx` but does not get symlinked to `/dev/disk/by-id/` which we rely on for finding the correct disk
- A disk was detached (at `/dev/sdy`), a different one has attached also at `/dev/sdy` and the `/dev/disk/by-id/

[2019-08-16 02:17] ZeroMagic commented on #376
@davidz627 Oh, I'm afraid not. I have no time to fix it recently.

[2019-08-16 02:23] davidz627 commented on #376
/help

[2019-08-16 18:17] davidz627 commented on #356
We could also try using the Vertical Pod Autoscaler: https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler
with it

this would give us recommendations for cpu and mem resources for the driver

[2019-08-16 18:50] davidz627 opened #377 "Read Security Audit & Use Findings"
Read: https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf

From a quick skim some things already stand out as directly applicable to this driver.
See
8) Pervasive world-accessible file permissions
34) Hardcoded use of insecure gRPS transport (TBC)
23) Hard-coded credential paths

[2019-08-21 22:45] davidz627 opened #380 "Test migration with regional clusters"
We don't know if its working, there is some complexity with topology and the external-provisioner that may need to be checked out.

/cc @msau42 @verult

[2019-08-22 08:56] teralype commented on #340
I also think that propagating Kubernetes labels from the PVC to PV and from the PV to the actual GCE PD would increase discoverability. At the moment, now I'm force to create GCE PDs myself, then a Kubernetes PV, which is far from ideal and does not work well with Pod auto-scaling.

[2019-09-04 21:15] davidz627 commented on #286
/remove-lifecycle stale

[2019-09-04 21:15] davidz627 commented on #287
/remove-lifecycle stale

[2019-09-04 21:16] davidz627 commented on #292
/remove-lifecycle stale

[2019-09-09 22:17] davidz627 commented on #296
/remove-lifecycle stale

[2019-09-12 21:43] msau42 opened #382 "Change k8s integration test to use git sha for latest image testing"
Instead of using "latest" tag, which has problems with tags potentially changing in the middle of test runs, we should use a stable image tag, such as git commit sha.

/kind bug

[2019-09-17 18:50] davidz627 commented on #306
/remove-lifecycle stale

[2019-09-17 18:50] davidz627 commented on #305
/remove-lifecycle stale

[2019-09-18 02:31] davidz627 commented on #328
in-tree doesn't really do this either. maybe we should just document the fact the request size doesn't do anything

[2019-09-18 02:33] davidz627 commented on #261
/assign @msau42

[2019-09-18 22:39] davidz627 commented on #166
Double check whether this is running in-tree

[2019-09-18 22:43] davidz627 opened #384 "Validate volume capabilities for file system type and other non-access mode things"
/assign

[2019-09-18 22:45] davidz627 opened #385 "GKE integration tests with extra configurations"
determine useful configurations to test and test them

[2019-09-18 22:50] davidz627 opened #386 "Add volume capacity metrics"
like from `df` returned in `NodeGetVolumeStats`

[2019-09-18 22:53] davidz627 commented on #365
will be fixed in node driver registrar by reconciling the socket and also deleting it on sigterm

[2019-09-18 23:00] davidz627 opened #387 "Add metadata information in tag on PD"
info like namespace and pvc name (check with feature parity for in-tree plugin)

[2019-09-19 20:36] msau42 opened #388 "Add documentation on how to create a PV with a pre-existing PD"
/kind docs

[2019-09-19 23:42] davidz627 opened #389 "Driver bringup documentation improvements"
- [x] A little guide on setting up the go repo into the correct format
[code]
then use git clone to clone both repos.
- [ ] A list of the permissions/roles required to run the installation scripts

[2019-09-20 00:06] davidz627 commented on #389
Also possible to not make deployment dependent on cloning to the right place in the first place :)

[2019-09-20 19:07] msau42 opened #390 "Admission webhook to label pre-provisioned PDs"
In-tree PDs have an admission [controller](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/storage/persistentvolume/label/admission.go) that queries PD and sets appropriate topology labels + PV.NodeAffinity on manually created PV objects.

Need to decide whether we want to continue to support that with the CSI driver or not.  One limitation of the in-tree controller is I

[2019-09-20 19:19] msau42 commented on #390
Need to test in-tree if it's setting PV.NodeAffinity correctly for RePD

[2019-09-26 19:38] nelvadas opened #391 "Service Account display name is empty in GCP"
While creating service accounts with the ./deploy/setup-project script, the SA display name is not set.

`gcloud iam service-accounts create "${GCE_PD_SA_NAME}" --project "${PROJECT}"
`
#Proposed fix: Add --display-name attribute
 Create new Service Account
gcloud iam service-accounts create "${GCE_PD_SA_NAME}" --project "${PROJECT}" --display-name "${GCE_PD_SA_NAME}"`

[2019-09-26 19:42] nelvadas commented on #391
<img width="991" alt="Capture d’écran 2019-09-26 à 21 40 09" src="https://user-images.githubusercontent.com/1246830/65719626-798d3100-e0a6-11e9-8144-0f603a2a0cf4.png">

[2019-10-10 22:36] davidz627 commented on #386
/assign

[2019-10-14 19:13] davidz627 commented on #151
This seems to have been resolved at some point, we get the existing disk based on the "name/zone or name/region" key.
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/fd8d6416f463f03fd408e996a3c4ad4950480d39/pkg/gce-pd-csi-driver/controller.go#L155

The return value also contains the zones we actually used:
https://github.com/kubernetes-sigs/gcp-compute-persistent-dis

[2019-10-14 19:13] #151 closed

[2019-10-14 19:55] davidz627 commented on #261
@msau42 could you link new testgrids here and close this issue if this is complete?

[2019-10-14 20:43] msau42 commented on #261
The new testgrid is internal only.  I will also look into adding public jobs using stable versions and then update it here.

[2019-10-14 23:41] #373 closed

[2019-10-15 02:53] #213 closed

[2019-10-15 18:57] davidz627 opened #408 "add another storageclass test config to use Regional PDs in our external e2e"
Now that we have gke regional cluster support, we could potentially add another storageclass test config to use Regional PDs in our external e2e tests.

[2019-10-15 22:23] davidz627 commented on #276
/remove-lifecycle stale
/assign @saad-ali

[2019-10-16 00:21] davidz627 commented on #387
In-tree plugin provisions with `Description` field example:
[code]

No such thing as a "tag" AFAIK. Do people really rely on json description text? I guess we should continue this for backwards compatibility reasons. Considering adding some more description fields to specify the driver name that provisioned to volume.

/cc @msau42

[2019-10-16 00:30] #309 closed

[2019-10-16 00:37] msau42 commented on #387
What about "labels"? https://cloud.google.com/kubernetes-engine/docs/how-to/creating-managing-labels

[2019-10-16 00:45] davidz627 commented on #387
IIRK labels are new and basically what we were trying to approximate with the description field before. Labels are not used by in-tree currently. They are empty on my test PD.

IIUC description should stay the same because of backwards compatibility (who is actually depending on this functionality...?). Do we even have any expectations for backwards compatibility for a freeform text field meant fo

[2019-10-16 00:58] msau42 commented on #387
It has the possibility to break users once migration is on though.

[2019-10-16 21:21] davidz627 commented on #387
Depends on: https://github.com/kubernetes-csi/external-provisioner/issues/370

[2019-10-17 15:11] msau42 commented on #340
Putting here as fyi, GKE has a feature to label all GCP resources on a per cluster basis. This may help partially with your use case.  https://cloud.google.com/kubernetes-engine/docs/how-to/creating-managing-labels

We are also considering adding some k8s metadata like PVC name and namespace to the disk. https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/387

[2019-10-18 17:25] davidz627 commented on #300
/close
pruned the old release branch tests. too old and expensive to change with very little upside. We already have tested versions of the driver that support all versions `1.13+`

[2019-10-18 17:25] #300 closed

[2019-10-18 22:52] davidz627 opened #410 "Modify volume expansion e2e tests to use NodeGetVolumeStats to check underlying sizes"

[2019-10-18 23:23] #388 closed

[2019-10-22 01:07] #386 closed

[2019-10-24 00:48] davidz627 opened #416 "System critical daemon-set should include blanket toleration"
[code]

This makes sure the pod will never be evicted by a taint
/assign

[2019-10-25 01:12] davidz627 opened #419 "Migrate to go mod"
Instructions can be found here: https://github.com/kubernetes-csi/external-attacher/tree/master/release-tools#dependencies-and-vendoring

[2019-10-25 03:15] MeghanaSrinath opened #420 "Unable to deploy driver to k8s cluster: error listing CSINodes: the server could not find the requested resource"
I'm trying to set up CMEK in my cluster as per the details mentioned here:
https://cloud.google.com/kubernetes-engine/docs/how-to/dynamic-provisioning-cmek#dynamically_provision_an_encrypted

I have deployed the Compute Engine Persistent Disk CSI Driver to my cluster as per the steps mentioned in:
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/docs/kubernetes

[2019-10-25 03:18] msau42 commented on #420
Hi, thanks for reporting the issue. Version 0.5.0 of the CSI driver requires Kubernetes 1.14+. Can you try upgrading your cluster to 1.14?

[2019-10-25 06:42] MeghanaSrinath commented on #420
I upgraded the cluster version to 1.14.7-gke.10.
kubectl version:
[code]
However, when I re-aaply the storage class and PVC YAML files, its giving a different error now:
[code]
I have given the below roles to the service account and the key's resource identifier is also correct.
Cloud KMS CryptoKey Encrypter/Decrypter
Cloud KMS CryptoKey Encrypter
Cloud KMS CryptoKey Decrypter

[2019-10-25 08:09] philipstromback opened #421 "Failed to set up metadata service: failed to get machine-type: metadata: GCE metadata "instance/machine-type" not defined"
Hi,
I have a problem with installing the driver any version above v0.5.0 because it have problem to get the instance-type from the nodes. I'm running in a region cluster with a n1-standard-2 node-pool.

Kubernetes version:
[code]

Releases:
0.5.1
0.5.2
0.6.0

Errors:
[code]

Any idea what's wrong and how to solved it?

Regards
Philip

[2019-10-25 14:01] bertinatto opened #422 "[Feature Request] Possibility to overwrite volume limits"
As part of the work for graduating volume limits to GA in kubernetes v1.17, I'd like to run our e2e tests against a real CSI driver, more specifically, the PD driver.

However, the current limit (127 volumes) has been challenging to work with, since it generates many requests. The test gets constantly rate-limited and kubernetes backoff kicks in, so the run time slows down substantially.

That bei

[2019-10-25 15:23] msau42 commented on #421
/kind bug
/assign @davidz627

[2019-10-25 15:38] msau42 commented on #422
It could also indicate that we can't realistically support the limit we claim to support.

[2019-10-25 21:51] davidz627 commented on #420
@MeghanaSrinath, thanks for trying this out and sorry it has not gone smoothly for you so far.

Which service account did you give those roles to? The role `roles/cloudkms.cryptoKeyEncrypterDecrypter` should be granted to the "Compute Engine Service Agent" `service-[PROJECT_NUMBER]@compute-system.iam.gserviceaccount.com` on the project that your disks are being provisioned on.

I tried a couple di

[2019-10-25 22:02] davidz627 commented on #421
Hi @philipstromback, thanks for bringing this up and adding context with regards to workload identity. We are investigating now

[2019-10-26 01:15] #416 closed

[2019-10-28 03:17] MeghanaSrinath commented on #420
@davidz627  Thank you for looking into this issue.
I have created a service account -platform@acn-devopsgcp.iam.gserviceaccount.com and have given the roles to this as well.
[code]
This gives me the below roles, in which 'roles/cloudkms.cryptoKeyEncrypterDecrypter' role is also included:
[code]
Is there a restriction that only the compute engine default service account [service-[PROJECT_NUMBER]@co

[2019-10-28 06:03] jayapriya90 opened #423 "Update csi driver to build using Go 1.13"
Update Makefile, build files to ensure that the latest Go 1.13 is used for building CSI.

Switch from `dep` to `go modules` for dependency management

[2019-10-28 18:00] davidz627 commented on #420
@MeghanaSrinath thanks for the extra info this really helps.

The service account you've created (platform@) doesn't actually need the `roles/cloudkms` roles to function (assuming this account is just used as the one given to the pd driver).

Yes, the compute engine default service account is a *special* service account that will be used to encrypt/decrypt the disks as they are created or attached

[2019-10-28 18:29] meghanabsrinath commented on #420
@davidz627 so does this means that the default service account should have the above role instead of my 'platform@' service account? I actually have a cluster which used the 'platform@' service account during provisioning and the PVCs in the cluster are also dynamically provisioned during cluster creation. Hence, I wanted to use the same service account for the KMS encryption of the PVCs.
So as pe

[2019-10-28 18:49] davidz627 commented on #420
The compute service account does the encryption/decryption.
![Screenshot from 2019-10-28 11-46-51](https://user-images.githubusercontent.com/5459214/67708188-f565ec00-f978-11e9-9fd2-dc08609e4caa.jpg)

[2019-10-29 11:30] MeghanaSrinath commented on #420
Thank you @davidz627  ! This worked and my PVC is now bound.

[2019-10-29 17:16] #420 closed

[2019-11-05 03:09] zhucan opened #426 "It's "overridden"?"
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/fa208e7e147b518795c6147d751bcb38453c1152/pkg/mount-manager/fake-safe-mounter.go#L67

@davidz627

[2019-11-05 18:46] davidz627 commented on #426
@zhucan feel free to submit a PR to fix. IF you find other spelling errors please collate them into one PR

[2019-11-06 01:50] zhucan commented on #426
@davidz627 ok, I will take a look

[2019-11-06 01:57] zhucan commented on #426
/assign @zhucan

[2019-11-06 22:25] msau42 commented on #356
Can we get rid of StripSecrets since it's not actually relevant to our driver and it seems to take up non-trivial cpu usage?

[2019-11-06 23:00] davidz627 commented on #356
Some recommended reading: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#interactions-of-pod-priority-and-qos
Takeaways:
1) Set PriorityClass (we do already A+)
2) During resource contention/eviction anyone exceeding their requests (or no request at all) is evicted first. We don't want to be first evicted especially since evicting other pods may depend on storage which

[2019-11-08 02:50] #426 closed

[2019-11-08 19:48] ravithati-cse opened #430 "Failed getting Project and Zone: Get http://169.254.169.254/computeMetadata/v1/instance/zone: dial tcp 169.254.169.254:80: connect: connection refused"
Hi,

I am trying to setup CSI with OpenShift4.2 on GCP. My cluster shows healthy & I have deployed gcp-compute-persistent-disk-csi-driver as described in user docs of this project.

The controller "csi-gce-pd-controller-0" is faling with below errors.  Does the csi deployment in openshift need something more? i see its connection refused unlike "sa" account insufficient privileges on gcp.

I1108 1

[2019-11-08 20:23] hilliao commented on #421
I have workload identity enabled on a new cluster created only for testing the driver. I have a similar error message with difference of GOOGLE_APPLICATION_CREDENTIALS env var not set. I tested a virtually identical cluster with workload identity disabled would not have such problem.
[code]
![image](https://user-images.githubusercontent.com/1208650/68508151-84e58780-0222-11ea-91b2-dc380b16bb49.png

[2019-11-11 15:06] jsafrane commented on #430
OpenShift 4.x does not support accessing link-local IP addresses from withing a container (`169.254.169.254`). Please use `hostNetwork: true` for the driver pods and/or contact your OpenShift support.

[2019-11-11 22:19] ravithati-cse commented on #430
Thank you @jsafrane. It helped my understanding & being a Lab setup I could resolve it by deploying as privileged containers & hostNetwork: true.  I will work with OpenShift support to run as restricted containers.

[2019-11-11 22:19] #430 closed

[2019-11-14 22:47] davidz627 commented on #376
/remove-lifecycle stale

[2019-11-19 01:19] verult opened #431 "What happens if the driver terminates mid-operation?"
This is a collection of questions related to the issue title that requires more investigation. The driver can crash or be terminated by users at any time, including when there are volume operations ongoing.

* What happens when the driver terminates when it's in the middle of a node operation?
  * Are the node-level exec calls synchronous or asynchronous (i.e. forks a different process)?
    * If

[2019-11-19 01:19] verult commented on #431
/cc @davidz627 @msau42

[2019-11-25 13:54] zuzzas opened #432 "Deployment manifests are affected by CVE-2019-11255"
I haven't created a PR, since there are no built images `-gke.0` with proper sidecar versions.

CVE announcement: https://groups.google.com/forum/#!topic/kubernetes-security-announce/aXiYN0q4uIw

[2019-11-25 16:33] msau42 commented on #432
/assign @davidz627

[2019-11-25 19:48] gnufied opened #433 "Bug in NodeExpandVolume"
It looks like we may have a bug in CSI `NodeExpandVolume` implementation:

[code]

Failure logs -  https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-serial/1198911611914424322/build-log.txt

cc @msau42

[2019-11-25 19:49] msau42 commented on #433
/assign @davidz627

[2019-11-26 02:55] #432 closed

[2019-11-26 03:00] davidz627 commented on #421
Hi All,

To workaround this issue please run both the controller and node deployments with `hostNetwork:true`
These YAMLs can be found here: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/tree/master/deploy/kubernetes/base

We are working on a longer term fix to lift the restriction of using `hostNetwork:true` when the driver is used in a cluster with Workload Identity.

[2019-11-26 07:08] hilliao commented on #421
@davidz627 , it's not obvious how users can read [driver-install](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/docs/kubernetes/user-guides/driver-install.md) and identify which .yaml file to put `hostNetwork:true`. Can you give more specific instructions on which yaml files to modify and which line to put `hostNetwork:true` before running through [driver-in

[2019-11-27 01:00] davidz627 commented on #421
@hilliao we will actually just update the deployments to work and make some patch releases. Please check out the linked PR's if you want to use it earlier

[2019-11-27 01:37] #421 closed

[2019-11-27 07:10] hilliao commented on #421
Does it mean devops can just follow  [driver-install](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/docs/kubernetes/user-guides/driver-install.md) with workload identity enabled on the cluster without encounter the error in the issue title?

[2019-12-03 17:28] #423 closed

[2019-12-10 09:22] stiller-leser opened #440 "PKGDIR in setup_project.sh point to sigs.k8s.io instead of github.com/kubernetes-sigs"
Hi,

not sure if I tried to clone the driver correctly to my system. I tried to run `go get -v github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver` in order to position it in the `GOPATH` of my cloudshell on GCP.

In this case the `PKGDIR` in `setup_project.sh` points to the wrong location (see [this commit](https://github.com/stiller-leser/gcp-compute-persistent-disk-csi-driver/comm

[2019-12-10 11:28] joe-bowman opened #441 "setup_cluster.sh fails on Mac"
When running setup_cluster from my Mac, a number of elements in the setup_cluster.sh script fail:

Notably:

- `grep -P` doesn't exist; I worked around this using `jq` to parse data from json file - arguably this is far safer, but does add a dependency on jq.
- `sed -i` takes a value (the backup file extension); for my use case I added the requisite field, but not sure of a nice x-platform way to

[2019-12-10 11:33] joe-bowman opened #442 "Issue mounting volumes when instance `name` and k8s node name differ"
I have a number of instances in GCP called `kubeworker04` through `kubeworker06`; with hostnames `kworker04` through `kworker06` respectively.

Based on the hostnames, the k8s node ID is `kworker04` through `kworker06`.

The `csi.volume.kubernetes.io/nodeid` annotation that is applied to the host by the CSI controller however, is `kworkerX` not `kubeworkerX` - I thought this was pulled from the in

[2019-12-10 11:53] joe-bowman commented on #442
This is because of this issue: https://github.com/googleapis/google-claoud-go/issues/1698

[2019-12-10 15:33] msau42 commented on #442
/assign @davidz627

[2019-12-10 21:48] davidz627 commented on #440
Hi @stiller-leser , this is a documentation issue. The driver should be cloned to the `sigs.k8s.io` path which is convention among most `kubernetes` projects. Would you be willing to update the installation instructions with that step?

[2019-12-11 20:58] #440 closed

[2019-12-12 00:30] verult commented on #113
/cc

[2019-12-12 15:42] msau42 opened #445 "Support attach limits for new machine types"
There are a ton of new machines types and most should have 127 as the attach limit

https://cloud.google.com/compute/docs/machine-types

/help

[2019-12-12 23:43] davidz627 commented on #440
Thanks for this fix @stiller-leser! Appreciate it :)

[2019-12-17 16:53] verult commented on #369
/remove-lifecycle stale

[2019-12-18 19:54] verult commented on #374
Sorry didn't get to this til now. Is this still an issue? I tried with the dev overlay on master - snapshotter is running and I don't see the error in the logs

[2019-12-18 20:09] verult commented on #365
Issue tracking socket reconciliation:
https://github.com/kubernetes-csi/node-driver-registrar/issues/57

[2019-12-18 20:09] verult commented on #365
/remove-lifecycle stale

[2019-12-18 22:08] davidz627 commented on #374
This has been resolved.

[2019-12-18 22:08] #374 closed

[2019-12-18 22:08] davidz627 commented on #296
/remove-lifecycle stale
fairly low priority

[2019-12-18 22:08] davidz627 commented on #287
/remove-lifecycle stale

[2019-12-18 22:09] davidz627 commented on #385
Useful configurations have been identified (such as ubuntu). This issue is too general to be useful.

[2019-12-18 22:09] #385 closed

[2019-12-18 22:09] davidz627 commented on #384
/remove-lifecycle stale

[2019-12-18 22:10] davidz627 commented on #162
Implemented now, but incomplete: tracking #384

[2019-12-18 22:10] #162 closed

[2019-12-18 22:10] davidz627 commented on #167
/remove-lifecycle stale
high priority for migration. In-tree tests already cover this for non-migration workloads.

[2019-12-18 22:11] davidz627 commented on #241
/remove-lifecycle stale
this is still wack

[2019-12-18 22:11] davidz627 commented on #161
/remove-lifecycle stale
KEP is apparently somewhere

[2019-12-18 22:12] davidz627 commented on #191
/remove-lifecycle stale
We could run the snapshots tests from the integration test suite now. They require a focusing on the snapshots [feature] tag and deploying the alpha/dev version of the driver.

[2019-12-18 22:12] davidz627 commented on #380
/remove-lifecycle stale

[2019-12-18 22:12] davidz627 commented on #207
/remove-lifecycle stale
low priority

[2019-12-18 22:12] davidz627 commented on #207
/lifecycle freeze

[2019-12-18 22:13] davidz627 commented on #169
/remove-lifecycle stale
very useful should implement asap

[2019-12-18 22:13] davidz627 commented on #188
/remove-lifecycle stale

[2019-12-18 22:13] davidz627 commented on #188
/help-wanted

[2019-12-18 22:13] davidz627 commented on #188
/help

[2019-12-18 22:13] davidz627 commented on #140
/remove-lifecycle stale

[2019-12-18 22:14] davidz627 commented on #239
/remove-lifecycle stale
/lifecycle freeze
low priorit

[2019-12-18 22:14] davidz627 commented on #286
/remove-lifecycle stale

[2019-12-18 22:14] davidz627 commented on #292
/remove-lifecycle stale

[2019-12-18 22:14] davidz627 commented on #298
/remove-lifecycle stale

[2019-12-18 22:15] davidz627 commented on #308
/remove-lifecycle stale

[2019-12-18 22:15] davidz627 commented on #305
/remove-lifecycle stale
should probably do this ASAP

[2019-12-18 22:15] davidz627 commented on #306
/remove-lifecycle stale
xref: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/305

[2019-12-18 22:15] davidz627 commented on #328
/remove-lifecycle stale

[2019-12-18 22:16] davidz627 commented on #371
/remove-lifecycle stale

[2019-12-18 22:16] davidz627 commented on #372
/remove-lifecycle stale

[2019-12-18 22:17] davidz627 commented on #372
VolumeCapability was added so this should be easy to skip now

[2019-12-18 22:17] davidz627 commented on #377
/remove-lifecycle stale
/lifecycle frozen

[2019-12-18 22:17] davidz627 commented on #382
/remove-lifecycle stale
HIGH PRIORITY - CI IS NOT RUNNING WITH NEW IMAGES

[2019-12-20 23:52] davidz627 commented on #390
/remove-lifecycle stale

[2019-12-20 23:53] davidz627 commented on #389
partially resolved: 443

[2019-12-30 08:30] JohnRobinv opened #446 "failed to insert zonal disk: unkown Insert disk error: googleapi: Error 503: Internal error. Please try again or contact Google Support. (Code: '0'), backendError"
I'm trying to set up CMEK in my cluster as per the details mentioned here:
[dynamically_provision_an_encrypted](https://cloud.google.com/kubernetes-engine/docs/how-to/dynamic-provisioning-cmek#dynamically_provision_an_encrypted)

I have deployed the Compute Engine Persistent Disk CSI Driver to my cluster as per the steps mentioned in:
[driver install](https://github.com/kubernetes-sigs/gcp-compute

[2019-12-30 18:48] msau42 commented on #391
/remove-lifecycle stale

[2019-12-30 19:00] msau42 commented on #446
Hi @JohnRobinv, can you file a support issue to triage further?

[2020-01-02 02:32] JohnRobinv commented on #446
@msau42 , could you suggest how to do that?

[2020-01-08 02:57] msau42 commented on #446
Here's the GCP support page with instructions on how to file a support ticket:
https://cloud.google.com/support/docs/

The reason why I suggest filing a support ticket is because the error seems like a GCP backend error, not a problem with the CSI driver, and we may need to look at more detailed GCP logs to figure out the problem. cc @davidz627 to also double check

[2020-01-08 19:27] davidz627 commented on #446
without full logs this is hard to debug further. I agree with Michelle that based on the error message this seems like a GCP backend error. However, I would expect that this error is transient and should resolve itself eventually. The system should retry creation of the disk until success as long as your API objects continue to exist in their desired configuration. Are you still encountering this

[2020-01-09 06:46] JohnRobinv commented on #446
Thank you. @msau42
At last I found the root cause is the key. The key I used is not available. After creating a new one.
The PVC provisioning normally.

[2020-01-09 06:46] #446 closed

[2020-01-11 02:39] davidz627 commented on #446
@JohnRobinv could you clarify what you mean by "key used not available"? Was the key revoked, service account no permissions, key didn't exist at all, or other? The error message wasn't very clear and I want to make sure we get a good error message printed when this happens in the future!

[2020-01-13 16:47] davidz627 commented on #261
/remove-lifecycle stale

[2020-01-13 19:22] msau42 commented on #408
/remove-lifecycle stale

[2020-01-13 19:25] #305 closed

[2020-01-13 19:27] msau42 commented on #306
/reopen
The ability to test on ubuntu was added, but we don't have an actual config yet.

[2020-01-13 19:53] davidz627 commented on #306
On my list of things to do this week - just configured the description incorrectly

[2020-01-14 19:01] davidz627 commented on #306
Test configs added with GKE internally - still have some issues but close to resolution.

[2020-01-14 19:01] #306 closed

[2020-01-14 22:54] davidz627 commented on #387
/remove-lifecycle stale

[2020-01-15 00:45] davidz627 opened #452 "Re-enable sanity tests and NodeGetVolumeStats Unit test"
Disabled as part of the migration to `go mod` for development velocity. I mainly shot myself in the foot by generating some hacks in the long past so those need to get fixed before re-enabling the tests.

Basically NodeGetVolumeStats uses a fake mounter for unit testing and sanity testing but the fake mounter had a bug. I fixed the bug directly in the `vendor/` directory but did not upstream it be

[2020-01-15 01:35] #419 closed

[2020-01-15 22:06] davidz627 commented on #340
/remove-lifecycle stale

[2020-01-17 00:38] davidz627 commented on #410
/remove-lifecycle stale

[2020-01-17 00:48] davidz627 commented on #276
/remove-lifecycle stale

[2020-01-17 02:12] #452 closed

[2020-01-18 02:47] davidz627 commented on #445
/assign

[2020-01-21 20:59] davidz627 commented on #389
/remove-lifecycle rotten

[2020-01-23 00:11] davidz627 opened #457 "Update deployments to include new snapshot controller (for v1beta1 APIs), start running tests, and update docs"
Looks like some new snapshot APIs went Beta in k8s `1.17`. The corresponding `external-snapshotter` is also available and tested with the PD Driver. However, the stable deployment in this repo still does not contain the snapshotter, tests are not run by default, and the documentation for snapshotting may be out of date.

[2020-01-23 00:11] davidz627 commented on #457
/cc @jingxu97

[2020-01-23 22:21] davidz627 commented on #422
/remove-lifecycle stale

[2020-01-24 03:00] davidz627 commented on #296
https://github.com/kubernetes/utils/pull/134

adds the detailed error output that contains the "cant format readonly disk" message.
Need to update go mod version to new utils after merge

[2020-01-24 03:10] #445 closed

[2020-01-24 19:23] davidz627 commented on #296
/assign

[2020-01-25 00:13] #296 closed

[2020-01-27 23:31] davidz627 commented on #376
/assign

[2020-02-04 01:33] davidz627 commented on #433
Just judging by the failure message looks like an int overflow

[2020-02-04 01:51] davidz627 commented on #433
The test failing is: `Verify if offline PVC expansion works `

Looks like every test requests the resize to a size `6442450944` (5Gi + 1Gi) which is actually what size the disk ended up as after the `ControllerExpandVolume`. For some reason in this one run the disk was resized to `6442450944` from the controller side (correctly), but then the node resize requested `6917529027641081856` (incorrectl

[2020-02-04 02:14] davidz627 commented on #433
I've splunked through the `external-resizer` and `k8s` code a bit and followed the path the requestBytes takes throughout the system. I couldn't really see where the value could have gotten modified. Do you have a repro of this test so I can try running it myself?

[2020-02-04 02:17] msau42 commented on #433
The test runs in OSS K8s. You can run the standard kubetest with focus on it.

[2020-02-04 02:52] davidz627 commented on #433
`VolumeResizeFailed: resize volume pvc-7a776dd5-6aa1-420f-89d7-39d53b4687ec failed: rpc error: code = DeadlineExceeded desc = context deadline exceeded`
This error seems to occur in common between all the failed tests prior to failing. I inspected the code around context handling and error handling for `ControllerExpandVolume` and can't seem to find any obvious issues. My next step is to see if I

[2020-02-04 03:16] gnufied commented on #433
I thought the failure was on node side. `ControllerExpandVolume` errors might be transient?

Do we know why node requested such a large number?  If you let the test run in a loop with a focus, I think we should be able to reproduce this bug.

[2020-02-04 07:47] davidz627 commented on #433
The failure is on the node side but I was investigating to see if maybe the context cancel was causing something weird to happen with the size that gets passed along to node calls (since it goes through updating the PVC fields). Couldn't see anything obviously wrong there so I'll do some runs tomorrow to see if I can repro

[2020-02-04 18:56] davidz627 commented on #433
Ok I can repro the issue consistently by setting `csiTimeout=1s` for the resizer:
I get logs on the resizer during failure that look like this:
[code]

Here's a particularly interesting part (after context timing out a couple times):
[code]
Looks like the driver is responding with an incorrect size

[2020-02-04 19:00] davidz627 commented on #433
Another interesting observation is that the PD driver is expanding the disk on cloud to the correct size `6Gi` not `6Ei` like the response would suggest. So the resize size is correct, the response is incorrect

[2020-02-04 19:02] davidz627 commented on #433
Ah. I got it. If we resized successfully (but timeout the context) then resize again, we fall into this if statement:
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/dd14907c5d72d10b87f3c3ecf6ce93f156579af8/pkg/gce-cloud-provider/compute/gce-compute.go#L634
Which returns the request size in bytes, not gb

[2020-02-04 19:05] davidz627 opened #461 "Should use k8s.io/apimachinery quantity package for dealing with sizes throughout"
We had this bug occur:
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/433

because of mismatch between expecting "byte" response or "Gi" response. It's hard to be precise there. We should use the `Quantity` package to unify all size handling in the driver.

[2020-02-04 19:11] davidz627 opened #463 "Fix error message stutter"
When the driver errors out many of the RPC calls return an error status that includes the name of the RPC function it resides in. This causes stutter in the error message and should be fixed.

[2020-02-04 19:53] #376 closed

[2020-02-04 19:58] davidz627 commented on #144
/assign

[2020-02-04 19:58] davidz627 commented on #389
/assign

[2020-02-05 00:45] davidz627 opened #464 "CI Tests take 1+ hour to build Kubernetes causing occasional timeouts"
Tests only take about 4 minutes to run, building and bringing the driver up only about 10 minutes max.

Kubernetes build takes 1+ hour. We should figure out how to either speed this up or avoid building Kubernetes all together.

/cc @msau42

[2020-02-05 00:46] davidz627 commented on #464
For example see: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-gcp-compute-persistent-disk-csi-driver-latest-k8s-master-integration/1224771344382562304

We hit the 1.5 hour timeout. Kubernetes build starts at `19:17:54.728` and ends at `20:21:34.589`

[2020-02-05 00:48] davidz627 commented on #464
ah the yaml definitions dont have the container size requests that we have in GKE infra that give it enough resources to build kubernetes properly..

[2020-02-05 19:22] davidz627 commented on #382
/assign

[2020-02-05 19:24] davidz627 commented on #382
Looks like we're actually testing the `canary` image in quay for now. So we're getting the signal we want although not in the "best" way. Lowering priority

[2020-02-05 19:25] davidz627 commented on #356
/remove-lifecycle stale

[2020-02-05 19:25] davidz627 commented on #387
depends on: https://github.com/kubernetes-csi/external-provisioner/pull/399

[2020-02-05 19:47] msau42 commented on #464
If we're not testing against K8s master, then I'm not sure why we need to build K8s. I believe we were building to get the e2e.test binary, but even then, I don't think we need to do an entire "make quick-release". We could potentially just do "make WHAT=test/e2e/e2e.test"

[2020-02-05 19:57] #464 closed

[2020-02-05 22:27] #389 closed

[2020-02-06 00:33] davidz627 commented on #144
Unable to reproduce.

IF you set the timeout on the `external-provisioner` super low it will continuously call `CreateVolume` and cancel the context never completing the volume creation. Unless more evidence appears otherwise I am going to assume that GCP was being slow the day this issue appeared and caused cloud provider calls to be slower than usual causing repeated timeouts.

/close

[2020-02-06 00:33] #144 closed

[2020-02-06 00:34] davidz627 commented on #384
Duplicate of #253
/close

[2020-02-06 00:34] #384 closed

[2020-02-06 00:36] davidz627 commented on #253
For Publish and Stage we must validate that the VolumeCapability matches whether the volume is block or fs, then if fs that the actual `fstype` matches.

If requested `VolumeCapability` is block I don't think we can do any extra validation since a user could format their own `fs` onto the device and it technically is still `block`

[2020-02-06 02:39] msau42 commented on #261
Actually I'm not sure we really need public testgrids for Regional PD. wdyt?

[2020-02-07 01:15] davidz627 commented on #261
I don't think we have GKE ones either? I'm not aware of any multizone PD CSI tests

[2020-02-07 02:11] davidz627 commented on #261
New tests aren't running: https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-multizone&include-filter-by-regex=topology

I'm working on a PR to get them  up and going

[2020-02-07 02:11] davidz627 commented on #261
trying to test locally but can't seem to get the test focus just right :)

[2020-02-07 02:54] msau42 opened #469 "Option to tag PD with cluster name"
Since the driver is usually deployed per cluster, the cluster name could be passed in as a driver arg. This can help associate PDs to clusters. Instead of being specific to cluster name, it could also just take in a set of global tags. This is what ebs driver does.

/kind feature

[2020-02-10 20:45] #261 closed

[2020-02-12 01:42] davidz627 opened #472 "When PriorityClass (or any other yaml) fails to be deployed on the cluster the rest of driver set-up continues"
we see this a lot in clusters with version too low for priorityClass. The priorityClass fails to deploy but the error is not caught until we complete deployment of the driver and it fails to come up because it can't find the referenced priorityClass. We should make this experience better

/cc @yuga711

[2020-02-15 05:55] joe-bowman opened #473 "subjects.Namespace is a required value in k8s 1.16+"
Applying the master branch to a 1.16.3 cluster, throws the following error:
[code]

[2020-02-15 06:15] joe-bowman commented on #473
Ignore this; if you install using kustomize, it works a treat!

[2020-02-15 06:15] #473 closed

[2020-02-21 19:29] davidz627 opened #476 "Regional Persistent Disks unable to be found for staging and mount"
Turns out we only have one test that does actual mounting and staging of the disk and there was a fatal flaw.

We are not using error return value here: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/test/e2e/tests/multi_zone_e2e_test.go#L139
So the test is currently failing silently.

It is not clear whether RePD this was ever functional based on tests. But

[2020-02-21 19:29] davidz627 commented on #476
/cc @msau42 @saad-ali

[2020-02-21 22:41] davidz627 commented on #431
/remove-lifecycle stale

[2020-02-21 23:28] #476 closed

[2020-02-27 19:25] saad-ali commented on #276
CSI Metrics were added to the side car containers in the following PRs:
* https://github.com/kubernetes-csi/external-provisioner/pull/388
* https://github.com/kubernetes-csi/external-attacher/pull/201
* https://github.com/kubernetes-csi/external-snapshotter/pull/227
* https://github.com/kubernetes-csi/external-resizer/pull/67

These PRs are available in the following sidecar releases:
* external-p

[2020-02-27 19:25] #276 closed

[2020-03-03 18:24] gnufied commented on #433
Is this fixed. Looks to be failing still on - https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88488/pull-kubernetes-e2e-gce-csi-serial/1234883797321781250/

[code]

[2020-03-03 18:35] gnufied commented on #433
I am tentatively reopening this. If it turns out I am wrong or missed something, we can close it.

/reopen

[2020-03-04 17:12] msau42 opened #482 "Volume restored from snapshot is not ready for use after provisioning"
E2E flakes saw this error during attach:
[code]
Ref: https://github.com/kubernetes/kubernetes/issues/88762#issuecomment-594484135

[2020-03-04 17:14] msau42 commented on #482
/kind failing-test

cc @yosmat

[2020-03-05 01:50] davidz627 commented on #433
Released a new version of the driver v0.7.0 with the fix. It needs to be pulled in to k8s

[2020-03-05 09:11] jsafrane commented on #482
It happened during attach of a volume restored from a **snapshot**. `CreateVolume()` returned something that was not attachable for ~4 minutes.

[2020-03-09 17:01] msau42 commented on #442
/lifecycle frozen

[2020-03-09 17:02] msau42 commented on #442
/kind bug

[2020-03-09 17:02] msau42 commented on #441
/lifecycle frozen
/kind bug

[2020-03-17 18:54] verult commented on #369
/remove-lifecycle stale

[2020-03-17 20:35] msau42 commented on #365
/lifecycle frozen

[2020-03-17 22:58] msau42 commented on #380
/lifecycle frozen

[2020-03-17 22:58] msau42 commented on #287
/lifecycle frozen

[2020-03-17 22:58] msau42 commented on #241
/lifecycle frozen

[2020-03-17 22:59] msau42 commented on #207
/lifecycle frozen

[2020-03-17 22:59] msau42 commented on #191
/lifecycle frozen

[2020-03-17 23:00] msau42 commented on #167
/lifecycle frozen

[2020-03-17 23:01] msau42 commented on #161
/close
for now. I'm not aware of a cloning feature for PD

[2020-03-17 23:03] msau42 commented on #482
cc @yoesmat @yuxiangqian

[2020-03-17 23:26] msau42 commented on #140
/lifecycle frozen

[2020-03-17 23:27] msau42 commented on #169
/lifecycle frozen

[2020-03-17 23:27] msau42 commented on #188
/lifecycle frozen

[2020-03-17 23:27] msau42 commented on #239
/lifecycle frozen

[2020-03-17 23:27] msau42 commented on #286
/lifecycle frozen

[2020-03-17 23:28] msau42 commented on #292
/lifecycle frozen

[2020-03-17 23:28] msau42 commented on #298
/lifecycle frozen

[2020-03-17 23:28] msau42 commented on #308
/lifecycle frozen

[2020-03-17 23:29] msau42 commented on #328
/lifecycle frozen

[2020-03-17 23:29] msau42 commented on #371
/lifecycle frozen

[2020-03-18 00:37] msau42 commented on #372
/lifecycle frozen

[2020-03-20 00:11] msau42 commented on #390
/lifecycle frozen

[2020-04-03 20:33] msau42 commented on #433
upstream specs in k/k e2e have been updated
/close

[2020-04-03 20:33] #433 closed

[2020-04-08 00:50] verult commented on #372
VolumeCapabilities are now passed into resize call as part of external-resizer v0.5.0.

[2020-04-08 01:05] verult commented on #387
kubernetes-csi/external-provisioner#399 now available in v1.6.0

[2020-04-15 00:31] msau42 commented on #340
/lifecycle frozen

[2020-04-16 13:26] jsafrane commented on #365
I'm removing preStop hook from csi-driver-hostpath in https://github.com/kubernetes-csi/csi-driver-host-path/pull/176. It can't work and nobody is adding shell to node-driver-registrar. It would be nice if it was removed from GCE PD manifests too, so kubernetes tests logs are cleaner.

Effort to add signal handling to node-driver-registrar is IMO orthogonal.

[2020-04-17 16:36] prashantokochavara opened #490 "Unable to deploy driver - Failed getting project and zone"
I've double checked all credentials, but not sure why I keep hitting this issue for any version I deploy - stable or alpha.
![2020-04-17_12-33-44](https://user-images.githubusercontent.com/62115318/79592301-ce76b000-80a7-11ea-902a-921eab7d6d38.png)

Any idea what could be going wrong here?

[2020-04-17 17:25] msau42 commented on #490
Which version of the driver are you using?

Also, the error message is cut off, could you paste the entire "Failed to get cloud provider" error?

[2020-04-17 17:27] msau42 commented on #490
I see you are using v0.7.0.

[2020-04-17 17:28] prashantokochavara commented on #490
correct - installing the alpha version for snapshot feature support.
Happens with stable, dev, alpha all versions though.

Full output..

I0417 16:33:29.986931       1 main.go:67] Driver vendor version v0.7.0-gke.0
I0417 16:33:29.987006       1 gce.go:80] Using GCE provider config <nil>
I0417 16:33:29.987166       1 gce.go:125] GOOGLE_APPLICATION_CREDENTIALS env var set /etc/cloud-sa/cloud-sa.json

[2020-04-17 17:34] msau42 commented on #490
Do you have `hostNetwork: true` set in the DaemonSet spec?

[2020-04-17 19:47] prashantokochavara commented on #490
Nope, I do not. Do I need to add that in the spec somewhere?

[2020-04-17 19:51] msau42 commented on #490
Yes see https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/a0c8fa2bf78b8e5b52445a67ab782db1a53b75d3/deploy/kubernetes/base/node.yaml#L19

[2020-04-17 20:28] prashantokochavara commented on #490
I tried that and still facing the same issue.
This is an OpenShift environment that I am working with - 4.3 with 1.16 K8. Any supportability issues?

[2020-04-17 20:32] msau42 commented on #490
@gnufied @jsafrane are you aware of any configuration that needs to be done in openshift to access the GCP metadata server?

[2020-04-20 11:49] jsafrane commented on #490
Not sure what's  GCP metadata server... Is it the link-local address to get VM metadata? The DaemonSet pods must use `hostNetwork: true`.

OpenShift does not allow random pods to get to VM metadata, we used to put some sensitive material (don't remember exactly, some certificates?).

[2020-04-20 12:22] jsafrane commented on #490
There is nothing else OpenShift specific...

[2020-04-20 15:03] msau42 commented on #490
Yes I mean link local address to get vm metadata: 169.254.169.254:80: connect: connection refused

[2020-04-20 23:09] prashantokochavara commented on #490
@msau42 have we been able to confirm that non-OCP environments are not having this issue?

[2020-04-20 23:17] msau42 commented on #490
Yes, we have CI running successfully in kubetest GCP environment:
https://k8s-testgrid.appspot.com/provider-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Latest

@gnufied @jsafrane are you able to run the pd driver in your ocp environment?

[2020-04-21 17:29] jsafrane commented on #490
Yes, I am able to run e2e tests with manifests from https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests/storage-csi/gce-pd on GCP.

[2020-04-21 20:28] prashantokochavara commented on #490
I'm reading another issue but from an AWS project with similar issues being faced..
https://github.com/aws/aws-node-termination-handler/issues/21

Also, I am hitting similar metadata issues when using EC2 with OCP and EBS CSI Driver.
Is there a common codepath between the two CSI drivers by any chance?

[2020-04-22 01:36] msau42 commented on #457
/lifecycle frozen

[2020-04-22 18:25] msau42 opened #491 "Enable CheckLeakedResources in k8s e2es"
There was a bug introduced recently that caused detach and deletion of PVs to fail: https://github.com/kubernetes-csi/external-attacher/issues/225

We only had one test fail, and the remaining flake.  In addition to test improvements (https://github.com/kubernetes/kubernetes/issues/90370), we should also add the testcase that checks for leaked resources at the end of the tests.

/kind cleanup

[2020-04-27 13:56] clebs opened #493 "deploy/common.sh has a syntax error on `ensure_var`"
**Description**
When running `setup_project.sh` the following syntax error shows up:
`${GOPATH}/src/sigs.k8s.io/gcp-compute-persistent-disk-csi-driver/deploy/common.sh: line 11: conditional binary operator expected`

[2020-04-27 14:55] prashantokochavara commented on #490
@msau42
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/474#issuecomment-619115093
Could the GCP Driver be hitting the same thing?

[2020-04-27 18:00] msau42 commented on #490
Are you trying to run the controller on a node that doesn't have access to the metadata service?

[2020-04-27 18:02] msau42 commented on #490
There is no common code path between the two drivers, but the ideas are similar. They both require access to the metadata service in order to get project/zone information of the cluster they're running in.

There was work being done in both drivers to remove this requirement and allow controllers to be run outside of the Kubernetes cluster. But it requires additional arguments to be passed into th

[2020-04-28 00:39] msau42 opened #496 "some boskos projects don't have kms api enabled"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_gcp-compute-persistent-disk-csi-driver/495/pull-gcp-compute-persistent-disk-csi-driver-e2e/1254926333348155393/
[code]

/kind flake

[2020-04-28 01:09] msau42 commented on #496
/assign @saad-ali

[2020-04-28 19:56] #493 closed

[2020-05-03 16:29] chauhan27101974 opened #498 "How to verify whether my Dynamically Provisioned Persistent Disk is Encrypted or not"
I am doing a POC before actually deploying my production grade solution on GCP and to be manager by GKE ( Not using any other Google managed components  like GCS, Pub-Sub, DataProc etc. )  .
To secure my data at rest from unauthorized access (generated by my application components)  and  which would ultimately be saved on persistent disc, I tried to encrypt the persistent disc itself in GKE (1.14.

[2020-05-05 00:55] msau42 commented on #461
/lifecycle frozen

[2020-05-05 00:55] msau42 commented on #463
/lifecycle frozen

[2020-05-05 15:22] jpds opened #499 "PVCs failing with CMEK-enabled storage class"
I have a GKE cluster on the regular release channel which is at version: 1.15.9-gke.24.

On this cluster, I have the Compute Engine Persistent Disk CSI Driver enabled which in turn appears to have deployed:

[code]

I have the following storage class defined, which is using a CMEK:

[code]

Whenever one of my containers with a PVC volume restarts, it returns this in its describe pod:

[code]

And

[2020-05-05 16:59] msau42 commented on #499
/assign @jingxu97

[2020-05-05 20:50] msau42 commented on #356
/lifecycle frozen

[2020-05-05 20:50] msau42 commented on #382
/lifecycle frozen

[2020-05-06 17:50] jingxu97 commented on #499
I tried similar thing, restart the container in a running pod, but could not reproduce the issue. So normally container restart should not relate to volume setup. Do you mean a pod is restarted in a statefulset?

[2020-05-06 18:02] jingxu97 commented on #499
I also tried a statefulset and restart one pod, I don't see issues either. Please let me know if you can reproduce the error. Thanks!

[2020-05-06 18:28] msau42 commented on #499
It looks like this node is preemptible, so perhaps the issue is related to when the node gets uncleanly terminated.

v0.7.0 may be able to help. It added LIST_VOLUMES support which will allow the volume to get reattached to the same node name when the node gets recreated. It is available starting with gke 1.16.8+

[2020-05-06 20:10] jpds commented on #499
This is a database cluster with a statefulset on preemptible nodes (all the nodes are deleted and the node names do not come back the same with the new VMs).

I am also seeing this on a deployment instance, this error has happening multiple times over the past few days.

@msau42 Is it possible to just upgrade just `gcp-compute-persistent-disk-csi-driver` by editing the manifest in `kube-system`, o

[2020-05-06 20:21] jpds commented on #499
Hmm, just checked and the deployment that was failing earlier today landed on a new preemptible node and the volume attached itself fine there.

[2020-05-06 20:27] jpds commented on #499
I think a better way to reproduce this would be to delete the instance the pod is running from all together under Compute Engines > VM instances.

[2020-05-06 21:04] msau42 commented on #499
Unfortunately you will need to update the master to get the fix with v0.7.0. The part of the driver that handles attach is part of the master, not the nodes.

But that fix I was referring to only handles the case where the instance comes back with the same name. If it comes back with a different name, then it will take 6+ minutes after the old Node object was deleted to be able to reattach the vol

[2020-05-07 16:37] msau42 commented on #457
/reopen
One last item is to enable the e2e tests.

[2020-05-07 17:22] mattcary commented on #469
/remove-lifecycle stale

[2020-05-08 15:34] jpds commented on #499
I shall spin a cluster running the rapid channel today and leave it running over the weekend to see if this issue happens there. Today, the Prometheus deployment I mentioned before that was working is now failing.

@msau42 I'm running https://github.com/sorintlab/stolon which runs multiple copies of PostgreSQL across containers - it's not handling a large number of transactions so it's done well f

[2020-05-11 19:37] saikat-royc commented on #457
/cc @msau42

[2020-05-11 20:24] msau42 opened #504 "Add Serial test job"
Stress tests are not getting run because they're serial, and we currently skip all serial tests.

[2020-05-12 01:33] msau42 commented on #457
/reopen
To close when we add it to stable overlay

[2020-05-12 01:52] msau42 commented on #472
/lifecycle frozen
/kind cleanup

[2020-05-13 00:57] msau42 commented on #408
/lifecycle frozen

[2020-05-13 11:59] jpds commented on #499
I spun up a testing cluster on the rapid channel (version: `1.17.5-gke.0`), and I attempted to reproduce the preemptible instance behaviour by:

- Going to the instance groups page and selecting one of the instance groups
- Deleting the instance which had the pod with the PVC

As GKE does with preemptible instances - the replacement instance has a different name from the predecessor.

[code]

It t

[2020-05-13 22:46] msau42 commented on #499
Thanks for testing. Recognizing that the Node is gone and volume has been detached faster is a known gap in CSI: https://github.com/kubernetes-csi/external-attacher/issues/215

[2020-05-13 22:48] msau42 commented on #499
Note that this slow recovery occurs when nodes get ungracefully terminated. Graceful termination through upgrades and node pool deletion or scale down will issue a drain first.

[2020-05-14 04:18] #457 closed

[2020-05-14 06:10] saikat-royc commented on #457
/reopen

[2020-05-14 06:10] saikat-royc commented on #457
a new driver release and documentation changes are still pending for this

[2020-05-20 03:06] saikat-royc opened #511 "Driver integration test should support option to deploy GKE managed PD CSI driver"
In https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/test/k8s-integration/main.go, an option should be provided to deploy a GKE Managed driver, so that kubernetes e2e test suites can be run for this managed driver.

[2020-05-20 03:08] saikat-royc commented on #511
/cc @msau42 @mattcary

[2020-05-20 15:59] msau42 commented on #511
cc @verult

[2020-05-27 00:10] msau42 opened #513 "CSI Migration tests failing"
https://k8s-testgrid.appspot.com/provider-gcp-compute-persistent-disk-csi-driver#Migration%20Kubernetes%20Master%20Driver%20Latest

/kind failing-test

[2020-05-28 13:35] ffilippopoulos opened #516 "Race when running multiple controller replicas"
We are running the following configuration:
kube `v1.17.3`
os-image `Flatcar Container Linux by Kinvolk 2512.2.0 (Oklo)`
kernel `4.19.124-flatcar`
docker `docker://18.6.3`
and deploy csi driver from `github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/deploy/kubernetes/overlays/stable?ref=v0.7.0`

We decided to use 2 replicas for the controller, since we saw that this is a statefulse

[2020-05-28 16:25] msau42 commented on #516
More than one controller running concurrently is not supported, unless you enable leader election so that only one controller will be active at a time.

[2020-05-28 20:23] #391 closed

[2020-05-28 22:03] verult commented on #513
/assign

[2020-05-29 00:49] verult commented on #513
The failure is caused by https://github.com/kubernetes-csi/external-attacher/issues/217, which is fixed in external attacher 2.2.0. Tests passed against staging RC overlay.

Since staging tests have been green, the fix is to promote staging images to dev.

[2020-05-29 02:07] #513 closed

[2020-05-29 07:22] ffilippopoulos commented on #516
@msau42 thank you very much for clearing this. Can you point me on how to enable leader election? Other than that I reckon this issue can be closed

[2020-06-03 00:52] msau42 commented on #516
Each of the csi sidecars (provisioner, attacher, resizer, snapshotter) has a `--leader-election` and `--leader-election-namespace` flag that should be passed to it. Note that in some older sidecar versions, there were multiple leader election methods, so for those versions `--leader-election-type=leases` (requires k8s 1.14) should be used in addition.

@verult would you be able to update our specs

[2020-06-03 00:57] msau42 commented on #410
/lifecycle frozen

[2020-06-03 18:23] verult commented on #516
Sure thing. Note that it might be better to use a Deployment instead of a StatefulSet for multiple replicas: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md#cluster-level-deployment

/assign

[2020-06-04 08:24] eyalzek opened #519 "Add support for ephemeral volumes"
CSI ephemeral volumes are in beta starting kubernetes 1.16. I'm not sure what it would entail to add support to this feature, but it would definitely be nice to have.

https://kubernetes.io/docs/concepts/storage/volumes/#csi-ephemeral-volumes

[2020-06-04 16:56] msau42 commented on #519
/kind feature
There is an alternative ephemeral volume feature being proposed for 1.19 that will make it easier for general-purpose storage drivers like this one to support. https://github.com/kubernetes/enhancements/issues/1698

[2020-06-04 16:58] eyalzek commented on #519
That's good to know, thanks for the link!

[2020-06-05 19:21] #516 closed

[2020-06-08 19:16] verult opened #522 "Change deployment scripts to use kubectl Kustomize integration"
Kustomize is now integrated into kubectl. It would be nice to simplify our deployment scripts to use kubectl apply instead.

@msau42

[2020-06-08 19:17] verult commented on #522
/priority backlog

[2020-06-10 00:49] jingxu97 opened #523 "In cluster setup, all service accounts need to associate with Pod security policy"
If PodSecurityPolicy is enabled, service accounts in cluster setup need to associate with one Pod security policy.

Need to have a way to make sure each time we have a new service account, remember to bind to a security policy

[2020-06-10 00:51] jingxu97 opened #524 "Pod security policy to restrict the types of volume"
Currently, pod security policy used during in cluster setup allow all kinds of volumes

[2020-06-11 12:17] zhucan opened #525 "If we don't remove the target path，is there affects？"
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/317f2a6bf756cfcbc9fa65275ef6e7174e6e9347/pkg/gce-pd-csi-driver/node.go#L232

[2020-06-11 12:19] zhucan commented on #525
Because of the openshift sdn container will occupy the dir，the dir status will be busy.

[2020-06-11 18:54] saikat-royc opened #526 "PD CSI Driver CreateVolume should wait for Disk to reach READY status before returning success"
For CreateVolume,
1. if an existing disk is found a success is directly returned without checking ready status:
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-pd-csi-driver/controller.go#L140

2. Similarly at the end of the operation we should check for ready status.
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master

[2020-06-11 18:55] saikat-royc commented on #526
/cc @msau42 @mattcary

[2020-06-11 22:56] msau42 commented on #525
My expectation is Unpublish will fail and we will retry until it succeeds.

cc @gnufied and @jsafrane for openshift integration issues

[2020-06-11 22:58] msau42 commented on #525
I believe in that case then the volume will remain InUse, and if the Pod gets rescheduled to another node, it will be stuck in attach until the 6 minute force detach timeout.

[2020-06-12 01:57] zhucan commented on #525
@msau42 yes，if the pod  gets rescheduled to another node，if we umount the target path successfully, why is there mount recording in the sdn container？ I don't know the why sdn container occupy? Could you help me?

[2020-06-12 02:06] zhucan commented on #525
In our development csi driver，I can see the target path had been umount successfully，But when we remove the target path, the resource is busy，so the pod will running on other nodes，until the 6 minutes timeout.

target path:
![image](https://user-images.githubusercontent.com/13997135/84456973-0824fb00-ac94-11ea-93d2-4e122b644458.png)
sdn:
![image](https://user-images.githubusercontent.com/13997135/

[2020-06-12 02:31] msau42 commented on #525
Thanks for the details! @gnufied @jsafrane can you help out? I'm not familiar with this openshift-sdn container and why it is using this mount.

[2020-06-12 02:53] zhucan commented on #525
Because of the sdn container mount all of the path in the node.
![image](https://user-images.githubusercontent.com/13997135/84459800-e1b68e00-ac9a-11ea-9a1d-19af6c8c95a4.png)

[2020-06-12 23:25] #511 closed

[2020-06-17 22:37] saikat-royc commented on #482
This issue is also tracked in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/526. Will be fixed by PR: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/527. @msau42  we can close this issue as duplicate.

[2020-06-17 23:02] msau42 commented on #482
/close

[2020-06-17 23:03] #482 closed

[2020-06-18 21:15] #526 closed

[2020-06-22 00:48] #422 closed

[2020-06-22 20:12] verult commented on #431
@saad-ali do you think this needs to be investigated for GA?

[2020-06-22 21:06] saikat-royc opened #531 "update resizer sidecar rbac rules"
In https://github.com/kubernetes-csi/external-resizer/pull/86, new permissions were add for the resizer to watch Pod events.

[2020-06-22 21:06] saikat-royc commented on #531
/assign

[2020-06-25 05:41] saikat-royc commented on #531
with fix for https://github.com/kubernetes-csi/external-resizer/issues/88, we do not need to update rbac rules, if the feat is off.
If we want to enable the feat in future, we can re-open the issue.

[2020-06-25 05:41] #531 closed

[2020-06-25 18:41] jpds commented on #499
The cluster that was having this issue has been running fine as of the `1.16.8-gke.15` regular channel release.

Closing this for now, many thanks!

[2020-06-25 18:41] #499 closed

[2020-06-26 00:50] saikat-royc opened #535 "For GKE cluster deploy use image type option"
As part of https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/commit/77f4be8bed7d36cf89d407c09d08d83639097067#diff-afcfa6fe87dc3f1ffdd50628122f4222L153, a bug was introduced which dropped the 'image-type' option. As a result, even if the test config passes a specific image, the default is pickedup.

[2020-06-26 00:50] saikat-royc commented on #535
/assign

[2020-06-26 00:51] saikat-royc commented on #535
/cc @msau42 @mattcary

[2020-06-26 00:51] saikat-royc commented on #535
/cc @verult

[2020-06-26 02:23] #535 closed

[2020-06-26 23:02] saikat-royc opened #537 "Add autorepair option for using GKE release channel"

[2020-06-29 23:02] saikat-royc opened #539 "Disable VolumeInUser error handler for csi-resizer"
With https://github.com/kubernetes-csi/external-resizer/issues/88, volume in use error handler in csi-resizer is now optional.
Use the new flag to disable Pod Informer in csi-resizer side-car for PD driver in staging-head overlay.

[2020-06-29 23:02] saikat-royc commented on #539
/assign

[2020-06-29 23:03] saikat-royc commented on #539
/cc @msau42 @mattcary

[2020-06-30 01:05] #539 closed

[2020-06-30 21:58] saikat-royc commented on #537
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/538 is fixed.

[2020-06-30 21:58] #537 closed

[2020-07-01 19:26] saikat-royc opened #541 "Increase operation timeouts for csi sidecars"
While fixing kubernetes-sigs/gcp-compute-persistent-disk-csi-driver#526, observed that Create Volume from a snapshot datasource takes time to get provisioned.

following behavior in provisioning seen in GCE PD CSI driver:
there are 2 cases for a CreateVolume call (https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-pd-csi-driver/controller.go#L88):

disk a

[2020-07-01 19:26] saikat-royc commented on #541
/assign

[2020-07-02 06:40] aayush-rangwala opened #543 "change dependency management from dep to go mod"
Use the native go toolchain dependency management tool go mod instead of using third party manager dep

[2020-07-03 18:11] hadim opened #544 "ReadWriteMany support"
Is that technically possible to add `ReadWriteMany` support for the CSI GKE driver?

Or is setting up an NFS server the only option to get `ReadWriteMany` ?

[2020-07-06 16:43] msau42 commented on #544
For a general purpose filesystem, NFS is the easiest way to get `ReadWriteMany`.

To use ReadWriteMany with PD would require using a specialized distributed filesystem or writing your own filesystem layer that could handle the concurrency of multiple writes to the same block device across nodes.

[2020-07-06 16:44] hadim commented on #544
Ok, so it's technically possible as-is. Thank you @msau42

[2020-07-06 16:44] #544 closed

[2020-07-06 16:49] msau42 commented on #544
CSI support for it is not possible yet. It's being worked on in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/415.

And it's going to be limited in use for only Raw Block mode because of the need to write/provide your own distributed filesystem layer.

[2020-07-07 02:09] verult commented on #387
/remove-lifeccycle stale

[2020-07-07 02:09] verult commented on #387
/remove-lifecycle stale

[2020-07-07 02:34] msau42 commented on #543
We do support go mod: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/go.mod

Are you having trouble using go mod?

[2020-07-07 15:16] shankarkc opened #545 "Nomad support question"
Hi I am trying to use this controller/noe plugin with nomad. Can you please let us know if this supports non kubernetes environment. As of now when I try to port the deployment to K8s I see that node plugin passing some parameters that is specific to K8s.
[code]

[code]
 Can you please let me know how to how this driver can be used with nomad?

[2020-07-07 16:53] msau42 commented on #545
Our primary developers are focused on Kubernetes integration and unfortunately don't have any Nomad experience. PRs are welcome for adding Nomad support. I would check with the Nomad project on their guidance for how to configure CSI plugins.

[2020-07-08 11:03] chout0000 commented on #371
[good](https://pomeranian4homepups.com/pomeranian-puppies-for-sale/) [ideal](https://pomeranian4homepups.com/pomeranian-puppies-for-sale/)

[2020-07-08 11:03] chout0000 commented on #371
[nice](https://pomeranian4homepups.com/pomeranian-puppies-for-sale/) [gist](https://pomeranian4homepups.com/pomeranian-puppies-for-sale/)

[2020-07-08 11:31] chout0000 commented on #169
[Good](https://healthycavalierkingcharlesspanielpuppies.com/cavalier-king-charles-spaniel-puppies-for-sale/) [work](https://healthycavalierkingcharlesspanielpuppies.com/cavalier-king-charles-spaniel-puppies-for-sale/)

[2020-07-08 11:32] chout0000 commented on #169
[nice](https://healthycavalierkingcharlesspanielpuppies.com/cavalier-king-charles-spaniel-puppies-for-sale/) [ideal](https://healthycavalierkingcharlesspanielpuppies.com/cavalier-king-charles-spaniel-puppies-for-sale/)

[2020-07-08 20:12] dumm223 commented on #545
Do what

[2020-07-08 21:51] mohamadrezafn97 opened #546 "97"

[2020-07-09 00:35] qjayforever25 opened #547 "Django"
Let's hope this works

[2020-07-09 04:45] #547 closed

[2020-07-10 21:16] gnufied commented on #525
Hmm I am aware of similar problem that causes mounts to leak into other namespaces but I have not seen this in awhile with crio. We need to investigate this. Thank you for debugging this one.

[2020-07-12 06:57] dzynr commented on #545
designmodelpro_official From @dsign_guy Spending some time with this particular beauty at the moment reminded me of some of the old school... more

[2020-07-15 01:35] msau42 commented on #140
/assign

[2020-07-15 22:08] msau42 commented on #139
https://github.com/kubernetes/kubernetes/pull/93120 may help validate the driver is registered successfully on all nodes.

It would be nice to also have a check that the controller deployment came up successfully

[2020-07-15 22:56] mattcary commented on #139
Is that a matter of polling for objects defined in the appropriate configs in cluster/addons?

[2020-07-15 22:58] msau42 commented on #139
Yes, namely the Deployment in the gce-pd-csi-driver namespace.

[2020-07-15 23:00] msau42 commented on #496
Another failure due to kms not being enabled:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_gcp-compute-persistent-disk-csi-driver/554/pull-gcp-compute-persistent-disk-csi-driver-e2e/1283532669065367552/

[2020-07-15 23:06] mattcary commented on #139
/assign

Ok I'll take this.

[2020-07-16 00:40] #140 closed

[2020-07-16 00:45] msau42 commented on #140
Sample driver logs: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_gcp-compute-persistent-disk-csi-driver/554/pull-gcp-compute-persistent-disk-csi-driver-kubernetes-integration/1283548649288110080/artifacts/pd-csi-driver/

[2020-07-16 06:49] #541 closed

[2020-07-17 16:18] msau42 opened #557 "Docs for CMEK"
Update the README with new StorageClass parameter and user guides with an example.

/assign @saad-ali

[2020-07-17 16:28] msau42 commented on #557
In the meantime, https://cloud.google.com/kubernetes-engine/docs/how-to/using-cmek#create_a_cmek_protected_attached_disk has the steps

[2020-07-17 23:31] saad-ali opened #558 "CMEK Disk Creation Sometimes Fails with "disk already exists with same name""
**Problem**

Provisioning of GCE PDs with CMEK enable sometimes fails with `disk already exists with same name`

[code]

**Repro Steps**

1. Deploy GCE PD CSI Driver with `csi-provisioner` sidecar parameter `--timeout=1s`
    * This will make it easier to simulate a timeout.
1. Create a StorageClass enabling CMEK encryption:
[code]
1. Provision a PVC using the StorageClass above.
    * It may take

[2020-07-21 19:48] mattcary commented on #491
/remove-lifecycle stale

[2020-07-22 20:47] #431 closed

[2020-07-24 02:27] shankarkc opened #560 "Error while mouting the disk"
Hi there,
I am trying to use csi driver. I have controller and node plugins up in my cluster. I have registered a volume too. When I create a application that tries to mount the CSI volume I see below exception in node plugin.
[code]
Can you please help me here ?

[2020-07-24 18:30] msau42 commented on #560
What OS and driver version are you using?

[2020-07-24 21:15] mattcary opened #561 "Support Balanced PD"
Since the driver already passes through the PD type opaquely without validation, "support" really means testing and possibly updating constants and such to document the feature in the code.

[2020-07-24 21:15] mattcary commented on #561
/assign

[2020-07-27 19:48] verult opened #564 "Add CSIDriver Object to deployment"
CSIDriver object is optional for the PD CSI driver, but is generally recommended as it's easy to query which CSI drivers are available in the cluster

[2020-07-27 21:13] Jiawei0227 commented on #564
I am happy to help implement this as a starter project to understand the concept here.

[2020-07-27 22:12] verult commented on #564
Thanks Jiawei for helping with this!

/assign @Jiawei0227

[2020-07-28 19:41] #558 closed

[2020-07-28 20:42] ernestas2k commented on #340
Any comments on the status?

We're in need to put custom labels for special identification purposes (matters not related to kubernetes).

Looking into other drivers:
1. aws drivers support tags that via csi driver startup args.
2. azure drivers support tags via request.Parameters["tags"] = "key1=val1,key2=val2" and seems to be comfortable to use.

Should we start working on request.Parameters["lab

[2020-07-28 20:52] msau42 commented on #340
Adding a storageclass parameter seems reasonable to me. Contributions are greatly appreciated!

[2020-07-29 07:01] saad-ali commented on #365
preStop hook was removed in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/520
Whenever https://github.com/kubernetes-csi/node-driver-registrar/issues/21 or https://github.com/kubernetes-csi/node-driver-registrar/issues/57 are tracking the new fix.

/close

[2020-07-29 07:01] #365 closed

[2020-07-29 07:25] saad-ali commented on #253
Removing this issue from GA blockers since the current behavior here is the same as the old in-tree behavior:

https://github.com/kubernetes/kubernetes/blob/aec30be5b3341d0937dc12e1d973cacb3714560e/pkg/volume/gcepd/gce_pd.go#L382-L384

While it would be nice to do stricter validation, this does not need to block GA.

[2020-07-29 07:45] saad-ali commented on #356
Based on that, I don't see any additional work for GA.

[2020-07-29 09:32] saad-ali commented on #390
**Background**

The GCE PD in-tree volume plugin adds the following labels on PV creation:

[code]

The primary purpose of these labels is to ensure that the k8s scheduler takes these constraints in to account during pod scheduling.

This mechanism is replaced in CSI with a more robust/generic topology mechanism.
The new mechanism automatically labels nodes when CSI driver starts (see https://gith

[2020-07-29 11:22] ernestas2k commented on #340
I have opened PR to address this ticket, please take a look.

[2020-07-29 11:37] shay-berman commented on #387
what is the status of this ticket?
I would like to know when CSI driver will be GA in GKE?

[2020-07-29 11:38] shay-berman commented on #372
What is the status of this ticket please?
Looks like it blocking the GA of the GKE CSI driver.

[2020-07-30 07:31] saad-ali commented on #387
/assign

[2020-08-04 01:30] #564 closed

[2020-08-05 17:56] msau42 opened #568 "Tests for idempotency"
We've fixed some issues regarding idempotent calls, such as https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/563 and https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/527.

It would be good to test this in general so  we can catch other issues. Some suggestions:
* For testing, reduce the sidecar controller timeouts to 1s so that a controll

[2020-08-06 23:10] #387 closed

[2020-08-07 07:41] saad-ali commented on #372
/assign

[2020-08-07 08:23] saad-ali commented on #498
Go to https://console.cloud.google.com/compute/disks
Find and select the dynamically provisioned disk.
Look for the "Encryption" section.
![FkbmwbbFyGr](https://user-images.githubusercontent.com/10052848/89625355-98269180-d84c-11ea-806b-160674b00293.png)

[2020-08-07 08:23] #498 closed

[2020-08-07 08:32] saad-ali commented on #496
The project is `k8s-gce-soak-1-5`. Is that a valid PR builder project? @msau42

[code]

[2020-08-07 16:11] msau42 commented on #496
we use "gce-project" boskos pool. These are all the projects: https://github.com/kubernetes/test-infra/blob/f6791dcfd36a1476877ec0114dd13da4f3f8d8c3/config/prow/cluster/boskos-resources.yaml#L230

[2020-08-07 20:31] saad-ali opened #573 "Fix TestNodeExpandVolume before volume resize GA"
The `TestNodeExpandVolume` tests are currently disabled and need to be rewritten.

https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/a1ba4cb4686249910b0d91d9fa2be5d9539de47f/pkg/gce-pd-csi-driver/node_test.go#L444-L454

Before we move volume resize to GA, these tests must be fixed. In addition make sure these tests also cover the behavior introduced in https://github.c

[2020-08-07 20:37] msau42 opened #574 "Test flake multivolume block"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_gcp-compute-persistent-disk-csi-driver/571/pull-gcp-compute-persistent-disk-csi-driver-kubernetes-integration/1291641086669754368/

[2020-08-07 21:27] #372 closed

[2020-08-11 18:02] ajaykmis opened #576 "failed to provision volume with StorageClass "gce-fast-regional": rpc error: code = DeadlineExceeded desc = context deadline exceeded"
Hi,

I am trying to create a PVC from a VolumeSnapshot in GKE 1.17. but the PVC always fails the first time - with the error :
Warning ProvisioningFailed 3s pd.csi.storage.gke.io_gke-3292dc0cc953259ae863-6e51-ee44-vm_49f3a555-6e32-44d2-b129-36dc0b8c3a00 failed to provision volume with StorageClass "gce-fast-regional": rpc error: code = DeadlineExceeded desc = context deadline exceeded

It eventual

[2020-08-11 18:09] msau42 commented on #576
The default timeout configured is only 10s, which is very short. But the operations should be idempotent, so subsequent calls should eventually succeed.

@saikat-royc can you verify if the fixes you made to increase the timeout and check the disk status before returning from CreateVolume are available in GKE yet?

[2020-08-11 18:13] ajaykmis commented on #576
Thanks @msau42 - It's interesting to note that the first time I create fresh PVC (not with snapshot), it always succeeds within 10s. Do you mean creating PVC from snapshot takes longer than 10s, but it takes less time to provision it freshly?

could you point me to the @saikat-royc  PR?

[2020-08-11 18:17] msau42 commented on #576
Yes, creating from a snapshot takes longer because it also has to populate the data into the disk.

[2020-08-11 18:20] saikat-royc commented on #576
Here is the patch to increase timeout for the sidecars: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/542/files
I see, it is available only in the staging-head and rc builds as of now.

[2020-08-11 20:08] ajaykmis commented on #576
Thanks @saikat-royc for the explanation. Any idea when the fix (increased timeout) might be available in main release for GKE?

[2020-08-11 20:55] saikat-royc commented on #576
request @msau42  to answer the release timeline question

[2020-08-11 21:16] msau42 commented on #576
We are close to cutting a 1.0 release (within a week or two). Once the 1.0 is cut, we will roll it out the new driver to the GKE rapid channel first, and once that looks stable, then to the regular channel.  The whole process will take a few weeks.

Do you see any issues with the first timeout? It should resolve itself after a few retries.

[2020-08-12 00:05] #576 closed

[2020-08-12 18:18] mattcary opened #578 "Add FsType example to kubernetes basic user guide"
/assign

[2020-08-13 06:44] ajaykmis commented on #576
@msau42 : Thanks for the information.

No, the AtachVolume time out is not causing any issues, but just that we see failures in k8 events logs. I look forward  to the increased timeout.

Thanks!

[2020-08-13 17:57] msau42 commented on #161
/reopen

This is a thing: https://cloud.google.com/compute/docs/disks/add-persistent-disk#source-disk

/assign @mattcary

[2020-08-14 00:40] #557 closed

[2020-08-14 12:34] vpnachev opened #581 "CSINode creation fails because spec.drivers[*].nodeID can exceed the maximum allowed length of 128 characters"
For GCP projects and nodes with long names the `nodeID` can become longer than 128 characters. If this happens, the `CSINode` object cannot be created because of this validation https://github.com/kubernetes/kubernetes/blob/d822b8b230bce0178400e8949ff3f45423d315d0/pkg/apis/storage/validation/validation.go#L345-L347 and the result is that no volume managed by the CSI driver can be attached and used

[2020-08-14 12:53] vpnachev commented on #581
/sig storage
/priority important-soon

[2020-08-14 20:45] #369 closed

[2020-08-15 00:22] #578 closed

[2020-08-15 07:10] shay-berman commented on #372
Great to see that [GA Driver](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/projects/6) project is all done.
May I ask when the GKE [documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/gce-pd-csi-driver) will be update about using the GA driver vs the Beta version?

[2020-08-17 22:30] saikat-royc opened #583 "Volume expansion e2e test support for GKE managed driver"
code:  https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/test/k8s-integration/driver-config.go#L76
Use generateGCETestSkip, and generateGCETestSkip to generate skip string based on k8s version

[2020-08-17 22:30] saikat-royc commented on #583
/assign

[2020-08-17 22:48] msau42 commented on #372
Once it's completely rolled out in GKE, which will start in rapid channel and eventually reach the stable channel, we will update the GKE documentation. It will take a few weeks to reach stable as it needs to first soak in rapid, then regular channels.

[2020-08-17 22:52] gnufied commented on #372
Did we wanted to expand this functionality and return `false` from `ControllerExpandVolume` , if it is called for block volume types? That would eliminate need for calling NodeExpandVolume altogether.

[2020-08-18 16:01] #583 closed

[2020-08-20 18:31] Jiawei0227 commented on #581
Thanks for submitting this issue. The reason for 128 length limitation is because the CSI spec. We have decided to update the CSI spec to loose the length constraint on certain fields. And then an update to k8s will resolve this question.

[2020-08-20 20:04] vpnachev commented on #581
While I was investigating I was just about to open the issue on k/k side to change the limit, but then I saw that the [CSI spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#size-limits) imply the 128 bytes limit.

For me, changing the spec is also fine, if it is not too much effort.

[2020-08-20 23:58] jeremyje opened #585 "Use kubernetes-csi/csi-release-tools instead of custom Makefile."
This repository currently uses a custom `Makefile` script to build the artifacts. CSI drivers are expected to use the kubernetes-csi/csi-release-tools repository for building.

See https://github.com/kubernetes-csi/csi-release-tools for details.

[2020-08-25 06:53] shay-berman commented on #372
@msau42 I am using GKE CSI beta today, just want to make sure. Is there going to be upgrade pass from PVC that were created via the GKE CSI beta to the GAed CSI version?

Do I need to take any action in order to get the CSI GAed version while running on GKE?

Thanks

[2020-08-25 16:17] msau42 commented on #372
@shay-berman no changes needed. The GA driver is compatible with the beta. The only action you may need to take is to upgrade your GKE cluster to get the GA driver if you are not on a release channel.

[2020-08-25 16:49] mattcary opened #591 "Refactor junit-filter in k8s-integration tests"
Since #586, junit-filter is now in this repo. The k8s-integration tests which copy-pasted junit-filter should be refactored to use it.

[2020-08-25 21:55] jeremyje commented on #574
I looked into this flake. The failure appears here, https://github.com/kubernetes/kubernetes/blob/9e70d6f805e0787dc71d59b6db15d76766a657ef/test/e2e/storage/utils/utils.go#L670 called from https://github.com/kubernetes/kubernetes/blob/9e70d6f805e0787dc71d59b6db15d76766a657ef/test/e2e/storage/testsuites/multivolume.go#L401, https://github.com/kubernetes/kubernetes/blob/9e70d6f805e0787dc71d59b6db15d7

[2020-08-26 02:16] saad-ali commented on #496
Ran `xargs < projects.txt -n 1 gcloud services enable cloudkms.googleapis.com --project` on the entire `gce-project` boskos project pool. There were 13 projects that didn't have the API enabled. All of them should be good now.

[2020-08-26 02:16] #496 closed

[2020-08-26 18:31] mattcary opened #592 "Run all storageclasses in k8s-integration even when test failure"
Currently the test stops at the first ginkgo run. Errors should be combined.

/assign mattcary

[2020-08-27 17:17] saikat-royc opened #594 "Master logs missing in PDCSI e2e test runs"
Seeing error like in the build.log file

{"msg":"PASSED External Storage [Driver: csi-gcepd-sc-standard] [Testpattern: Dynamic PV (default fs)] subPath should verify container cannot write to subpath readonly volumes [Slow]","total":-1,"completed":2,"skipped":81,"failed":0}
Aug 26 15:36:32.411: INFO: Running AfterSuite actions on all nodes
Aug 26 15:41:49.848: INFO: Running AfterSuite actions on n

[2020-08-27 17:17] saikat-royc commented on #594
/assign @mattcary

[2020-08-27 18:02] mattcary commented on #594
It's been happening since at least August 3, on 1.17 at least, which is as far back as our archived pull logs seem to go. The problem seems to be with the log dumping in k/k/tests/e2e, the diagnostic bit from build.log is:

Dumping logs from master locally to '/logs/artifacts'
KUBE_MASTER_IP:
KUBE_MASTER:
/tmp/gcp-pd-driver-tmp636485011/kubernetes/cluster/log-dump/log-dump.sh: line 343: MASTER_NAM

[2020-08-27 18:02] mattcary commented on #594
Note that it's not clear if it's a problem in k/k/test/e2e, or a problem with how run-k8s-integration is calling the e2e tests (eg, it may not be defining MASTER_NAME or similarly)

[2020-08-27 20:20] #592 closed

[2020-08-27 23:09] mattcary commented on #594
That job is running on GKE, no wonder e2e.test can't find the master logs. We'd need special plumbing to pull them out of the master.

/close

[2020-08-27 23:09] #594 closed

[2020-08-28 16:59] mattcary commented on #574
The failure here took 18m whereas the test typically takes 2-3m. So I think something else is timing out here.

The test has been passing recently.

[2020-09-03 04:01] simon-anz commented on #581
We ran into this also.

Registration process failed with error: plugin registration failed with err: error updating CSINode object with CSI driver node info: error updating CSINode: timed out waiting for the condition; caused by: CSINode.storage.k8s.io “*removed*” is invalid: spec.drivers[0].nodeID: Invalid value: “projects/our-project-30-char/zones/australia-southeast1-a/instances/our-instance-52

[2020-09-03 16:53] msau42 commented on #581
Fixes in GKE are in the process of rolling out, first in rapid channel.

We will separately work with the CSI community to change the limit.

[2020-09-03 21:45] mattcary opened #605 "Tests are reported twice in testgrid"
https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#presubmit-gcp-compute-persistent-disk-csi-driver-kubernetes-integration&include-filter-by-regex=volumes%20should%20store%20data

They are only run once as best as I can tell. I guess the testgrid reporting looks in subdirectories for yaml files? This is probably due to my multiple storage class PR.

/assign mattcary

[2020-09-03 21:57] msau42 commented on #605
Does that mean we don't need to actually merge the junit files?

[2020-09-03 22:23] mattcary commented on #605
The merging removes duplicate skipped test entries so it should clean up the output.

I'm also not 100% sure that's the issue---my PR working under that assumption is being tested now, we'll see if it fixes it....

If subdirectories are scanned then maybe it would be better to have duplicate skipped entries and tear out the filter-junit code.

[2020-09-03 22:53] mattcary commented on #605
ah, I just realized the presubmit won't show what the testgrid actually looks like. I guess it might be easiest to submit and see what it does?

[2020-09-03 23:29] #605 closed

[2020-09-08 23:05] msau42 commented on #504
/remove-lifecycle rotten

[2020-09-14 15:49] mattcary commented on #161
/lifecycle frozen

[2020-09-15 19:33] jpds opened #608 "Disk failed to relink with udevadm"
I've been running a database cluster with a statefulset for a number of months of GKE. Yesterday I upgraded to to regular channel version `1.16.13-gke.401` and today I found that that statefulset had its first pod with this in `describe pod`:

[code]

[2020-09-15 19:37] mattcary commented on #608
Can you confirm that the PD behind the associated PV/PVC is healthy?

[2020-09-15 21:49] jpds commented on #608
It is indeed, I did `kubectl delete pod db-0` and the database cluster came back after that.

[2020-09-15 21:53] mattcary commented on #608
Weird, so pod 0 must have gotten in to a weird state? Possibly the attach failed but the kubelet couldn't figure it out, and deleting the pod forced a retry.

Maybe just one of those things, but I wonder if there is a race condition somewhere we're missing.

[2020-09-15 22:32] msau42 commented on #608
By the time we get to the MountDevice error, I believe the Attach call should have succeded.

We have seem some strange udev problems in the past where udev missed an event or didn't update its device cache. We've tried to workaround it by doing a "udev trigger" when things seem strange, but there's potentially still some scenarios where that won't help.

[2020-09-16 21:16] jpds commented on #608
This just failed again, there's definitely a regression between `1.16.3-gke.1` and `.401`.

[2020-09-18 23:52] msau42 commented on #608
Do you mean 1.16.13-gke.1 and .401? I don't think we ever released a 1.16.3-gke.1. If so, both those versions use v0.7.0-gke.0 of the driver.

If you meant 1.15.13-gke.1, then the pdcsi driver was on v0.6.0-gke.0, and potentially https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/459 could be playing a factor.

Is this issue reliably reproducible? Are you able to ssh to

[2020-09-19 18:40] mattcary commented on #139
Actually, the k/k change will not improve the k8s-integration test in this repo as it deploys the driver from a shell script.

I have a PR at https://github.com/mattcary/gcp-compute-persistent-disk-csi-driver/tree/wait (currently stacked up behind #610) that will fix the change in this repo too.

[2020-09-22 19:52] taylorsilva opened #611 "HostToContainer Mount Propagation not working"
## Summary
Pods with `HostToContainer` mount propagation do not receive existing overlay mounts on a GCP PD.
Unclear if #95 is related.

## Steps to Reproduce

We have one pod, `mounter`, that has a GCP PD where it creates overlay mounts. It is configured with `Bidirectional` mount propagation. [PVC and Mounter deployment manifest](https://gist.github.com/taylorsilva/b38c4d59cf56f46f3d3d8d2aeae431

[2020-09-22 21:09] mattcary commented on #611
Thanks for the issue!

As you've described it, this seems to be an issue with the in-tree driver and not this CSI driver? The storageclass above is kubernetes.io/gce-pd which is the in-tree driver.

[2020-09-24 06:16] jingxu97 opened #614 "Add pod wait function in k8s integration test, for pd driver start and also prepull image daemonset"
See comments here https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/613#discussion_r493998132

Currently workflow, it waits for certain of of time for prepull calls driver or pr pd csi driver part.

[2020-09-24 16:15] mattcary commented on #614
/assign

I have a PR ready that's waiting on the ADC one (https://github.com/mattcary/gcp-compute-persistent-disk-csi-driver/tree/wait)

It conflicts with the ADC change so it was complicated to send it out for review.

[2020-09-24 17:15] saikat-royc opened #615 "ValidatingWebhook for PVC provisioned by PD driver"
This issue is used to track the requirement for a ValidatingWebhook for PVC create/update to check misconfigs.
For e.g For CSI driver, the AccessMode [check](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/gce-pd-csi-driver/utils.go#L105) is done today during CreateVolume call and the request is failed if access mode is RWM. We can validate such conditions

[2020-09-24 18:48] saikat-royc commented on #615
/cc @msau42

[2020-09-24 19:43] #490 closed

[2020-09-24 22:32] xtreme-sameer-vohra commented on #611
Thanks @mattcary. Created a new issue [here](https://github.com/kubernetes/kubernetes/issues/95049)

[2020-09-25 08:26] WojciechKarpiel opened #617 "Support for `fsType` parameter (XFS in particular)"
Hello!
My use case is: use Volume Snapshots for creating backups for MongoDB
My problem is: I am not able to use the CSI driver to provision PV using following StorageClass:
[code]
Note the `fsType: xfs` part. If I remove this line, then PV is created correctly (ext4 is assumed).
I want to use XFS because it's recommended for MongoDB: https://docs.mongodb.com/manual/administration/production-notes

[2020-09-25 16:29] msau42 commented on #617
For CSI, the correct storageclass parameter is "csi.storage.k8s.io/fstype = xfs". Can you try that?

/assign @mattcary
to add to docs + example

[2020-09-25 21:55] jpds commented on #608
Indeed, `1.16.13-gke.1` and `.401` - sorry.

I upgraded the cluster to `regular-channel/1.17.9-gke.1504`  last Friday and it seems to have not had this issue so far.

[2020-09-25 22:44] msau42 commented on #608
1.17.9-gke.1504 uses v0.7.0-gke.0 of the pd driver.

Given all the versions you used had the same driver version that includes #459, maybe it could be an OS issue. cc @mattcary

[2020-09-28 06:17] WojciechKarpiel commented on #617
Works like a charm, thanks!

[2020-09-28 14:12] #611 closed

[2020-10-01 23:18] mattcary commented on #408
/assign mattcary

[2020-10-02 20:05] mattcary commented on #614
/open

@jingxu97 do we need to do something for the "prepull image daemonset"? We wait on the daemonset deployment, I'm not sure what you mean buy "prepull"

[2020-10-02 20:26] jingxu97 commented on #614
@mattcary prepull script is starting a daemonSet with specific container image. The purpose is to download image by running those containers. We want to do this before running tests so that all the images are already local when tests start to run. Otherwise, it will definitely exceed 5 mins timeout for pods to start which is coded in the tests.

Yes, we should use your wait script to wait for thos

[2020-10-05 17:43] mattcary commented on #543
/close

Please reopen this if go mod isn't working as you expect---AFAIU we've moved off of dep, but quite possibly I've missed something.

[2020-10-05 17:43] #543 closed

[2020-10-05 18:28] Jiawei0227 commented on #608
Also hit the same issue. One thing interesting is I found my CSIDriver object is misconfigured.
[code]
The attachrequired field should set to true.

[2020-10-05 18:36] Jiawei0227 commented on #581
This is available in GKE rapid and regular channel already.

[2020-10-06 17:02] msau42 commented on #469
/reopen

[2020-10-06 17:07] mattcary commented on #469
Is this effectively a duplicate of #340?

[2020-10-06 17:10] msau42 commented on #469
#340 is at the StorageClass level. This is at the cluster-level and could be automatically inferred by the provider that's deploying the driver.

[2020-10-06 19:02] verult opened #622 "Some tests are creating standalone StorageClasses instead of reusing ones specified in the k8s-integration binary"
Noticed that some test jobs are creating standalone StorageClasses, such as this resize test:

https://prow-gob.gcpnode.com/view/gcs/gob-prow/logs/periodic-gcp-pd-csi-driver-master-latest-k8s-integration-1-16-gke/1313498478982205440#1:build-log.txt%3A8874

Should all tests use only the configured StorageClasses?

The StorageClasses configured in k8s-integration also don't have allowVolumeExpansion

[2020-10-06 22:08] verult commented on #622
The tests might be just creating a copy of the StorageClass config. But for this specific test case, is `allowVolumeExpansion` set somewhere else in the test? Otherwise resize couldn't have worked

[2020-10-06 23:57] mattcary commented on #469
Got it, so it eg could be done at the same time that we set the PV info, https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/pkg/common/parameters.go#L86

[2020-10-07 00:23] msau42 commented on #469
Yeah it can be set when you create the PV, but the actual config could be set when you start the driver (as a driver arg)

[2020-10-07 00:27] verult commented on #622
/cc @saikat-royc @mattcary

[2020-10-07 01:05] mattcary commented on #622
Hmm, it may be created in k/k/test/e2e/storage/drivers/csi.go:GetDynamicProvisionStorageClass which means it's always using pd-standard?

that would need to be corrected if so. Good find, thanks!

[2020-10-07 01:19] jingxu97 commented on #614
somehow it cannot be reopened?

[2020-10-07 02:00] verult commented on #622
Aside from that, it might be good to include `allowVolumeExpansion` in the configured storageclasses

[2020-10-07 06:11] vpnachev commented on #581
How can other k8s distributions consume the fix?
Could you share more details about it?

[2020-10-07 07:07] Jiawei0227 commented on #581
You can manually update pkg/apis/storage/validation/validation.go csiNodeIDMaxLength to a larger size to workaround the issue first.

The plan for fixing it in OSS is:
1. Update CSI spec to say the csi node max length can be longer than 128. Probably we will set to 256
2. Update OSS Kubernetes to use the new version spec.

[2020-10-07 13:44] ialidzhikov commented on #581
This is not an option for parties which use upstream images and do not maintain fork of k/k.

@msau42 , are these activities part of the milestone for v1.20? Is the above mentioned change to k/k enough or the CSI sidecars need to be updated/adapted as well?

[2020-10-07 16:44] msau42 commented on #581
Agree we should definitely discuss this in the next csi meeting @saad-ali. No changes to sidecars are anticipated.

[2020-10-07 16:59] msau42 commented on #622
It should be created from https://github.com/kubernetes/kubernetes/blob/2ad48d384dc3ac85f25edc365c06fd83b2dfddb0/test/e2e/storage/external/external.go#L264 which is the storageclass we pass into the test.

[2020-10-07 19:10] mattcary commented on #614
/reopen

[2020-10-07 19:12] mattcary commented on #614
There we go :-)

I just sent a PR for the daemonset issue

[2020-10-07 19:38] mattcary opened #625 "Use client-go to deploy & wait rather than shell scripts"
deploy/kubernetes and test/k8s-integration share some bash scripts for deploying the driver as well as waiting for the deployment to be ready (deploy/kuberntetes/wait-for-deploy.sh; test/k8s-integration/prepull-image.sh).

We should move as much of that as possible to client-go and do it in code rather than shell scripts which are much harder to test & maintain.

[2020-10-07 20:16] #614 closed

[2020-10-07 22:15] mattcary commented on #622
oh phew that would be much better.

[2020-10-08 00:18] verult commented on #622
Ah and `allowVolumExpansion` is explicitly set for "AllowExpansion" test patterns

https://github.com/kubernetes/kubernetes/blob/c7d6f796fe30d3eb6ffd259693280329a7ada8f9/test/e2e/storage/testsuites/base.go#L244

and

https://github.com/kubernetes/kubernetes/blob/c7d6f796fe30d3eb6ffd259693280329a7ada8f9/test/e2e/storage/testsuites/volume_expand.go#L69

This should be working as expected then

[2020-10-08 00:26] msau42 commented on #622
/reopen
I think there is a minor bug in that logic though. It is only overriding the storageclass.AllowVolumeExpansion field when the testpattern is set to true. I think it needs to override it in both cases, so that it can properly handle storageclasses that have it set.

[2020-10-08 16:20] mattcary opened #626 "Allow use of regional PD in zonal cluster"
Currently the driver must find 2 zones in order to create a regional PD, making it impossible to use with a zonal cluster.

Customers want to use regional PDs with a zonal cluster, or other cases where the cluster has a single zone, for either multicluster use cases or when there is backup/replication happening outside of k8s.

I believe this could currently be done with a manually provisioned PV,

[2020-10-08 16:26] msau42 commented on #626
This wouldn't work well with WaitForFirstConsumer binding mode, which looks at currently available topology in the cluster

[2020-10-08 16:26] msau42 commented on #626
I believe if you set AllowedTopology in the storageclass, we don't validate that the topologies actually exist. Need to confirm behavior though.

[2020-10-08 17:05] mattcary commented on #626
We do as far as I could tell (when I was testing the regional storage
class).

I could have messed it up, though, and in any case the UX isn't great doing
it that way and could be improved.

However this does just seem to be a problem of plumbing the zones through
in a good way, there's no technical blocker.

On Thu, Oct 8, 2020 at 9:27 AM Michelle Au <notifications@github.com> wrote:

[2020-10-09 00:50] jingxu97 opened #628 "VolumeStats does not work for Windows"
VolumeStats in pd driver does not work for Windows.

[2020-10-10 04:12] #628 closed

[2020-10-12 20:55] #408 closed

[2020-10-19 14:12] loganmzz commented on #469
I don't see interest in pushing explicitly cluster name into GCP-managed resources since cluster labels are already applied as describe in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/340#issuecomment-543221858.

Just add a `gke-cluster-id` (or similar) label(s) to your cluster. However, being able to distinct resources coming from a single cluster is still requ

[2020-10-19 18:02] msau42 commented on #469
There is this change here which is using Disk labels, and we'll have to do a followup to set the pvc/pv tags as a Label as well: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/566

As for cluster id as a label, it's useful for non-gke users.

[2020-10-24 00:41] mattcary commented on #561
This was fixed with the pd-balanced storageclass k8s-integration tests added some time ago.

[2020-10-24 00:41] #561 closed

[2020-10-27 01:04] mattcary commented on #491
/remove-lifecycle stale
/lifecycle frozen

[2020-10-27 21:40] saikat-royc opened #639 "setup-project.sh should skip keys creation step for noauth overlay"
In https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/deploy/setup-project.sh,
gcloud iam service-accounts keys create step should be skipped when using a noauth overlay.

[2020-10-27 21:41] saikat-royc opened #640 "Improve the local development readme docs"
Improve the local development readme docs, to point to how to use the overlays, how to use the noauth overlay (which enables development using application default credentials)

[2020-10-27 22:35] mattcary commented on #639
We already have a CREATE_SA variable to control the project setup.

I was under the impression that this script would only be run once, and rarely, and might be used across multiple deployment overlays. eg it's not run by the test harness like the deploy script is.

I don't know if we can plumb the noauth overlay selection through to here anyway.

Definitely the documentation around this can be im

[2020-10-27 22:39] mattcary commented on #640
Adding more details on test/run-k8s-integration-local.sh would also be helpful, eg what each of the commented-out commands do, etc.

[2020-10-27 22:47] saikat-royc commented on #639
@mattcary  I was thinking more for a first time setup on GCE cluster, where we would like to use the noauth style ADC. The current script, will detect there is no existing SA, and set CREATE_SA=true, and proceed with SA creation and key creation(we could take a new flag SKIP_SA_GENERATION which is false by default). Thoughts?

[2020-10-29 00:41] msau42 commented on #127
@saikat-royc has done most of the work getting all the pre-release and post-release jobs and permutations going. Most if it is handled internally. Publicly, we have a few limited jobs testing against stable released versions and csi migration.

Here's the public dashboard: https://k8s-testgrid.appspot.com/provider-gcp-compute-persistent-disk-csi-driver

/close

[2020-10-29 00:41] #127 closed

[2020-10-31 00:25] saad-ali opened #649 ""Kubernetes Master branch and Driver" failing for a long time"
`Kubernetes Master branch and Driver` aka `ci-gcp-compute-persistent-disk-csi-driver-latest-k8s-master-integration` appears to have been failing as far back as we have history (Oct 15) in the test grid: https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Latest

Overall test failure prevents any tests from running.

The error appears to be:

[code

[2020-10-31 00:26] saad-ali commented on #649
This is blocking 1.1 release

[2020-10-31 00:27] saad-ali commented on #649
Per Jing this should be fixed by https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/647

[2020-10-31 00:28] saad-ali opened #650 ""Migration Kubernetes Master Driver Latest" tests failing for a long time"
`Migration Kubernetes Master Driver Latest` aka `ci-gcp-compute-persistent-disk-csi-driver-latest-k8s-master-migration` has been failing. Last green run was Oct 15 at 16:46 PDT, the subsequent run at 17:47 PDT was red and all subsequent runs have been red since: https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#Migration%20Kubernetes%20Master%20Driver%20Latest

Error are:

[c

[2020-10-31 00:28] saad-ali commented on #649
Let's leave this open until test grid turns back to green.

[2020-10-31 00:30] saad-ali opened #651 "`Kubernetes Master Driver Release 0.7` tests failing for a long time"
`Kubernetes Master Driver Release 0.7` aka `ci-gcp-compute-persistent-disk-csi-driver-release-0-7-k8s-master-integration` has been failing for as long as we have history in test grid (Oct 15): https://testgrid.k8s.io/provider-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Release%200.7

Error:

[code]

[2020-11-02 08:34] saad-ali commented on #649
@jingxu97 Tests are still failing, even though #647 is merged with the same error: `failed to install CSI Driver`.

[code]

[2020-11-03 22:19] saad-ali commented on #651
Fixed by #655
Test grid is green mod some test failures.

[2020-11-03 22:19] #651 closed

[2020-11-03 23:00] #649 closed

[2020-11-03 23:00] #650 closed

[2020-11-04 06:38] jingxu97 commented on #649
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/654 fixed it.

[2020-11-04 17:42] mattcary commented on #568
/remove-lifecycle stale